[2019-11-14 20:43] shiftkey commented on #1674
@XxZhang2017 let's talk about the changes proposed in #1692

I overlooked this comment - apologies! I think [help wanted](https://github.com/home-assistant/home-assistant.io/labels/Help%20wanted) for this label is a decent replacement, and judging by the screenshot it should be `Hacktoberfest` (with an upper-case H):

<img width="1053" src="https://user-images.githubusercontent.com/359239/68894544

[2019-11-16 16:12] #1674 closed, assigned to XxZhang2017

[2019-11-17 12:09] ritwik12 commented on #1393
@shiftkey Well talking about the UI of our website. We have left and right portion blank only. We can take that to our use and introduce some new sections like "Newly added Projects", "Most trending/visiting", "Projects with max issues", etc.

Tag lines are just a rough idea. Opinions and Discussions needed.

[2019-11-17 18:02] shiftkey commented on #1393
I've been putting this aside to deal with other concerns, but I'd prefer to leave those spaces alone because they're not available when viewing the site on mobile (or a smaller size screen).

Instead I think we should revisit this part of the UI:

<img width="800" src="https://user-images.githubusercontent.com/359239/69011522-b0aeee80-0941-11ea-817c-57912cb86fa3.png">

My theory is that the first

[2019-12-08 11:20] ritwik12 opened #1745 "add "needs work" label when commenting if problems are found"
@shiftkey Not much needed but would nice to have if it could be done easily
If we are confident with @shiftbot. It will be better to automatically add "needs work" label to those PRs on which @shiftbot suggests changes.

[2019-12-12 09:23] beatarudzka commented on #886
Hi, I'm beginner in contributing open source projects.  I would like to get involved with and start work. Let me know if I can start.

[2020-01-04 03:08] shiftkey commented on #1745
@ritwik12 moving this to https://github.com/shiftkey/webhooks/issues/39 as that's where the change needs to be made.

[2020-01-04 03:08] #1745 closed, assigned to shiftkey

[2020-02-29 18:59] santosh-p-hegde commented on #1393
@shiftkey Is anyone working on this issue?  I would love to help

[2020-04-02 15:31] koppor opened #1958 ""Jump in" link broken"
If I click on "Jump in" ...
![grafik](https://user-images.githubusercontent.com/1366654/78267531-5e90f300-7507-11ea-818a-e59b77b40038.png)

Following link opens: https://nikcodes.com/2013/05/10/new-contributor-jump-in

However, it is broken:

![grafik](https://user-images.githubusercontent.com/1366654/78267467-4de07d00-7507-11ea-89e8-7f51a090476e.png)

Version from: archive.org: <https://web.archi

[2020-04-02 15:39] shiftkey commented on #1958
I know the author of that post, so I guess their blog just expired, but I guess this is an opportunity for us to host the content on the site. Maybe a `/about` page here that builds upon the original post (with attribution) would be nice?

I'm open to other ideas here...

[2020-04-02 21:49] igorsteinmacher commented on #1958
I can add some ideas here...
More formally: https://opensource.guide/how-to-contribute/ (I think this one is a good option)
Blogposts:
https://felixrieseberg.com/open-source-newcomers/
https://kentcdodds.com/blog/first-timers-only

Or some more 'motivational' things:
https://blog.softwaremill.com/why-contribute-to-open-source-cc0b95aa82a7
https://dev.to/rhamedy/why-you-should-think-twice-about-con

[2020-04-05 18:14] ritwik12 commented on #1958
I always love Open Source and open ideas. We can work with other ideas also as @igorsteinmacher suggested.
@shiftkey If you can link any of your current blogs like [this](https://brendanforster.com/2013/11/up-for-grabs/) or if you can write a new one. For the time being, let's remove that Hyperlink.

[2020-04-05 20:47] ritwik12 commented on #930
<img width="1630" alt="Screenshot 2020-04-05 at 1 43 18 PM" src="https://user-images.githubusercontent.com/20038775/78509543-75bc2480-7743-11ea-843f-e8643bf220f6.png">

These two white spaces at the sides always trouble me :P
Let's use that empty space a lit bit to improve readability.

How about if we just increase the Centre block on both sides so that The projects with Long description will at

[2020-04-15 11:28] rustmn commented on #930
@ritwik12 I have some ideas for improving FE of the project a and enhance user-experience.

[2020-04-15 11:39] xenoworkforce commented on #930
@ritwik12 I have some ideas for improving FE of the project and enhance user-experience:

1. Add task filter by last update (First of all active).
2. Сhange layout of the page, in particular, move filters to the side menu. Thereby solve the problem of unused space.
3. Add night-mode (many people do not like to look at the white screen).
4. Set nicer colors and fonts.

I can write this in TypeScrip

[2020-04-15 12:13] ritwik12 commented on #930
@rustmn I think it will be good. Can you please share a design or something to see how that would look like before actually making it.
@shiftkey can you suggest the improvements for the front end that we would want to see on the site.

[2020-04-15 12:36] xenoworkforce commented on #930
@ritwik12 ok, I will make PSD layout.

[2020-04-15 19:34] xenoworkforce commented on #930
@ritwik12 okay... something like this. Of course, design is not final and i'm open for your suggestions. Also, current logo is not suitable for the dark theme, if you have .eps / .ai or .svg of it, i can fix this.
![MacBook](https://user-images.githubusercontent.com/28675457/79380496-35da1600-7f69-11ea-97be-0cb837718e91.jpg)

[2020-04-16 12:50] ritwik12 commented on #930
@rustmn That's good. From my point of view I would love to have the old look and improve that. The current look is awesome and lets improve that. For Dark mode. It will be good if we have a toggle or button to switch between Dark and Light modes of the site. Will prefer the Light mode for default though.

I really like the left part, Your views @shiftkey for left side area.

[2020-04-16 12:52] ritwik12 commented on #930
@rustmn If it's not a long work, can you try and add the left part to the present website and share how it looks. Check the tone of color for whichever looks better there. I guess black would suite too

[2020-04-19 12:35] xenoworkforce commented on #930
@ritwik12 ok, done. It might look something like this:
view - 31.131.27.205:4000
changes - https://github.com/rustmn/up-for-grabs.net/commit/7697b7397b1661dd4b9a087fc2646f33d9a27ed9

The search does not work correctly yet, because I have not figured out how it works.

Also, when I open your site, my screen locks for 2 seconds, due to the fact that all projects are rendered at the same time. I can

[2020-04-19 19:41] ritwik12 commented on #930
@rustmn Not able to see the view :(

[2020-04-20 11:25] xenoworkforce commented on #930
@ritwik12 hm... strange.

Then so: https://rustmn.github.io

[2020-04-20 17:03] ritwik12 commented on #930
@shiftkey This is a raw structure, can you suggest what to use and improve in this  https://rustmn.github.io

Also, if you have some design to improve the Front end. Please share.

[2020-04-20 17:03] ritwik12 commented on #930
@rustmn Thanks a lot. For now left side looks pretty good but isn't matching with the current design :(

Also, the right side is stretched a lot. better keep the original only.

[2020-05-19 22:17] fwieland commented on #1285
The <title> tag is important for seo.  If you add "open source contribution projects", and maybe a few other keywords it would help.

A few linking ideas:
One would be to find similar sites and see if they would post a link to your site. Or find a way to get a link on them posting to us.
Get a few blog posts together (on some other sites) about open source and make sure to link to this place.
Add

[2020-05-21 13:59] nicolas-raoul commented on #1285
_Incidentally yesterday some promising young programmer asked me where to find projects to join, and for the life of me I could not find this list... I ended up pointing them to [another list](https://github.com/MunGell/awesome-for-beginners) which is technically inferior and has less data, but is easily findable on Google.
I only remembered the name "up-for-grabs" when I got a notification due to

[2020-05-23 03:54] ritwik12 commented on #1285
@nicolas-raoul @deltafactory @styles225 @fwieland Thanks guys for your valuable feedbacks. This looks like we should work on this issue.

can you guys help us by submitting a PR for your feedback changes in codes?
@nicolas-raoul Let us know what other things need improvements other than descriptions. We'll update the description.

[2020-05-23 03:59] ritwik12 opened #2081 "Update description for the project"
wrt #1285
[code]
This is just an example @shiftkey, please consider updating to the best.

[2020-05-23 23:01] jrusbatch commented on #2081
I updated the repo's description to be similar to the above in the meantime.

[2020-05-24 14:21] ritwik12 commented on #2081
@jrusbatch Thanks a lot, will need tags also to make this project more searchable.

[2020-05-25 11:18] shiftkey commented on #2081
Those topics work - I've added them to the repository too.

Any other changes we should make while we're thinking about this area?

[2020-05-25 11:25] ritwik12 commented on #2081
That should be good I think for now. Rest we have to work in #1285 regarding code changes and indexing. @shiftkey Feel free to close this.

Thanks @jrusbatch and @shiftkey

[2020-05-25 11:28] #2081 closed, assigned to shiftkey

[2020-06-30 17:56] subhromajumder commented on #1160
Hello, is this issue still open? I would like to work on it.

[2020-06-30 18:40] ritwik12 commented on #1160
@subhromajumder It is open, please go ahead!!

[2020-07-01 07:43] subhromajumder commented on #1160
Okay!

[2020-07-01 14:49] subhromajumder commented on #1160
I am making changes to the stylesheet but it is not showing up on the local (cloned) website. Why is that happening? I am sorry, this might be a stupid question, I am a first timer.

[2020-07-17 17:41] akhutail commented on #1112
@shiftkey We can implement sort option similar to how filter option has been done
**Sort by**
**Select sorting criterion...**
Filter by name:
Select a project...
Filter by label:
Select a label...

[2020-07-23 02:41] nindroz opened #2209 "needs to let the user know when there are no search results"
when you pick certain tags and labels, if there is no results it should let the user know that because it is pretty confusing on what happened if nothing shows up

[2020-08-13 17:31] creatorpiyush commented on #2209
Can I work on this issue?

[2020-08-16 05:40] ritwik12 commented on #2209
@nindroz Thanks for creating this issue. It would be useful to have this.

[2020-08-16 05:41] ritwik12 commented on #2209
@creatorpiyush If @nindroz is not working on this. You may go ahead!!

[2020-08-16 21:17] dkbearsong commented on #1160
Is this issue still open? If so I'd like to take a crack at it.

[2020-09-09 20:11] MahmoudMabrok opened #2295 "some projects are out of maintenance from years, need to be removed or has label to indicate this"

[2020-09-09 20:26] ritwik12 commented on #2295
@MahmoudMabrok We do that by removing DEPRECATED PROJECTS. We check for the ones archived or removed by the owner. Do you mean something else?

[2020-09-09 21:09] shiftkey commented on #2295
An example of how this works is https://github.com/up-for-grabs/up-for-grabs.net/pull/2285, and we currently detect:

 - repository redirects (it's nice to point ourselves to the new home)
 - archived projects (maintainers can mark a repository as archived which puts it into a read-only state)
 - missing projects (the maintainer may have deleted the repository or changed it to private)

We also tr

[2020-09-09 22:07] ritwik12 commented on #2295
If we can show the Activity Graph of a repository on the Site, then that would be much better. This is one of the way I choose repositories to work on as I don't want my PR to just hang over there.
<img width="181" alt="Screenshot 2020-09-09 at 3 06 06 PM" src="https://user-images.githubusercontent.com/20038775/92659860-05936b00-f2ae-11ea-9397-142b4f6af146.png">

[2020-09-09 22:12] ritwik12 commented on #2295
One of the way is to get PAST YEAR OF ACTIVITY by using `GET /repos/owner/repo/stats/commit_activity` and other stastics APIs as mentioned in https://docs.github.com/en/rest/reference/repos#statistics.

We can plot graphs once we get the metrics.

[2020-09-10 11:50] MahmoudMabrok commented on #2295
I think tooltip with the date of the last commit done on the repo is a enough for users of the website to know the activity of the repo.
@ritwik12 @shiftkey

[2020-09-10 19:09] anksraws commented on #2209
hy anyone working on this issue, or an i work on it ?

[2020-09-10 19:22] ritwik12 commented on #2209
@anksraws Go ahead!!

[2020-09-27 18:45] ritwik12 opened #2333 "Welcome Hacktoberfest Visitors!"
Welcome, all participants. Thanks for visiting **up-for-grabs.net**

Please go through [README.md](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/README.md), [Instructions to open a pull request](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/docs/list-a-project.md) and [CONTRIBUTING.md](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/.github/CONTRIBU

[2020-09-28 22:40] bellomuboye commented on #912
Good day, May I know the update on this issue

[2020-09-29 03:39] catherineluse commented on #912
I should unassign myself

[2020-09-29 08:09] ritwik12 commented on #912
@bellomuboye you can take it up

[2020-09-29 18:21] batistaDev1113 opened #2344 "Request to improve wording on Readme.MD"
While reading the documentation inside of Readme.md, I realized the last item on the bullet list below can be improved from
![image](https://user-images.githubusercontent.com/15971206/94600123-756a9500-025f-11eb-8276-587ecd9f30ea.png)

**commands to run to verify changes** to **commands to run for verifying changes**.

I believe the wording sounds better.

Could I work on this?

Thank you!

[2020-10-01 06:06] capturemathan opened #2359 "Redirecting to issues page instead of Repo Homepage"
Kudos to a wonderful website 🎉 . Some of the projects are being redirected to `REPO's homepage` instead of `REPO/issues`. Upon seeing the corresponding YAML files I learnt that URL's are pointed to REPO's homepage. (Eg) `https://github.com/dotnet/dotnet-api-docs` instead of `https://github.com/dotnet/dotnet-api-docs/issues`

[2020-10-01 09:28] DhawalKhapre commented on #2359
I would like to solve this issue @capturemathan
I am a first-time here

[2020-10-01 11:08] ritwik12 commented on #2359
@capturemathan Thanks!!. Can you give an example for that. As you can see we use two links. One is `site:` and another is `upforgrabs.link:`. The site one is intended to be a Homepage and the Link one is for issues i.e issues marked with particular label defined in `upforgrabs.name:`

[code]

[2020-10-01 12:08] capturemathan commented on #2359
Yes sir, in here I'm suggesting site: `https://example.org/your-project-link-here/issues` in order to ease user interaction rather than a extra click inside `homepage` :wink: and moreover there are some sites that point to their homepage rather than their `REPO` page (eg) `https://simpleicons.org/` instead of `https://github.com/simple-icons/simple-icons`

[2020-10-01 12:15] shiftkey commented on #2359
I'm not quite sure what the issue is here so I'll try and provide more context.

Each project can specify both a home page (`site`) and a link to the list of issues that are "up for grabs" (`upforgrabs.link`) for new contributors. These are both accessible on the site:

<img width="788" src="https://user-images.githubusercontent.com/359239/94807693-66522700-03c6-11eb-8bf5-5b7cfd4c7b92.png">

We di

[2020-10-01 12:26] #2344 closed, assigned to nobody

[2020-10-01 12:35] capturemathan commented on #2359
Yea sir, this clears a lot of things. I actually thought of always redirecting the user to the issue page but `newbies` might feel difficult without getting a good grasp of the `REPO`.

[2020-10-01 12:35] #2359 closed, assigned to nobody

[2020-10-01 12:39] ritwik12 commented on #2359
@capturemathan Thanks for your concern, I hope you got it.

[2020-10-01 15:27] devcer commented on #1285
Is this issue still open?

[2020-10-01 20:14] ritwik12 commented on #1285
@devcer Yes

[2020-10-01 20:59] ritwik12 opened #2371 "Contributors section in README.md"
@shiftkey We started with https://github.com/up-for-grabs/up-for-grabs.net#contributors- but then I think we stopped doing that. Due to that, it ended up having only a few people which does not look good.

I think we should either do it often to give credits to every deserving one or don't do it at all. What are your thoughts on this?

[2020-10-01 21:37] shiftkey commented on #2371
I wanted to focus on contributions that were not related to listing projects, with things like code and documentation that help keep the project going. If we've overlooked a contribution like that we can add them to the list.

We could add some words to that section to indicate what it's about, if that helps to clarify things...

[2020-10-01 21:42] shiftkey commented on #2371
#1493 also adds some extra context

[2020-10-01 22:02] ritwik12 commented on #2371
@shiftkey Thanks for clarifying.

[2020-10-01 22:02] #2371 closed, assigned to nobody

[2020-10-02 08:27] devcer commented on #1285
@ritwik12 I thought I could get the SEO score up on this site but I see it is already 100. Is there anything specific that I could do to contribute to this issue?

[2020-10-02 08:30] ritwik12 commented on #1285
@devcer We have a lot of action items in this issue as per the suggestions of others. You can pick one from them or if you have any good suggestions that can help in solving this issue. Please do so.

[2020-10-02 20:09] ritwik12 commented on #2295
I think we don't have anything more to discuss here. Closing this one out.

[2020-10-02 20:09] #2295 closed, assigned to nobody

[2020-10-03 19:32] Aliecake commented on #2209
looks like others stopped working on this? I'll take this.

[2020-10-04 01:17] ritwik12 commented on #2209
@Aliecake Thanks

[2020-10-05 01:31] luckyguy73 commented on #2333
Hello, according to this link the repo is supposed to have the topic "hacktoberfest" in order to be eligible as one of the 4 PR goal.  https://dev.to/devteam/happy-hacktoberfest-here-s-how-to-show-up-for-open-source-this-month-4cee
![image](https://user-images.githubusercontent.com/18206189/95032527-c61f2b00-066f-11eb-8de1-274a52690355.png)

[2020-10-05 10:06] ritwik12 commented on #2333
@luckyguy73 Thanks for bringing this up to our knowledge. Things might have changed this time and we were not aware of that.
@shiftkey can you please add "hacktoberfest" to the topics of our repository for the Hacktoberfest duration i.e. only October.

[2020-10-06 06:19] ganapathi12 opened #2390 "add "hacktoberfest" to the topics"
@shiftkey can you please add "hacktoberfest" to the topics of our repository for the Hacktoberfest duration i.e. only October.
@luckyguy73 @shiftkey

[2020-10-06 13:36] #2390 closed, assigned to nobody

[2020-10-06 13:37] shiftkey commented on #2333
@ritwik12 this is done, but if we continue to see spam PRs I'm willing to revisit and drop the label.

[2020-10-06 19:19] ritwik12 commented on #2333
@shiftkey Thanks, Feel free to do so :)

[2020-10-11 06:21] preetkaran20 opened #2399 "Update Yo tool to match current template"
Hi Team,

I have recently added my Project [Owasp VulnerableApp](https://github.com/SasanLabs/VulnerableApp/) to the up-for-grabs using YO generator and i found that there are gaps between the tool and the actual requirement of the PR(Build Actions) and hence user has to-fro multiple times as an example:
Tools doesn't have validations or at a minimal text help which mentioned validations like : is

[2020-10-11 06:22] preetkaran20 commented on #2399
PR where i faced this issue: https://github.com/up-for-grabs/up-for-grabs.net/pull/2380

[2020-10-11 19:17] ritwik12 commented on #2209
@Aliecake I had to revert #2378 as it broke the site. Please check what is getting messed up here.

<img width="1089" alt="Screenshot 2020-10-11 at 12 10 51 PM" src="https://user-images.githubusercontent.com/20038775/95687965-931eef00-0bbb-11eb-9373-0ffca31b0ce4.png">

[2020-10-11 20:31] ritwik12 commented on #2399
@preetkaran20 Thanks for opening this :)

[2020-10-12 20:59] shiftkey commented on #2399
@preetkaran20 thanks for the heads up - you're right that it's very out of date with what we currently support and probably needs some improvements. We have the code available over in https://github.com/up-for-grabs/generator-up-for-grabs but I haven't had time to dig into what needs to change. I'm also not that familiar with how it works.

If we find ourselves needing to publish a new update to N

[2020-10-30 02:34] es-rene99 commented on #1285
Hello I want to take a look at this issue, I can check for including more HTML5 semantics, updating the metadata description of the head.html based on the previous description for the project, and also I did a quick test in https://validator.w3.org/ where the HTML presented some minor errors I can fix.

[2020-10-30 02:56] nicolas-raoul commented on #1285
@es-rene99 Thanks! Please present your findings here and send a pull request :-)

[2020-10-30 17:36] es-rene99 opened #2442 "IE 11 compatibility issue, but is IE compatibility required?"
While working on #2441 I tested on IE 11, in the site's current state without any modifications:
![image](https://user-images.githubusercontent.com/43294836/97732107-a70f8f80-1a9b-11eb-95a8-2ca8dc5b778d.png)
It appears that the Projects script is not working, also my PR for #2441 uses semantic HTML5 elements which are not supported by IE8 or lower https://caniuse.com/html5semantic.

On the other h

[2020-11-03 20:29] ritwik12 commented on #2442
@es-rene99 Thanks for opening this, Sorry for the delayed reply.

**is IE compatibility required?**
It is always better to make the product platform-independent as long as it does not alter the quality on already running platforms. It would be better if it works the same way on IE too. But considering the amount of maintenance and code change it will need for that is an important point for discuss

[2020-11-03 20:30] ritwik12 commented on #2333
@shiftkey Let's close this and remove the `hacktoberfest` from topics too.

[2020-11-04 12:28] shiftkey commented on #2333
Done!

[2020-11-04 12:28] #2333 closed, assigned to nobody

[2020-11-05 21:06] ghost commented on #2209
Is there anything i can do that @Aliecake isnt already fixing?

[2020-11-05 22:46] ritwik12 commented on #2209
@cernoit Hey, I guess @Aliecake got busy somehow. If you can check what @Aliecake missed in that PR and fix that. it would do this. Please feel free to discuss and send a PR.

[2020-11-06 22:01] jordar411 commented on #1115
@ritwik12 Would you be opposed if we contributed a tag counter on each filter? There are so many different tags, and some of them return zero results when applied. Could be an easy, yet effective value-add.

[2020-11-06 22:05] jordar411 commented on #1115
@ritwik12 excuse me, I meant "labels" in my previous post.

[2020-11-06 23:19] ritwik12 commented on #1115
@jordar411 Hey, I could not understand that clearly. But if you mean quantifying the LABELS then I think we already have it under `Popular tags:`. If it's something else then can you please elaborate with an example, please?

[2020-11-06 23:28] jordar411 commented on #1115
@ritwik12
I'm sorry! I've attached screenshots for reference. ![image](https://user-images.githubusercontent.com/38548084/98423686-744a3600-205d-11eb-9b99-e8fff1d1b349.png)![image](https://user-images.githubusercontent.com/38548084/98423702-7ad8ad80-205d-11eb-97a5-24d19488dd1a.png)

The total amount of items references by a specific label. If you feel that this is redundant, I can disregard. 😄

[2020-11-07 20:22] ritwik12 commented on #1115
@jordar411 I got it now, thanks for the explanation. I think it will not be suitable to show them up in the field itself. We can introduce something same as "Popular tags:" like "Popular Labels:" and show the Highest count values like 5-6. What do you think? How would you like to show the counts instead?

[2020-11-07 20:31] jordar411 commented on #1115
@ritwik12 I like that idea! I can 100% do that, with your approval.

[2020-11-07 20:51] ritwik12 commented on #1115
@jordar411  Sure, go for it please.

[2020-12-11 21:22] ritwik12 opened #2504 "Enable Discussions"
@shiftkey I was thinking that we should enable discussion to our repo for others to discuss stuff without opening up issues.

Repo > Settings > Features section >
- [x] Discussions

[2020-12-13 17:16] shiftkey commented on #2504
@ritwik12 done. Let me know if there's anything else that needs to be configured.

[2020-12-13 17:23] ritwik12 commented on #2504
@shiftkey Thanks a lot, that will be all for this :)

[2020-12-13 17:23] #2504 closed, assigned to nobody

[2021-01-07 18:51] x-N0 opened #2536 "Mark/Tag repo as dead/unactive"
Found out that the web is suggesting some repos that have a latest commit of back 5 years ago. : /

[2021-01-07 18:52] x-N0 commented on #2536
This can be done based on the latest commit's date.

[2021-01-08 20:29] ritwik12 commented on #2536
@x-N0 We do remove deprecated projects, which are either removed or are archived by the repo owner.  I don't think there is a way to judge a project by its latest commit.

_`Someone can lit a fire if there is a piece of grass with a single matchstick`_

 Saying that even if a project is inactive for a quite long time, someone may make use of it someway. though I understand the fact if some project

[2021-01-10 16:16] shiftkey commented on #2536
We use the `last-updated` field as a proxy for activity on the project, which looks for the most recent "last updated" date for any issue with the relevant label we're tracking on UfG.

https://github.com/up-for-grabs/tooling/blob/ab73ed98057008ca3a6f41b6205b5072416330a6/lib/queries/github_repository_label_active_check.rb#L75-L97

This feels more relevant than looking at the commit time as we're i

[2021-01-28 09:59] psprint opened #2560 "Setting up a public write access – as your project does?"
Hi,
I've noticed that [this](https://github.com/up-for-grabs/up-for-grabs.net/new/gh-pages/_data/projects) link allows to create a file for everybody, publicly. Can I ask you in what method did you succeed to configure GitHub like this? I was googling for few hours and didn't find any clues. I would like to create a mob branch in my repository.

[2021-01-28 13:54] shiftkey commented on #2560
That link doesn't support anyone being able to write to a project, and when you try it in a repository that you don't have write access to you'll see this message as a banner:

That's this part of the URL, and includes the branch name you wish to target: `https://github.com/up-for-grabs/up-for-grabs.net/new/gh-pages`

After that, you can add a path fragment to represent the directory where this fi

[2021-01-28 13:54] #2560 closed, assigned to nobody

[2021-01-28 18:35] ritwik12 commented on #2560
@psprint What were you looking for exactly?

[2021-02-16 14:27] consolexyz commented on #2209
can I work on this?

[2021-02-16 19:00] ritwik12 commented on #2209
@Mosesobike Yes sure, please go ahead.

[2021-03-15 04:57] priyanks25coder commented on #1160
Is this issue still open? Wanted to work on it so..

[2021-04-01 22:04] rajatkishore2895 opened #2652 "Upfor grab"

[2021-04-02 18:27] #2652 closed, assigned to nobody

[2021-04-22 13:04] atom-box opened #2687 "Home page form has no button"
I was expecting there would be a submit button on this form:
https://up-for-grabs.net
The middle part of the page looks like a form but there is no way to submit.
Hitting Enter on the keyboard does nothing.

I'm using Firefox (on Kubuntu).

![upforgrabs-form-buttonless](https://user-images.githubusercontent.com/22874146/115719033-53427c80-a341-11eb-9690-ac7c706ff174.png)

[2021-04-27 16:30] SJellen commented on #2687
<img width="1002" alt="Screen Shot 2021-04-27 at 12 27 44 PM" src="https://user-images.githubusercontent.com/51421669/116277991-08b36c80-a754-11eb-892e-cd1037d0969b.png">

It's not a form it's three drop downs and when you select an option it filters.

[2021-04-27 20:18] ritwik12 commented on #2687
Thanks @SJellen .
@atom-box We have #2209 that should remove that confusion which you got. Closing this for now.

[2021-04-27 20:18] #2687 closed, assigned to nobody

[2021-05-22 21:11] ritwik12 opened #2726 "/contribute"
I am not so sure if this is something new or I missed it. I noticed that `repo/contribute` gives a list of open issues with `good first issue` labels. We should make that useful. Maybe to make it default in our scripts to check for issue count or maybe in Readme to suggest users. Or maybe we can just ignore it.

Example:

[2021-06-14 16:15] matkoniecz commented on #2536
What about dead projects, especially ones where PRs wait for years for reviews?

For example this should not be listed and right now is prominently listed:

https://github.com/FsCMS/FsCMS/issues/2 "The CMS needs marketable branding: smile Name Logo" - project is dead

See also https://news.ycombinator.com/item?id=27498602

[2021-06-16 01:23] zersiax opened #2768 "Accessibility: For some odd reason screenreaders don't see the list of projects"
Just had a super quick look at this page and something odd appears to be happening.
The entire projects section between the " Projects"  h1 and the "I want to get involved"  h1 is just completely invisible for screenreader users.
I see the elements in the DOM tree, but something is making the screenreader think that part is not actually part of the DOM. The usual suspect is an errand aria-hidden s

[2021-06-24 04:28] matkoniecz opened #2780 "Remove specific inactive repo (rollodexjs)"
Triggered by https://github.com/up-for-grabs/up-for-grabs.net/issues/2536#issuecomment-756983482 that rejected automatic removal

https://github.com/professionalzack/rollodexjs/issues/1 would require a significant effort to produce a PR

This project is clearly abandoned, see https://github.com/professionalzack/rollodexjs/pulls

https://github.com/professionalzack/rollodexjs/pull/2 and https://git

[2021-06-27 02:38] #2780 closed, assigned to nobody

[2021-06-27 02:43] ritwik12 commented on #2536
@matkoniecz What you say makes sense. We don't want to direct new contributors to the projects where they would feel lost or ignored. That gives a bad user experience due to which people tend to stop contributing to Open Source. I had same experiences so many times.

Do you have a solution or suggestion for this? How should we tackle this.

- One way we can do this is to track the latest commit on

[2021-06-27 06:55] matkoniecz commented on #2536
Sort by the latest commit date? That will be put inactive and trickier repositories on the end - with dead projects easier to spot for a manual removal (project without commits but with actual contributions would stay on the list).

[2021-06-27 17:49] ritwik12 commented on #2536
@matkoniecz  Yes that makes sense, we can have a label/filter to sort by that.

[2021-06-28 17:45] genderplugin commented on #2768
Hi!

I am using the NVDA screenreader and everything seems to still be working fine. Is this still an issue for you?

[2021-06-28 18:41] zersiax commented on #2768
Hmm. No, or well ...not in Firefox, but yes in Chrome and Edge, where I have adblockers running.
I see an error in the console abou google analytics erroring out, might that be why?

[2021-06-28 19:18] ritwik12 commented on #2768
@zersiax Did you tried without Adblockers? This should not be an issue as we are not serving ads. Maybe your ad blocker is blocking even google analytics.

[2021-06-28 19:21] ritwik12 commented on #2768
@zersiax I am really impressed to see that you are contributing to Open Source. if you are a beginner or need any help. Feel free to pop a mail to me anytime. Would be happy to help :)

[2021-06-28 19:39] zersiax commented on #2768
Looks like tracker_prevention settings in the browser are blocking Google Analytics ...which makes sense, given GA is a tracker :)
Might be that GA is in the minified JS before the list of filters gets loaded, that would probably cause this behavior :)

[2021-06-28 19:51] ritwik12 commented on #2768
@zersiax Thanks for taking a look. From what I can see in `_includes/scripts.html` at https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/_includes/scripts.html. The GA is mentioned at the last only.

[2021-06-29 00:55] genderplugin commented on #2768
@ritwik12 sorry to hop on but could I send you an email as well? having trouble finding a good first issue to tackle and would love some tips.

[2021-06-29 12:09] ritwik12 commented on #2768
@ethanstarcher Sure, I was thinking of taking your name also. Please let me know if I can help you.

[2021-07-02 17:26] fundamental commented on #2536
My personal opinion is that abandoned repos or repos with sufficiently poor workflow should be aggressively pruned. You want a good experience for the contributors after all. When I've checked random repositories in the past they're very often unmaintained or poorly maintained which makes for a pretty lousy experience. Since git activity is not something that seems to be deemed good enough for det

[2021-07-04 10:55] ritwik12 commented on #2536
@fundamental Thanks for the information, that makes sense. we can develop scripts based on this and parse all the existing projects on up-for-grabs.net to check for dead/inactive projects per week or few days. and that can be opened as a PR as we do for projects stats updates and archived ones.

@fundamental Sure, every single contribution is helpful. If you cant open up a PR maybe someone else wi

[2021-07-04 10:57] ritwik12 commented on #2536
@fundamental The scores that you provided, are these the projects hosted at up-for-grabs.net or random projects?

[2021-07-04 12:15] fundamental commented on #2536
The scores are based upon parsing _data/projects/*.yml and using the ['upforgrabs']['link'] field to derive the organization and repository name. If it's preferred I can dump things in the format of "score, _data/projects/source-file.yml", but a quick grep should show the correspondences even if the original contributor named the .yml file something abnormal.

[2021-07-04 18:03] ritwik12 commented on #2536
@fundamental Yes, that is good. Thanks for sharing.

[2021-08-20 06:32] mrpandya commented on #2209
@ritwik12  is anyone working on this issue? If no, is there anything I can work on this issue?

[2021-08-20 09:57] ritwik12 commented on #2209
@mrpandya For now nobody is working on this. You can work on it if interested. Please open a new PR or you can fix the bugs in  #2378.

[2021-09-12 04:40] Jai2305 commented on #665
Is this issue still open because I really liked what @layely  did , but I still don't see the implementation in the website.

[2021-09-12 11:57] ritwik12 commented on #665
@Jai2305 This is still open, the PR had few bugs due to which I had to revert it.

[2021-09-14 20:10] ritwik12 commented on #2209
Resolved by #2879

[2021-09-14 20:10] #2209 closed, assigned to nobody

[2021-09-14 20:15] ritwik12 commented on #930
@Jai2305 Thanks for the contributions. I wanted to change the current Look of the site which is mostly focused at the center. If you are interested. Please have a look at that.

[2021-09-24 13:15] Jai2305 commented on #930
Hi, @ritwik12  first of sorry for late reply, firstly  if you have scrolled down to say 50 projects , u have to come all the way up again to use different filters (I know there is a button  Scroll to Top) but still the website should have a fixed navigation bar or menu which stays on top ( let me know your opinion ) , secondly as you said currently now the website is just displaying content in the

[2021-09-24 17:44] ritwik12 commented on #930
@Jai2305 Makes sense for having to scroll up all the time. it is always better to have Menu bar or pagination at least.
we can use another template also and customize the current one too. Though a lot of automated stuff is currently going on with the current template so changing it would mean a lot of work. It is better if we just change the styling and all to get it done with ease.

[2021-09-25 09:59] Jai2305 commented on #930
Then we should customize the current template , I will try to come up with a design , it may take a while though, so I guess should make this open for everyone interested , if anyone comes up with the a front end design then they can post a message here or open a pull request and tag this issue within, so that people who are interested can work together

[2021-09-26 10:58] ritwik12 commented on #930
@Jai2305 Sure, please take your time. yes this is open to everyone. Any can contribute and work together.

[2021-10-09 00:34] elvinuchendu commented on #930
Hi, is this issue still ongoing? I would like to take part.

[2021-10-09 10:56] ritwik12 commented on #930
@elvinuchendu Yes, for now @Jai2305 showed interest and if you have any ideas. We would be happy if you can contribute.

[2021-10-11 04:49] elvinuchendu commented on #930
Awesome! Are you able to assign this to me?

[2021-10-11 19:21] ritwik12 commented on #930
@elvinuchendu This Issue consists of multiple parts so won't be able to assign as others might be working too. but since you called out here. Consider it assigned. Just call out what you are working on so that someone else will not be working on the same at this time.

[2021-10-22 08:21] TBeeren commented on #886
Hi! I can work on this! Let me know if it's still open 😄

[2021-10-25 02:55] maryanamorato commented on #1160
could you assign to me?

[2021-12-19 22:17] ghost commented on #1285
New contributor.

A sitemap would be a good idea. Do we have that?

Also, we could submit the site to some lists [like this](https://catalins.tech/find-open-source-projects-to-contribute-as-a-beginner) (although that example already contains this project, it would be nice to find some other ones that don't and submit there).

Note that I don't know much about SEO beyond the technical aspects. I ha

[2021-12-19 22:19] ghost commented on #930
You are definitely right about the dark mode option. IMO, I think a dark mode option should be the default one.

[2021-12-19 22:20] ghost commented on #930
By the way, on the dark mode, the contrast really isn't that great (especially for the logo).
![image](https://user-images.githubusercontent.com/61570792/146692812-f500a292-7e7d-49f2-ba0d-cdb082a4030b.png)

[2021-12-19 22:21] ritwik12 commented on #1285
@ConnorAhern thanks for the suggestions.

[2021-12-19 22:26] ritwik12 commented on #930
@ConnorAhern Those points are good to have, I have added those in the first comment of this issue as action items.

[2021-12-19 22:27] ritwik12 commented on #930
@ConnorAhern If you are up for working on this, please feel free to drop samples of the work or PR.

[2021-12-19 22:27] ritwik12 commented on #930
@ConnorAhern  Yeah, it needs to be worked on. Thanks for the nudge.

[2021-12-19 22:30] ghost commented on #930
Alright!

[2021-12-19 22:59] ghost opened #3014 "Code tidiness"
I've been looking through the code, and it seems pretty difficult to work on.

The code isn't written very well, it's hard to read, and doesn't follow many best practices.

Also, I had to do a lot of guessing to figure out how to test my changes. There isn't a clear guide to it.

## Examples
### Bad best practices
#### Front-end
~~Loading an excessive amount of inline JS in the `<head>`.~~

Neverm

[2021-12-20 00:01] ghost opened #3015 "Add a security policy"
This would go along with #365's 3rd task as we would need a contact email for security:
![change contact address to something under the up-for-grabs.net domain](https://user-images.githubusercontent.com/61570792/146695548-e5209fdc-f4d4-4f69-a230-54022041e6e6.png)

It can be helpful to let people report security vulnerabilities to this repo - although I don't know how likely a security vulnerabilit

[2021-12-20 13:03] shiftkey commented on #3014
@ConnorAhern thanks for starting this discussion:

There's a [section in the `CONTRIBUTING.md`](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/.github/CONTRIBUTING.md#testing-the-site) about testing that might be of use, but that likely needs an update too.

Some other quick thoughts while I'm here:

Not sure I understand this one - got an example handy to share?

Yeah, I'm not awa

[2021-12-20 17:01] ghost commented on #3014
Ah, I see. My bad.

Oops - didn't notice that! Thanks.

[2021-12-20 17:06] ghost commented on #3014
I'll edit it into the post in a second.

Edit: Nevermind! It's fine.

[2021-12-20 17:11] ghost commented on #3014
Do you mean link or lint? If you mean link, yes, I agree. If you mean lint, can you clarify?

[2021-12-20 17:14] ghost commented on #3014
Hey, I was trying to follow the instructions in `CONTRIBUTING.md`. The first thing I did when trying to "guess" how to test it was using the `bundle` commands, but I got this error:

[code]

I only recently started coding in Jekyll/Ruby, so I'm not sure what to make of these errors. Is there something I typed wrong on my end?

BTW, `bundle install` works fine, but it's `bundle exec jekyll serve` t

[2021-12-20 17:40] shiftkey commented on #3014
Not a typo - "lint" in this context means formatting our scripts in a consistent pattern. We use ESLint with a set of rules defined here:

https://github.com/up-for-grabs/up-for-grabs.net/blob/cd14abae7bac9629b05a47f60431f7999cd12f24/.eslintrc.json#L1-L18

This means we can just run `npm run lint` and catch any errors, or `npm run lint-fix` to try and auto-fix anything:

https://github.com/up-for-

[2021-12-20 17:42] ghost commented on #3014
Ah, I see what you mean. I haven't used ESLint before.

[2021-12-20 17:53] ghost commented on #930
Do we want the layout to look like this as @rustmn mentioned? I could start on that, but we'd need to get other PRs merged first so that there aren't merge conflicts.

![image](https://user-images.githubusercontent.com/61570792/146810927-ebb2a25c-4dfb-487a-9757-e0c08b277c7e.png)

[2021-12-20 18:02] ghost commented on #912
I could probably help with this if we still want to work on it?

[2021-12-20 19:28] ritwik12 commented on #930
@ConnorAhern This is one of the good ideas, if you have other ideas it would be good to go with them. if you don't want to start from scratch and this looks good to you, it should be fine too.

[2021-12-20 19:34] ghost commented on #930
I'd be happy working on implementing that design. It looks great to me.

[2021-12-20 19:39] ritwik12 commented on #930
Go with it please @ConnorAhern

[2021-12-20 20:06] ritwik12 commented on #912
@ConnorAhern Yep, feel free to.

[2021-12-20 20:09] ritwik12 opened #3026 "Improve Logo"
Our current logo of Up-for-grabs works great in light mode but it has issues with contrast and visibility under dark mode. We need to find a way to either improve the same logo for dark mode or to use a new and better logo. A logo is something that is the root of some project or product. I wouldn't want to change it without discussions. hence, opening this for discussions on that.
Ref: #3023

[2021-12-21 00:47] ghost commented on #3026
IMO a new logo would be OK because the current one is a bit complex and somewhat hard to read, but it's not a major deal.

[2021-12-21 18:40] ghost commented on #930
Alright. I can start with it today.

[2021-12-21 19:19] ghost commented on #930
Does anyone know what font is used in this?

[2021-12-21 19:20] ritwik12 commented on #930
Current up-for-grabs.net font is good, lets keep it that way for now.

[2021-12-21 19:36] ghost commented on #930
Alright

[2021-12-21 19:38] ghost commented on #930
Can we do some kind of survey of the users of the site and ask if they prefer light mode or dark mode as a default?

[2021-12-21 19:42] ritwik12 commented on #930
Yeah, we can check that, Do we have a way to check how many users click on the dark mode? it toggles a theme that is static I guess, I am not sure if we get the reply from there or it is only on the user side. If it is dynamic then we can surely record that and get an estimate about how many users are using dark mode or light mode.

[2021-12-21 19:45] ghost commented on #930
We could maybe set up something with Google Analytics? I think it's possible to send custom data to Google Analytics.

[2021-12-22 00:13] ghost commented on #930
I have made some progress. See #3023.

[2021-12-22 00:18] ghost commented on #930
By the way, I accidentally removed this in my changes. I will add it back in a bit.

[2021-12-22 19:03] ghost commented on #930
It is back.

[2022-01-12 20:32] developer-diganta opened #3044 "Save dark mode in local storage"
The dark mode once enabled/disabled can be stored in local storage for future reference so that the next it automatically loads in the previous mode?

[2022-01-30 22:39] ritwik12 commented on #3044
@developer-diganta Yep, that would also remove the confusion that we have to make DARK or LIGHT default as per @connorahern in #3023.

Want to do it @developer-diganta? let us know if any help needed.

[2022-01-31 09:43] developer-diganta commented on #3044
Yes, I'll do it then!

[2022-02-03 21:11] ritwik12 opened #3064 "Continuous Integration / site (pull_request) Failing"
Looks like a dependency updates issue as the script is not changed under tooling. @shiftkey When did we started gettin this error, any idea?

[2022-02-03 21:24] ritwik12 commented on #3064
#3054 seems to be the culprit which I accidentally merged, reverting that.

[2022-02-03 22:05] ritwik12 commented on #3064
This is fixed and confirmed in #3056 and #3057

[2022-02-03 22:05] #3064 closed, assigned to nobody

[2022-02-13 17:52] shiftkey commented on #3014
Apologies for the delay here, but I'm only just now finding some spare time for this after working through some automation headaches yesterday. I've merged #3025 to ensure that Windows contributors can work with the solution, but let me know if you spot anything else unexpected @ConnorAhern.

[2022-03-08 22:18] #3044 closed, assigned to developer-diganta

[2022-03-08 22:27] ritwik12 commented on #1285
We need to prioritize this issue as I was recently trying to see if our site comes up on google without an exact name of the site like "open source projects", "open source projects for beginners" and so on. but strangely it does not come up at all. In that case a person who is just starting with open source won't be able to find this site.

[2022-03-24 12:59] Jai2305 commented on #930
Hi , been a long time, was really busy with work...
so I had a simple to execute yet pretty design in mind
![image](https://user-images.githubusercontent.com/47395196/159920655-6deee23b-410c-4e4a-928e-8a73e1239274.png)
So I was thinking maybe we can use the space here in a more efficient manner by displaying projects in form of tabs/cards , the design would be responsive and they will be of the sa

[2022-03-24 13:02] Jai2305 commented on #930
we can play with the colors and see what seem fit in dark mode too , also for menu , how about a toggle button on the side which will reveal a banner for filters , it's just an idea , I have not worked on it yet .

[2022-03-24 17:55] ritwik12 commented on #930
@Jai2305 Thanks for the ideas. Tabs looks good to me. The SS is not having tabs of same size but I am assuming you meant all will be of similar size and this is just a example without same size.

We can also have the toggle button for filters but if there is space available then the current one seems fine too.

[2022-03-25 00:40] renzos75 commented on #665
Hi, is this issue still? Would like to have a crack at it

[2022-03-25 04:31] Jai2305 commented on #930
yeah in the SS they are not same size because I have not worked on it yet ; to be honest , I am not sure if read more would be a good choice that's why I was thinking about css grid auto-placement , after that it won't waste any space tabs will cover up the available space , if I make any progress , I will make  sure to share here first before working further .

[2022-03-28 06:10] Bencourt commented on #3026
Hi there, I created a new minimalist logo with a few versions for light/dark mode that I thought might be of some use, and I also made several alternate design sketches if any of those are a better fit. Please let me know if these would be beneficial, and if they are I can create a pull request from my fork that includes the files
![up_for_grabs_logo_white](https://user-images.githubusercontent.co

[2022-03-30 04:40] Jai2305 commented on #930
Hi, I made a pull request #3146 , but the checks are failing on that , can someone suggest me reasons due to which they might be failing as well as the changes I can make in the code , also please comment on the look in the pull request so that I know it is worth working on it or it should be changed , any ideas will be appreciated

[2022-03-31 18:56] ritwik12 commented on #930
@Jai2305 Those are due to merge conflicts. If you see stuff like <<<<< and ======= in your code when you commit something and create a pull request. that is merge conflict. Reason for that is due to files having a conflict between two changes.

Suppose you made a change in some file in your local and did not yet pushed it by creating a PR. Someone else also made some changes in their local and pus

[2022-03-31 18:57] ritwik12 commented on #930
Try to read https://www.atlassian.com/git/tutorials/using-branches/merge-conflicts. For simple steps, github opens a merge conflict window when there are merge conflicts. just go there and remove those lines with <<<<< and ===== which are not related to your code.

[2022-04-01 06:14] Jai2305 commented on #930
Yeah, actually I anticipated that checks are failing due to merge conflicts but they can only be resolved if I get yours or any authorities to take a look at it and let me know that changes I have made are acceptable or not , because for eg , I changed the table tags to div tags for better front end design because there is not so much you can do while using table tags , the changes are very small

[2022-04-12 07:41] Sboonny commented on #1285
I would love to work in this.
I think helping accessibility will help with seo search, or do I open second issue related to accessibility
- [ ] adding skip-to-main button for people who use keyboard to navigate the website.
- [ ] fix content being skipped when you press tab while browsing the site. I think this issue because the site have multiple `<h1>` tags
- [ ]  replace div tag with descriptiv

[2022-05-01 22:54] Bencourt commented on #930
Hi there, I posted a comment on a different issue thread about updating the logo, but it seems like this thread has more attention so I thought I might post again. I have come up with a couple alternate logo ideas since the current logo has issues with readability in dark mode. I was hoping to get some thoughts and propose changing the current logo to one of my designs. Please let me know what you

[2022-05-03 02:25] Bencourt commented on #930
Hi once again, I noticed some issues with the dark and light mode styling such as the header backgrounds having a white background in the dark mode, the return to top button being light in dark mode, the blue font color being somewhat difficult to read in dark mode, and the box drop shadow being somewhat visually confusing, so I made some updates to the styling and they currently live on my fork o

[2022-05-03 18:53] ritwik12 commented on #930
@Bencourt Thanks a lot for creating PR and contributing. I can't comment on the logo @shiftkey might be able to tell better.
I agree with you for Dark mode issues, can you please share Screenshot of the design after your changes?

[2022-05-08 13:41] AllanOcelot commented on #930
Coming back after a long hiatus here, but I had a spare hour to crack this up whilst waiting for an email reply!

Happy to share the Adobe XD file with anyone who wants it - just shoot me a mail.
Sadly I lack the free time to code any of this currently but happy to discuss points with anyone interested.
![Web 1920 – 1](https://user-images.githubusercontent.com/11334905/167298939-60999d68-22ba-438d

[2022-05-08 17:26] Jai2305 commented on #930
Hi, that's a really good design , i think it is better than the current, also I guess we can make the side menu bar collapse into a little burger option on top which will be set to sticky  so that user can use filters whenever they want after scrolling , all good but I guess we gotta keep the logo out of menu bar , if it collapses with the rest of the menu into a button it won't be visible at the

[2022-05-08 17:34] ritwik12 commented on #930
That's a good design @AllanOcelot. Thanks for the ideas. @Jai2305  You are right, it would be great to have it as a collapsible side bar. For the logo I would say let's try to keep it on top left for this where after collapsible it'll stay there in form of a semi circle or circle.

Thoughts?

[2022-05-08 17:40] Jai2305 commented on #930
Yeah, I guess we can do that , I am just trying to figure out the mobile version of this in which rather then left logo stays on top.

[2022-05-08 20:41] AllanOcelot commented on #930
Glad you like it - happy to tweak things, if there's interest in getting this going forward I can certainly Mock up a mobile version with a collapsible sidebar & smaller logo/icons etc.

Realistically it would be Tuesday/Wednesday night due to work commitments - but I'm following the thread and will work other suggestions etc in

[2022-05-09 19:47] ritwik12 commented on #930
Yeah @AllanOcelot, that would be awesome. If you are busy and @Jai2305 is ready to work on it. It would be great to have the mobile design too.

[2022-06-01 03:40] p4nu commented on #930
I'm also interested in implementing mobile layout when the design is ready 👍

[2022-06-16 17:29] Potato-29 commented on #1160
is this still open?

[2022-06-20 06:37] ritwik12 commented on #1160
Yep this is still open

[2022-07-02 16:41] jalaniz1 commented on #3015
Hmm, I think a potential source of vulnerabilities could come from the dependencies? Github has a dependabot security feature that can be enabled to detect dependencies that have security vulnerabilities and can automatically open a PR to resolve the issue by updating the tags.

I did a scan with Lighthouse on up for grabs .net and it did find this:
![image](https://user-images.githubusercontent.c

[2022-07-02 18:03] jalaniz1 commented on #930
Another source of ideas for improvement could potentially come from looking at the Lighthouse report for up for grabs.net. I suppose these might be considered to be optimizations rather than improvements but thought of sharing anyway.

Here's a sample report run from my browser with mobile as the targeted platform:
[up_for_grabs_net.pdf](https://github.com/up-for-grabs/up-for-grabs.net/files/90334

[2022-07-02 18:48] jalaniz1 commented on #2442
**is IE compatibility required?**

Almost two years later and IE is now officially retired 😄. IMO, targeting evergreen browsers seems like a better use of our time now adays.

[https://blogs.windows.com/windowsexperience/2022/06/15/internet-explorer-11-has-retired-and-is-officially-out-of-support-what-you-need-to-know/#:~:text=After%2025%2B%20years%20of%20helping,today%2C%20June%2015%2C%202022.](u

[2022-07-03 19:12] ritwik12 commented on #3015
@jalaniz1 Thanks for checking on this. Can you please open up a PR for this?

[2022-07-03 19:14] ritwik12 commented on #930
@jalaniz1 Thanks for sharing the report. I think we can work on this and open up few issues to take the concerns.

[2022-07-03 19:15] ritwik12 commented on #2442
RIP IE!!

[2022-07-03 19:15] #2442 closed, assigned to nobody

[2022-07-06 04:10] jalaniz1 commented on #3015
@ritwik12 Here it is https://github.com/up-for-grabs/up-for-grabs.net/pull/3263

[2022-07-06 04:19] jalaniz1 opened #3262 "Security: Update jQuery@3.4.1 to Address Known Vulnerabilities"
Performing a scan with Lighthouse on up for grabs.net revealed a known vulnerability count for jQuery3.4.1. I then did a scan with Lighthouse on jQuery@3.6.0 on a codesandbox instance and that one passed the audit check.

![image](https://user-images.githubusercontent.com/1664815/177009005-d2799c89-28d4-46f9-848c-9953fc2959ab.png)

_Originally posted by @jalaniz1 in https://github.com/up-for-grabs

[2022-07-10 07:51] #3262 closed, assigned to nobody

[2022-07-12 10:16] intelkid7 commented on #3026
Try using a colour which is kinda a mixture of both dark and light shades. For example - sand brown is visible in black as well as white or if you wan't to keep the logo color intact you need to change the logo background

[2022-07-12 10:21] intelkid7 commented on #3014
Seeing the code I guess it is written in Visual Studio Code. If that's the case, just use the format option in visual studio code. You will get it by right clicking in the empty sapce besides the code. Else, copy the code to visual studio code and then format it.

[2022-07-28 20:52] Adrian-Samoticha commented on #3026
Is there anything that speaks against making an alternative dark-mode version that simply uses a different color palette and [only shows up when dark mode is enabled](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#specifying-the-theme-an-image-is-shown-to)?

[2022-07-31 13:26] JiGzSaw01 commented on #1160
Hi! can i try to work on it?

[2022-08-03 10:30] ritwik12 commented on #1160
@JiGzSaw01 Sure

[2022-08-07 22:25] abol3322 opened #3297 "anti cheat kicking ppl"

[2022-08-07 22:33] abol3322 opened #3298 "anti cheat"

[2022-08-07 22:34] abol3322 opened #3299 "anti cheat"
when i use anti cheat ppl will get kick from dungeons
for nothing
randomly ppl wil get kick
but they not useing cheat
i test it buy my self

[2022-08-08 13:52] #3299 closed, assigned to nobody

[2022-08-08 13:52] #3298 closed, assigned to nobody

[2022-08-08 13:52] #3297 closed, assigned to nobody

[2022-08-19 22:04] danmoseley opened #3321 "Encourage "help wanted""
Like many repos we used "up for grabs" but GitHub now has UI that lights up if you use "help wanted", for example

![image](https://user-images.githubusercontent.com/6385855/185713664-35fb9550-327b-4b8a-8b80-ca0a14b13da3.png)

They also specially recognize "good first issue" by listing them on a page like this -- and not, for example "easy": https://github.com/dotnet/runtime/contribute

There's no

[2022-08-22 11:46] ritwik12 commented on #3321
@danmoseley Thanks for pointing this out. AFAIK, we are not promoting or encouraging up-for-grabs. it is in the docs just for the sake of an example. We are good with any such label and we encourage "good first issue" and other labels too.

I personally use "good first issue" in my repos for that. If you feel, Github is encouraging few labels over others. Please feel free to add that in our Docs a

[2022-09-19 14:17] shiftkey commented on #3014
Closing this out as the original author has deleted their account.

Please open a fresh issue if there are things to discuss.

[2022-09-19 14:17] #3014 closed, assigned to nobody

[2022-09-19 14:28] shiftkey opened #3382 "investigate why label checks return empty string for valid repository labels"
[code]

I need to look into why this job is now generating these incorrect messages (probably some token needing to be renewed) but the logic is here if someone wants to review the code:

 - [`GitHubRepositoryLabelActiveCheck#run`](https://github.com/up-for-grabs/tooling/blob/4e97f4ba521ee87a586836fdb57c5318dcef3af6/lib/queries/github_repository_label_active_check.rb#L20-L46) - the logic that we u

[2022-09-19 15:50] shiftkey commented on #3382
I've got a lead on this and the root cause of the error, and the webhooks will now propagate this error instead of the original confusing message:

[code]

[This area is my current focus](https://github.com/up-for-grabs/tooling/blob/7d37ce0951b4a05edde6ecadc133d75be1e34a59/lib/queries/github_repository_label_active_check.rb#L20-L48) but I need to step away and focus on some other stuff.

[code]

[2022-09-19 17:53] shiftkey commented on #3382
https://github.com/github/graphql-client/issues/262 this appears to be an upstream issue

[2022-09-19 23:56] shiftkey commented on #3382
The root cause here is that the environment variable had been dropped from the deployment and loading the GraphQL schema

[code]

Without the expected environment variable this would fail as the backend would return a 401 without the payload.

https://github.com/up-for-grabs/up-for-grabs.net/pull/3384#issuecomment-1251686440 shows this fix in action.

[2022-09-19 23:56] #3382 closed, assigned to shiftkey

[2022-09-20 12:55] JeetPatel1016 commented on #930
I've been going through this thread and while I do not wish to greatly alter the layout of the site (it seems alternate layouts have been proposed by others), there are few changes that I made for the color theme and I'd like to suggest them.

Light Mode:
Some slight modifications have been made to the light theme and that includes:
- Contrast between page background and the Main container
  - Did

[2022-09-20 19:26] ritwik12 commented on #930
@JeetPatel1016 Thanks for your suggestions. All your suggestions look good to me, especially the Dark Mode contrast. Please go ahead with your changes except for the logo change. The current logo in bright mode looks better than your suggestion here.
Please raise a PR.

[2022-09-21 09:04] JeetPatel1016 commented on #930
@ritwik12 I've raised a PR and dropped the logo change as you mentioned.

[2022-09-27 07:43] SaadOps opened #3397 "Adding the hacktoberfest label"

[2022-09-29 06:29] AryanP45 commented on #3397
I think they'll add in October

[2022-09-29 15:37] ritwik12 commented on #3397
Thanks for reminding, adding them.

[2022-09-29 15:48] ritwik12 opened #3406 "Welcome Hacktoberfest 2022 Visitors!"
Welcome, all participants. Thanks for visiting up-for-grabs.net

Please go through [README.md](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/README.md), [Instructions to open a pull request](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/docs/list-a-project.md) and [CONTRIBUTING.md](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/.github/CONTRIBUTING

[2022-09-29 15:52] #3397 closed, assigned to nobody

[2022-09-29 16:28] chiragkhatri19 commented on #3026
Can I contribute ?

[2022-09-29 21:25] ritwik12 commented on #3026
@chiragkhatri19 Sure

[2022-09-30 06:27] Dani-Google commented on #3026
@ritwik12
Hi
I want to contribute...

[2022-09-30 07:03] chiragkhatri19 commented on #3026
I'll suggest that we should go for a slight minimal logo, for now there's a lot going in the logo, and as a Beginner in Open Source and stuff, When I visited the website I thought it's some NGO or something. So we should Target the new comers and I can create a Minimal Logo for Up for Grabs. I'll try to make a design layout soon so everyone can agree to that. And then we will change the logo when

[2022-09-30 07:07] ritwik12 commented on #3026
Go ahead please, will wait for your design.

[2022-09-30 07:17] chiragkhatri19 commented on #3026
I'll create and send you the design by tommorow. So if you like it I can make my First HacktoberFest PR

[2022-09-30 12:36] SaadOps opened #3412 "Duality Docs website link is broken"
Updated the link #3413

[2022-09-30 15:14] SaadOps opened #3414 "Adding roadmaps repo in projects."
Adding [roadmaps](https://github.com/commclassroom/roadmaps) repo in projects

[2022-10-01 01:36] itsagift opened #3417 "Number of issues with a certain label not always appearing."
Here we have a side by side example:
<img width="754" alt="Screen Shot 2022-09-30 at 9 32 45 PM" src="https://user-images.githubusercontent.com/30632225/193377945-6bca9369-e54d-4dc4-a6a1-358791605ba4.png">

Monument-cli has a 1 next to it, as it should, but Node Efficentnet doesn't have the number of open issues with that label (I checked, there are 8).

I am a first-time contributor, interested i

[2022-10-01 13:34] thisisamish commented on #912
Hey, can I work on this? If yes, then do I need to work on all the issues mentioned here or can I pick and choose?

[2022-10-02 21:51] ritwik12 commented on #3414
#3415

[2022-10-02 21:51] #3414 closed, assigned to nobody

[2022-10-02 21:51] ritwik12 commented on #3412
#3413

[2022-10-02 21:51] #3412 closed, assigned to nobody

[2022-10-02 21:54] ritwik12 commented on #3417
@itsagift Thanks for opening this, looks like a bug. Maybe the issue is not with the code but the .yml file for this project. Please check that too.

[2022-10-03 09:27] SaadOps commented on #3417
the stats: issue count was missing in yml file
#3441 pr made
also updating other files which I  can find in the same pr

Also @ritwik12 can you please specify what does last-updated means in the yml files , does that mean the time when the project was added to the repo?

[2022-10-03 15:23] nklansford commented on #3026
I'd recommend we make either the existing or new logo an svg so that we can control the colors depending on what mode it is in. I am happy to work on that for the existing logo or help brainstorm a new logo!

[2022-10-04 14:46] GingerKiwi commented on #912
Hi, I'm a new dev + new to open source, and . But I am a former special ed teacher/assistive tech specialist. I'd love to contribute to this issue.

[2022-10-06 12:12] utkarshgoel10 commented on #665
Hey @ritwik12 I'd like to work on this issue, please assign this to me. I think that adding a pagination is really important to level up user experience so I'll try my best to contribute this feature.

[2022-10-07 02:34] cweave commented on #1160
Here's a sample of what I did:

Light mode with python in an active state:
![image](https://user-images.githubusercontent.com/16121690/194455726-d64651b9-c8f5-4b5f-8aef-2f74efcef440.png)

Dark mode with python in an active state:
![image](https://user-images.githubusercontent.com/16121690/194455887-08f0b514-a12a-4fd3-a403-1f7374cad97a.png)

I did the changes via code locally, so if y'all like it,

[2022-10-07 10:19] tagener-noisu commented on #930
Not sure if I shoud create a separate issue for this. The first time I opened the [https://up-for-grabs.net/](https://up-for-grabs.net/) I couldn't understand where should I click to start. It's not intuitive enough that the "I want to get envolved" group is clickable.

[2022-10-07 14:33] Ayushbajpai19 commented on #3026
I cam a really cool logo for this, can you assign me this issue?

[2022-10-07 19:31] FlashKoder commented on #3026
@ritwik12
Hi I want to contribute and show my designing expertise  here.

[2022-10-08 15:20] shiftkey commented on #3417
There's two ways that we generate this number for a project:

 - [the original way was to make a browser request for the project to the GitHub API](https://github.com/up-for-grabs/up-for-grabs.net/blob/816a1c4e55f992030e05405f800aaf7d1c963861/javascripts/fetchIssueCount.js#L150-L218) and store that in the user's local storage
    - this has several limitations and can be rate-limited because the r

[2022-10-08 15:45] shiftkey commented on #3417
https://github.com/up-for-grabs/up-for-grabs.net/pull/3464 has been merged and if you look at the devtools you can see the `projects.json` network call (which we use to fetch our project metadata from the server without needing to interact with the GitHub API) has the details populated for `node-efficientnet`:

<img width="818" src="https://user-images.githubusercontent.com/359239/194715831-68a036

[2022-10-08 15:45] #3417 closed, assigned to nobody

[2022-10-12 07:33] g-kabra commented on #2399
Hey! I'd like to try solving this issue. At the very least, I can add messages regarding the format of expected input, and if possible, I will try to add regex filters which will check if input is of the correct form. I will need a list of validations to be performed though, a few are listed in the issue, but it would be easier for me to have a full list so as to make a comprehensive validation fi

[2022-10-12 16:25] shiftkey commented on #2399
@g-kabra I'm very hazy on what's needed here but feel free to take a shot at it

[2022-10-13 07:58] UsmanAhmadSaeed commented on #930
I'd love to take on the dark mode feature. Where can I find the project structure to know where to make changes?

[2022-10-13 21:32] g-kabra commented on #2399
Hey @shiftkey . I've tried implementing what I understood from the issue here. Check out my PR over [here](https://github.com/up-for-grabs/generator-up-for-grabs/pull/8). Let me know if it works for you or needs any changes!

[2022-10-14 07:03] Anuran12 opened #3495 "[BUG] Filter by name select box"
###ISSUE:

Filter by name box is getting outside from the page in mobile view.. looks like its not responsive...

![WhatsApp Image 2022-10-14 at 12 27 46 PM](https://user-images.githubusercontent.com/104062485/195783066-19a64c1c-eff1-4f1c-b1a5-a79429d342a8.jpeg)

I would like to fix it.. please assign this to me.

[2022-10-15 09:11] mervy93 commented on #2768
[Uploading macOSServer57_compressed.pdf…]()

[2022-10-19 10:34] agriffi10 commented on #886
HI there, I'm a certified 508 accessibility tester! I don't think it's necessary to add a function like this so long as the site is usable at 200% zoom. You don't need to scale the text so long as the browser or mobile device has the ability to increase the zoom on the site.

[2022-10-21 19:47] Aee-hrishya commented on #3495
@Anuran12 Have you started working on this?

[2022-10-21 19:55] Kennyev79 commented on #3495
Assign me

[2022-10-21 20:14] Anuran12 commented on #3495
You didn't assign so i didn't work. But it's a very easy tusk. It will take a few minutes

[2022-10-23 15:54] lilitha-mdlalana commented on #3495
Have you done it yet?

[2022-10-23 18:14] ABSTRAC7ION commented on #3495
if you assign me i will start working on it now, it will take any time

[2022-10-25 13:29] Aknc34 opened #3542 "Aknc34"
https://github.com/Aknc34/CengizAknc-/

[2022-10-25 13:29] Aknc34 commented on #3542
Depo bulut

[2022-10-25 13:29] #3542 closed, assigned to nobody

[2022-10-25 15:13] MyAssistantSDK commented on #3542
Merheba abi

On Tue, Oct 25, 2022, 09:30 Cengiz Akıncı ***@***.***> wrote:

[2022-10-27 08:41] pradhyumanarora opened #3545 "Modified Logo for Dark Mode"
The current logo text cannot be seen clearly In dark mode. Same logo with color reversing can be added in dark mode

[2022-10-27 11:52] sumateja commented on #3545
Can you please assign this to me

[2022-10-27 17:26] JAGDF opened #3549 "Tutorial to beginners"
I am new to this repository and don't have knowledge of GitHub
 I can't add any pull request right now. May someone teach me how?

[2022-10-28 02:22] sumateja commented on #3545
@pradhyumanarora Can u please assign this to me

[2022-10-28 04:33] Ashcjs opened #3551 "@preetkaran20 Thanks for opening this :)"
@preetkaran20 Thanks for opening this :)

_Originally posted by @ritwik12 in https://github.com/up-for-grabs/up-for-grabs.net/issues/2399#issuecomment-706764157_

[2022-10-28 04:35] Ashcjs commented on #2399
Backup-codes-pitreb913.txt

Have you finished this file yet?Backup-codes-pitreb913.txt

Have you finished this file yet?Backup-codes-pitreb913.txt

Have you finished this file yet?Backup-codes-pitreb913.txt

Have you finished this file yet?

[2022-10-28 04:35] Ashcjs commented on #2399
_data/projects/Appsmith.yml

[2022-10-28 08:16] LyndaLilly commented on #3549
I am new to GitHub. Can someone tell me how it works. Thank you

[2022-10-28 08:50] vatsalasharma04 commented on #3549
github is mainly an open source platform. used for supporting, helping and sharing our knowledge with our peers. if you are new to github the most less you can do is first create a repo and then add any code you have written. go to your profile icon on right hand side . click on it . go to your repository. , click on create a new repo. write a name for your repo. make it public or private its your

[2022-10-29 18:32] yuvi3005 commented on #3495
fast fix, chk other repo

[2022-11-02 08:17] williann commented on #3406
hey hi

[2022-11-02 19:40] LariDsSantos commented on #3549
Hello guys! I'm new to GitHub too and it's very nice meet a platform like this, where have a lot of people sharing knowledge!

I wish a good experience for all.

[2022-11-04 21:39] abhra2020-smart commented on #3549
You click the pencil, edit the file, and then create the PR (pull request).

[2022-11-06 00:45] #3549 closed, assigned to nobody

[2022-11-06 00:45] #3551 closed, assigned to nobody

[2022-11-06 00:45] #3406 closed, assigned to nobody

[2022-11-06 18:53] JAGDF commented on #3549
Problem solved.

[2022-11-07 08:20] mickey097 commented on #3406
I’m new to this lmao. Snap real quickly if you have to get ahold of me

[2022-11-11 13:29] Yasir761 commented on #3495
Please let me know if this issue is not fixed yet because if it is not then I can assure you that I can fix this.

[2022-11-11 13:36] ramialkarshi commented on #3495
3495

[2022-11-11 16:53] sh471 commented on #3495
yes sir, we will do thank you.

*Best Regards,*

*Sherif Hikal*

On Fri, Nov 11, 2022 at 7:29 AM Mohammad Yasir ***@***.***>
wrote:

[2022-11-14 14:35] Yasir761 opened #3605 "Improving Card Tags"
![Issue - 1](https://user-images.githubusercontent.com/74600745/201686217-24c96e0d-0c96-40d5-8ee7-92fd21f82afd.PNG)
Cards Tags should be at the bottom. This means whether the content of the card is  small or big, card tags are positioned at the bottom.

[2022-11-14 15:18] ramialkarshi commented on #3605
مرحبا ياسر

[2022-11-14 18:51] aruadecarvalho commented on #3605
Hi! Can I work on this issue?

[2022-11-15 09:15] SaintQ969 commented on #3605
Hello, I would love to work on this if you don't mind?

[2022-11-15 09:37] sh471 commented on #3605
Sure, it sounds great.

*Best Regards,*

*Sherif Hikal*

On Tue, Nov 15, 2022 at 3:15 AM Olasupo Sodiq ***@***.***>
wrote:

[2022-11-15 10:11] SaintQ969 commented on #3605
Thank you so much for the opportunity.
Is there a way I can mail you directly?

[2022-11-15 10:53] Yasir761 commented on #3605
Since I'm not a Maintainer of this repo so, I cannot assign this to anyone. I also want to work on this issue that's why I raised it
@aruadecarvalho

[2022-11-15 12:00] Yasir761 commented on #3605
@SaintQ969 @aruadecarvalho I cannot assign it to anyone of you because I am not an owner of this repo.

[2022-11-16 13:26] solomonsanderson opened #3611 "Favicon Not Visible in Browser Dark Mode"
I have seen issues #3026 and #3545 which mention a new logo, none of these mention the favicon. This appears simply as a circle when using dark mode in chrome.

[2022-11-18 04:03] dinesh671 commented on #3611
hey there we need to create two different icons for dark and light mode and we need to use some attributes to use the icons dynamically so that we can appropriate icons for there themes. i would like work on it could please assign this issue for me

[2022-11-19 18:42] divyab275 opened #3617 "Feature Request - Fork Count"
Hello,

I was using Up For Grabs, and thought it would be nice if there was a fork count along with repo name.

Why?
It gives me an idea of how big the project is before opening the link.

I was thinking something like this, but definitely more cleaner!
![image](https://user-images.githubusercontent.com/22278173/202866374-6ca55f95-a356-4c49-9483-93d3fd4ae359.png)

[2022-11-21 11:07] Momo1kz commented on #3605
é&²zkk
@ebekker

[2022-11-21 19:39] sh471 commented on #3605
Absolutely, thank you for reaching out.

[2022-11-22 09:49] Momo1kz commented on #3605
@camilosampedro fg

[2022-11-23 01:47] enricozz commented on #3026
Make the logo filled in with white in the center, that way it will be white inside on whatever mode the website is on.

OR

Make the following items white: text, hand border, and stars on the sides.

[2022-11-23 01:55] enricozz opened #3625 "Domain name is not accessible - possible problem?"
The hyphens in the domain name aren't good for SEO and aren't accessible. upforgrabs.net, for example, would be much better.

[2022-11-23 21:01] enricozz commented on #3611
I made some icons:

Home Screen -
![logo](https://user-images.githubusercontent.com/102629445/203645309-da3be913-ce15-42e0-848f-7ad710207c1c.png)

Favicon -
![favicon-source](https://user-images.githubusercontent.com/102629445/203645369-a7d1e9b8-91f8-470a-81e2-a037ad5f95a7.png)

[2022-11-24 02:45] c9ssio commented on #3611
I just added this new favicon, but why so many favicons with different sizes?

[2022-11-24 02:56] dinesh671 commented on #3611
after creating different icons, call this icons in the html page with to different link tags, and then add the `media="(prefers-color-scheme: dark)"` and `media="(prefers-color-scheme: light)"`

[2022-11-24 03:07] dinesh671 commented on #3611
hey actually the problem is we need to create a new logo for dark mode. the logo should be have #58585A color filled arm and #FFFFFF color of stroke. creating this type of logo the gray fill will be invisible in dark mode and the white stroke in dark mode will be visible as we can see currently a small circle is visible by adding this icon with that attributes mentioned in before  comment we can s

[2022-11-24 14:37] dinesh671 commented on #3611
hey you know what i got new simple solution just add the white background to the favicon then it will look good

[2022-11-24 14:43] solomonsanderson commented on #3611
@dinesh671 Which .html file do you think this should be added to?

[2022-11-24 14:48] solomonsanderson commented on #3611
@c9ssio

[2022-11-24 15:43] dinesh671 commented on #3611
i think in head.html @solomonsanderson

[2022-11-24 15:51] enricozz commented on #3495
I think I was able to fix it. I added a width property of 100vh inside of the media query. On chrome inspector, all devices work.

[2022-11-24 15:52] mickey097 commented on #3611
On Thu, Nov 24, 2022 at 9:43 AM DVS Dinesh Kumar ***@***.***>
wrote:

Yes

[2022-11-28 05:00] alex-barrios commented on #3617
Hi @divyab275! Can I work on this issue?

[2022-11-28 07:07] nenaqui commented on #3617
Hola, puedo trabajar en este tema igual

[2022-11-29 06:48] Tiltedtable opened #3638 "https://github.com/up-for-grabs/up-for-grabs.net.git"
Pull
Push
Build

[2022-11-29 06:48] #3638 closed, assigned to nobody

[2022-11-29 20:25] ritwik12 commented on #3617
@divyab275 Thanks for opening up this. This would be a good addition. We can also include Starred with Fork.

[2022-11-29 20:25] ritwik12 commented on #3617
@alex-barrios If @divyab275 is not working on this, Feel free to.

[2022-11-29 20:27] ritwik12 commented on #3625
@ashe-not Thanks for pointing this out. I am not that much into SEO. @shiftkey might be able to comment on it.

[2022-11-29 21:00] gracexin2003 commented on #3321
Hi @danmoseley ! Can I work on this issue?

[2022-11-29 21:10] alex-barrios commented on #3617
Sounds good @ritwik12! I have started to work on it because I do not think @divyab275 is working on it.

[2022-11-29 22:05] junjasminenie commented on #3321
Hello! Can I work on this please! @danmoseley

[2022-11-29 22:11] danmoseley commented on #3321
FWIW, the .NET product repos changed to "help wanted" and "good first issue" since Github seems to be making it canonical as demonstrated above and in their [docs](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/encouraging-helpful-contributions-to-your-project-with-labels)

However, since folks probably search for other variations like "easy" or "up for gr

[2022-11-29 22:12] danmoseley commented on #3321
cc @mairaw

[2022-11-29 22:17] junjasminenie commented on #3321
@danmoseley Thank you for your response. I took inspiration from this issue and was wondering if I can implement a feature on Up For Grabs that will allow contributors to see the number of unclaimed issues that no one is working on yet.

[2022-11-29 22:30] danmoseley commented on #3321
@junjasminenie I am not a maintainer of this repo. Perhaps @ritwik12 can answer.