[2013-11-21 01:09] shiftkey opened #3 "Write some words about getting involved as a contributor"
TODO: make with the words

[2013-11-21 01:10] shiftkey opened #4 "Write some words about getting involved as a maintainer"
TODO: make good words

[2013-11-21 15:57] dahlbyk opened #11 "Beyond .NET"
I had originally registered this thinking it would only be useful to the .NET community, but @jrusbatch rightly points out that all open source projects could benefit from making it easier for newbies to become good contributors (i.e. don't just show up and Resharper All The Things™).

So while we build this site out, let's find other projects that have a label to encourage new contributors (or in

[2013-11-21 16:38] jrusbatch commented on #11
:+1:

[2013-11-21 20:49] #4 closed, assigned to nobody

[2013-11-21 20:53] dahlbyk commented on #3
Addressed by #14

[2013-11-21 20:53] #3 closed, assigned to nobody

[2013-11-21 21:06] dahlbyk opened #17 "More project info"
Before too many projects are added, should we move beyond a simple list? I'm thinking we can use a table with a few columns:
- Project (linked)
- up-for-grabs tag name (linked)
- Tags (e.g. Glimpse might use "web, diagnostics, asp.net, c#, javascript")
- Description/Notes

I figure we can eventually enable filtering of the ever-growing list based on tags.

Anything else?

[2013-11-21 21:08] dahlbyk opened #18 "Add this project to the list"
This project now has an up-for-grabs tag - can someone add it to the list?

[2013-11-21 21:09] shiftkey commented on #17
:thumbsup: to tags
:thumbsup: to brief description
:thumbsup: to filtering

[2013-11-21 22:08] akoeplinger commented on #17
:+1: sounds like a good idea

[2013-11-22 23:25] ChrisMissal commented on #17
Yes to all, but I would like to see it stay as pure HTML/CSS/JS. Can the "table" be a JSON file that is filtered/searched via JS?

[2013-11-23 03:02] dahlbyk commented on #17
Moving into JSON would work, but for now I think we could get away with an HTML table with an embedded microformat:

[code]

[2013-11-23 03:09] ChrisMissal commented on #17
Oh yeah, certainly.

[2013-11-23 03:13] #18 closed, assigned to nobody

[2013-11-23 14:54] akoeplinger commented on #17
This sounds like a perfect fit: http://jekyllrb.com/docs/datafiles/

Will try how that works :smile:

_edit_ looks like that only works for Jekyll sites, which this is not yet. Might however be a good idea to turn it into one.

[2013-11-23 19:32] dahlbyk commented on #17
@akoeplinger that seems like a good way to go, to more easily maintain consistent markup. I'll admit I've not actually used Jekyll - is that migration something you could take on?

[2013-11-23 19:37] dahlbyk commented on #17
I'm debating if it's worth separating out the project and label links - the project link makes it easier to view the readme, but maybe the description included here would be sufficient?

If we don't go with separate links, a list may be sufficient:

[code]

[2013-11-23 20:18] ursic commented on #17
:+1: to list
Maybe an OS icon as well?

[2013-11-23 20:21] dahlbyk commented on #17
What do you mean by OS icon? Like a project logo?

[2013-11-23 20:24] ursic commented on #17
Operating system icon. In case anyone is almost exclusively a Linux/Windows/OSX dev, for example ;)

[2013-11-23 21:36] dahlbyk commented on #17
Ah yes - good idea. I wonder if we could just establish a tag convention for OS-specific projects?

[2013-11-23 21:56] ursic commented on #17
So, put OS either at the beginning or the end of the tags: Windows, javascript, css.
And then have a line or two of JS to parse the tags and put up respective icon when it finds an OS.
I imagine additional visual icon would be faster to parse by humans?

[2013-11-23 23:22] akoeplinger commented on #17
@dahlbyk It's actually pretty easy, I moved the project data to a YAML file in my fork: https://github.com/akoeplinger/up-for-grabs.net

Here's how it looks like with a table (+ a few example descriptions/tags taken from NuGet.org): http://akoeplinger.github.io/up-for-grabs.net/

I'd prefer keeping a seperate link to the project site even though we have the description, as it provides a convenient

[2013-11-23 23:59] akoeplinger opened #27 "Figure out how to sort projects in the list"
We need to talk about how we sort the projects (e.g. seems a bit unfair that Glimpse is always at the top of the list).

A few possibilites that came to my mind:
- first-come, first served (as it is now)
- alphabetical
- popularity (might be tough to do)
- random

Thoughts?

[2013-11-24 00:31] JakeGinnivan commented on #27
Random would be my pick, or less popular were sorted at the top.

Sent from my Windows Phone

---

From: Alexander Köplingermailto:notifications@github.com
Sent: ‎23/‎11/‎2013 15:59
To: dahlbyk/up-for-grabs.netmailto:up-for-grabs.net@noreply.github.com
Subject: [up-for-grabs.net] Figure out how to sort projects in the list (#27)

We need to talk about how we sort the projects (e.g. seems a bit unf

[2013-11-24 02:55] dahlbyk commented on #27
Once we have more metadata, I expect the full list to be hidden by default in favor of JS navigation by tag (cloud?). At that point we can do pretty much whatever we want - random feature, recently added (if we capture date), etc.

Looking up stars, issue count, etc. would also be handy, but is trickier without a server-side component.

[2013-11-24 17:34] dahlbyk commented on #17
Love it - open a PR?

[2013-11-24 18:03] akoeplinger commented on #17
Here you go: #29

[2013-11-24 23:35] #17 closed, assigned to nobody

[2013-11-24 23:36] dahlbyk opened #31 "Fill out missing data"
Now that #17 has been addressed, we need to fill in missing project descriptions/tags.

[2013-11-24 23:45] dahlbyk commented on #31
/cc @Glimpse @nulltoken @anurse @shiftkey @scriptcs @glennc @ploeh @amirrajan @xavierdecoster @plioi @xaviershay @forki @mexx @ovatsus @rafanoronha @thecodejunkie

[2013-11-25 00:07] dahlbyk opened #32 "Filter by tag"
We have tags now - let's support filtering by them!

I can't shake the thought that some sort of tag cloud would be neat, though that's certainly not a requirement. Or it could be added later. Along with dozens of other visualizations of the included projects! But I digress...

Random thoughts:
- As @akoeplinger mentioned [here](https://github.com/dahlbyk/up-for-grabs.net/pull/29#discussion_r78795

[2013-11-25 04:55] shiftkey commented on #32
+:100: to making it permalinkable

:thumbsup: - use OR because the sample of projects we have at the moment is so small (lol webscale)

:thumbsup:

[2013-11-25 06:11] mexx commented on #31
Done with #37 -> :ok_hand:

[2013-11-25 10:35] xavierdecoster commented on #31
Done with #40

[2013-11-25 11:07] ovatsus commented on #31
Done with #41

[2013-11-25 20:53] analogrelay commented on #31
Submitted #47 but want to get @jeffhand's sign off first.

[2013-11-25 21:06] ploeh commented on #31
Done with #42, #43, and #44

[2013-11-25 22:06] nulltoken commented on #31
@dahlbyk :+1: :heavy_plus_sign: :heart:

[2013-11-29 09:56] thecodejunkie commented on #31
Fixed Nancy with #53

[2013-11-29 18:12] #31 closed, assigned to nobody

[2013-11-29 18:51] shiftkey opened #55 "A logo would be cool"

[2013-12-18 11:26] akoeplinger commented on #32
I guess this can be closed now?

[2013-12-18 15:51] dahlbyk commented on #32
Yes!

[2013-12-18 15:51] #32 closed, assigned to nobody

[2014-02-07 22:53] shiftkey opened #74 "Supporting documentation"
It'd be nice to have some supporting docs to introduce concepts that help new developers get familiar with the open source space

cc @jrusbatch

[2014-02-07 23:14] shiftkey opened #75 "Real-time stats for outstanding issues"
Because it's really hard to tell how many issues are actually outstanding without clicking through.
- likely requires a backend - RIP static site
- what do we do when a site has no outstanding issues?

[2014-02-07 23:39] jrusbatch commented on #75
:+1:

[2014-02-07 23:40] shiftkey opened #76 "Quick Links for Languages/Popular Tags"
It should be easy to quickly navigate projects based on common tags.

cc @jrusbatch

[2014-02-25 16:13] akanshgulati commented on #55
Sir I have made a logo for up-for-grabs in which I have tried to add site name in the logo. I have used up arrow to show "up", and added F for "for" and G simultaneously. The ideology is simple that site will reach high goals and will improve with time (Up-arrow signify that). Given small twist to letter "U" too. Hope you like it.

![up-for-grabs-logo](https://f.cloud.github.com/assets/5287100/225

[2014-02-26 20:55] hnrkndrssn commented on #55
The first thing I thought of when looking at the name, up-for-grabs, was one of these
![image](https://f.cloud.github.com/assets/1035315/2275316/9aa5f312-9f26-11e3-9e2a-6989d22309c8.png)

So I took that, and :recycle: the U from @akanshgulati logo up top, adding an up-arrow to it and got this
![image](https://f.cloud.github.com/assets/1035315/2275298/5dd161ba-9f26-11e3-9aee-f6bdc04751bd.png)

Then

[2014-04-11 07:51] adamralph commented on #55
lol at the dinosaur!

[2014-04-11 08:00] adamralph commented on #75
Does it really need a back end? Could it not just hit the GitHub API from JS on the client? E.g. async after initial page load, stats lights up as they come in.

No outstanding issues - show 'no oustanding issues'? :wink:

[2014-04-11 17:21] akoeplinger commented on #75
Accessing the GitHub API from JS wouldn't be a problem in itself I guess, but they enforce a [rate limit](https://developer.github.com/v3/#rate-limiting) for unauthenticated API requests (60 reqs/h). The API also currently doesn't allow fetching only issue count, instead you always get the whole details as well which makes it a bit impractical for this use case.

[2014-05-06 10:58] shiftkey opened #91 "Food for thought"
The food has been discontinued

[2014-05-06 11:58] akoeplinger commented on #91
That page 404s for me, or am I missing something?

[2014-05-06 12:17] shiftkey commented on #91
Yeah, I'm afraid it does. My apologies.

It was more for the core team, but if you can find me on the internets I'm happy to tell you more.

[2014-05-06 12:21] akoeplinger commented on #91
No worries, I was just curious. Mail sent :smile:

[2014-05-14 17:43] adamralph opened #93 "Add a favicon"
:lipstick:

[2014-06-21 07:52] #93 closed, assigned to nobody

[2014-06-21 08:02] adamralph commented on #93
:thumbsup:

[2014-08-04 07:17] itsjohncs commented on #27
When you click through to a project, then go back in your browser, the list is reshuffled. This makes it unpleasant to browse the list. Storing the seed in a cookie or local storage could solve this, or using a seed that only changes once a day, or encoding the seed in the url? I can code this up if there's some kind of consensus.

[2014-08-05 15:05] dahlbyk commented on #27
I'd never noticed that - good point!

Throwing a random seen in either `sessionStorage` or a cookie sounds like a good place to start.

[2014-08-05 17:44] itsjohncs commented on #27
Sounds good. Apparently you can't seed javascript rng so I just stored the ordering in a list.

[2014-08-13 12:48] dahlbyk commented on #27
Seems like this is sufficiently addressed?

[2014-08-13 12:48] #27 closed, assigned to nobody

[2014-11-23 22:39] nulltoken commented on #11
Proposal for a little C project with a welcoming tribe of contributors sits here: https://github.com/dahlbyk/up-for-grabs.net/pull/135

[2014-11-23 22:41] ethomson commented on #11
:+1:

[2014-12-01 05:47] shiftkey opened #137 "Perhaps Wrap The Project Name"
![screen shot 2014-12-01 at 4 46 37 pm](https://cloud.githubusercontent.com/assets/359239/5241782/a7ec4ba6-7979-11e4-9f62-e46fcf5efcee.png)

Give that second column a chance to breathe!

[2014-12-12 14:36] twiernik opened #141 "humanizr link does not work"
somthing is wrong with the page http://humanizr.net/

[2014-12-12 21:31] shiftkey commented on #141
cc @MehdiK

[2014-12-14 00:32] #141 closed, assigned to nobody

[2014-12-18 03:29] ChrisMissal commented on #137
How about this?

![image](https://cloud.githubusercontent.com/assets/67798/5483197/c2f23c28-8633-11e4-92b7-e88b354dfb87.png)

/cc @shiftkey @dahlbyk

[2014-12-18 03:37] shiftkey commented on #137
@ChrisMissal I like it!

Perhaps the whitespace between the title and description can be reduced as well...

[2014-12-18 03:45] ChrisMissal commented on #137
Good call, here we go:

![image](https://cloud.githubusercontent.com/assets/67798/5483355/026ce978-8636-11e4-98a2-5a4b27148b31.png)

Thoughts @shiftkey?

[2014-12-18 10:38] #137 closed, assigned to nobody

[2015-01-18 01:05] akoeplinger commented on #91
Lol, just stumbled over this again while looking at the repo, I still wonder what's it about?

[2015-01-18 01:16] shiftkey commented on #91
Sadly it's on the backburner for now. Nevermind.

[2015-01-29 20:58] shiftkey opened #154 "Visual F# Tools has moved"
They've migrated the project to GitHub, but the `up-for-grabs` tag has not. What to do?

cc @latkin @dsyme @forki for contacts who can help

[2015-01-29 21:00] forki commented on #154
I think there isn't a up-for-grabs, yet.

[2015-01-29 21:03] shiftkey commented on #154
If it's not intended to be supported, I can :fire: the link. Otherwise I'll leave this open until it appears.

[2015-01-30 02:40] latkin commented on #154
We will add it, just haven't gotten around to it yet. Hopefully we will do a better job of this on github than we did on Codeplex :smile:

[2015-01-30 03:12] shiftkey commented on #154
@latkin :sparkles:

[2015-02-04 03:55] dahlbyk opened #158 "Crazy Idea: File per Project"
https://github.com/dahlbyk/up-for-grabs.net/pull/156#issuecomment-72758489

http://jekyllrb.com/docs/datafiles/ seems to suggest we could split our monolithic `projects.yml` into separate files within a `projects/` directory. I wonder if `{{ site.data.projects | jsonify }}` would continue to Just Work™?

TODO:
- [ ] See if this can work
- [ ] Explode `projects.yml` into separate files

[2015-02-04 04:15] shiftkey commented on #158
I'll do a quick spike to confirm this crazy idea works.

[2015-02-04 04:26] shiftkey commented on #158
Sadly `site.data.projects` is now a hash-table, with the key being the filename:

[code]

If we can just turn the values for each entry into a collection, we'll be fine...

[2015-02-04 05:55] shiftkey commented on #158
Alright, I've got this working with bit of JS hackery. Follow along here #160

[2015-02-09 05:09] #91 closed, assigned to nobody

[2015-02-09 07:36] dahlbyk commented on #75
I'm just going to leave this here...
![nerd-sniped](https://cloud.githubusercontent.com/assets/133987/6102425/d55b49bc-affb-11e4-8f91-f9d539f7a389.gif)

[2015-02-09 07:54] adamralph commented on #75
:astonished:

[2015-02-23 21:53] latkin commented on #154
Behold: https://github.com/Microsoft/visualfsharp/labels/Up%20for%20Grabs

[2015-02-24 02:15] shiftkey commented on #154
![](http://pixel.nymag.com/imgs/daily/vulture/2013/08/07/colbert%20gifs/colbert1.o.jpg/a_560x0.jpg)

[2015-03-04 14:06] PatrickMcDonald commented on #154
I think this should be fixed in #174

[2015-03-04 22:45] shiftkey commented on #154
Fixed in #174

[2015-03-04 22:45] #154 closed, assigned to nobody

[2015-03-09 13:53] rms81 opened #175 "Show repo activity"
Sometimes when you go to a project´s repo you see that the repo as a very low level of activity. The issues were opened to far back in time or are already closed, lot´s of PR´s to be approved, etc
It would be useful to be able to see some information about the repo´s activity. Something like:
- Newest issue opened;
- Number of issues;
- Number of issues with the tag;
- Number of pending PR´s;
- Et

[2015-03-09 19:25] dahlbyk commented on #175
In #163 I'm working on showing the number of tagged issues. Getting repo-level stats would require an extra API call (so we'd hit the rate limit twice as fast), but we could probably glean a lot from just the tagged request: https://api.github.com/repos/dahlbyk/up-for-grabs.net/issues?labels=up-for-grabs.

Better yet, by querying with `state=all` we could show count for closed tagged issues as wel

[2015-03-18 20:42] khellang opened #179 "Get description from GitHub API"
It would be cool to keep the description up to date by fetching it from the GitHub API, to prevent cases like #178.

Ref: https://developer.github.com/v3/repos/#get

[2015-03-18 21:17] shiftkey commented on #179
I started writing some Ruby over in #160 to migrate projects to the new structure - might whip up something similar afterwards for this...

[2015-04-02 13:33] shiftkey commented on #55
Found myself cruising The Noun Project a bit, and this icon stood out:

https://thenounproject.com/term/network/126074/

![screen shot 2015-04-02 at 3 32 14 pm](https://cloud.githubusercontent.com/assets/359239/6964878/7bf615fc-d94d-11e4-82dd-79dfe9e4fb5f.png)

https://thenounproject.com/term/team/125795/

![screen shot 2015-04-02 at 3 32 19 pm](https://cloud.githubusercontent.com/assets/359239/69

[2015-04-12 23:02] #158 closed, assigned to nobody

[2015-04-13 14:24] akoeplinger opened #186 "Splitted data files contain --- at top"
E.g. [angularjs.yml#L1](https://github.com/dahlbyk/up-for-grabs.net/blob/d70d4b6ffcd14bc89a8c88a9ff76456a47b11b1d/_data/projects/angularjs.yml#L1)

This looks like a mistake from the migration, we should just remove the `---` (unless it's needed for something?).

[2015-04-14 16:25] shiftkey commented on #186
Yeah, it's a migration artefact. :thumbsup: to cleaning it up, but not super-urgent.

[2015-04-14 17:51] #186 closed, assigned to nobody

[2015-04-16 16:33] jkodroff opened #188 "Is it possible to display a list of issues that do not have any pull requests?"
If someone has already committed a PR to solve an issue ([example here](https://github.com/MehdiK/Humanizer/issues/388)), I think it'll still remain in the issue list shown on GH.

Maybe this can be improved by one of the following:
1. If it's easy to construct a URL with the filter we want, tweak the link to the the tag in each project. OR...
2. If it's hard to formulate a link and we need to mak

[2015-04-16 19:13] dahlbyk commented on #188
From the [issue search docs](https://help.github.com/articles/searching-issues/), I don't see a built-in way to identify issues that have open PRs against them.

Even adding an API does not seem to help: I don't see a "referenced by PR" event in the events or comments streams for #158:
https://api.github.com/repos/dahlbyk/up-for-grabs.net/issues/158/comments
https://api.github.com/repos/dahlbyk/up

[2015-04-19 17:58] ChrisMissal commented on #55
+1 @shiftkey – and for activating this issue again :)

[2015-06-15 03:46] #75 closed, assigned to nobody

[2015-06-15 16:44] dahlbyk opened #196 "Out-of-date projects"
The GitHub API requests for some projects are returning 404, presumably because they have moved. Should fix or remove those projects.

[2015-06-15 22:59] shiftkey commented on #196
:thumbsup:

[2015-07-24 19:35] 304NotModified commented on #175
+1

[2015-07-27 14:11] stephnr opened #211 "Tags are too similar"
Perhaps we can have the tags be different colors based on context. I would say up-for-grabs should be green, where as 'jump-in' can be a separate color.

[2015-07-27 21:36] ChrisMissal opened #212 "Support Design and Documentation"
This is great for development issues, but I would love to see Up For Grabs support Design/UI/Logo issues as well as Documentation issues.

I don't know how this would look or change things. Maybe it's not the right place for it, but I thought I'd bring it up. Does anybody have ideas on how to support this or even if UFG is right for it?

[2015-07-28 01:10] shiftkey commented on #211
I don't want to be too proscriptive here with the labels - we left it up to each project what they want to call their label. But colours and visual things could definitely be better - perhaps we could use a different colour for the label and tags?

<img width="673" alt="screen shot 2015-07-28 at 10 39 29 am" src="https://cloud.githubusercontent.com/assets/359239/8921453/f9f6f4b2-3514-11e5-9267-827

[2015-07-28 01:12] ChrisMissal commented on #76
How do you see this working @shiftkey? Links to the top __ tags? Links that pre-populate the filter?

I was going to take a stab at this, but found myself guessing too much.

[2015-07-28 01:48] stephnr commented on #211
Yes! I totally agree @shiftkey

[2015-07-28 02:14] shiftkey commented on #76
@ChrisMissal I'm not sure - it was so long ago when I logged this, and past me was vague and unhelpful.

What if we had a short list of the most common tags below the filter box - here's a crude mockup:

<img width="746" alt="screen shot 2015-07-28 at 11 36 43 am" src="https://cloud.githubusercontent.com/assets/359239/8922109/d0ac13fe-351d-11e5-8201-bfb5c7857693.png">

When you click on the tag, t

[2015-07-28 15:19] ChrisMissal commented on #76
Excellent, this was my initial thought as well.
![selfie-0](http://i.imgur.com/y4O1sYh.gif)

[2015-08-06 16:36] kentcdodds opened #216 "first-timers-only"
I wrote [a blogpost](https://medium.com/@kentcdodds/first-timers-only-78281ea47455) about something that I've started recently. I'm wondering if there's any way we could make a section of this website that's designated for `first-timers-only` so people know where they can go to make their first contribution...

[2015-08-06 16:37] kentcdodds commented on #216
I was about to tweet about this issue, but I think you'd wind up with a lot of +1 comments. If you want me to so you can gauge interest, then I will. Just prepare your inbox...

[2015-08-06 20:56] shiftkey commented on #216
That's fine.

[2015-08-06 21:03] JasonLunsford commented on #216
+1 !

[2015-08-06 21:08] jacobappleton commented on #216
+1

[2015-08-06 22:04] gustavodegeus commented on #216
+1

[2015-08-06 22:06] PillowPillow commented on #216
+1
It's a great initiative.

[2015-08-06 22:22] gr2m commented on #216
+1 this is great!

[2015-08-06 22:22] NealJones commented on #216
+1

[2015-08-06 22:25] ChrisMissal commented on #216
+1

[2015-08-06 22:31] ChrisMissal opened #220 "Point to Yeoman Generator"
I know it's trivial, but I built a Yeoman Generator (mostly to learn more about them) to generate files for up-for-grabs:

https://github.com/ChrisMissal/generator-up-for-grabs

Any interest in including the instructions to use it? It would look something like this:

[code]

[2015-08-06 22:42] shanselman commented on #216
I have firsttimersonly.com and I'd like work with @kentcdodds to make a one pager GHpages that would also point it to that theorectical new upforgrabs section.

Also, I'm a chair of OSCON 2016 with @kelseyhightower and we're (very initially) brainstorming about doing a FirstTimersOnly hackathon/training sessions, so we could use this new section to promote it.

[2015-08-06 22:51] kentcdodds commented on #216
Wow! That's awesome Scott! Let me know what I can do to help.
- Kent C. Dodds

(Sent from my mobile device, please forgive typos or brevity)
On Aug 6, 2015 4:42 PM, "Scott Hanselman" notifications@github.com wrote:

[2015-08-06 22:53] shiftkey commented on #216
@shanselman @kentcdodds :wave: I'd love to use this thread to brainstorm ideas about implementing this. It definitely seems like there's interest to see this happen in some shape or form...

[2015-08-06 22:56] shanselman commented on #216
@kentcdodds let's go offline, email me, we'll do the one pager, then we'll coordinate to feature UpForGrabs while they make a category/tags

[2015-08-06 22:58] shiftkey commented on #216
:thumbsup:

[2015-08-06 22:59] kentcdodds commented on #216
Done

[2015-08-07 00:09] shiftkey commented on #220
I think this is could be added to the README. Thoughts @dahlbyk @jrusbatch?

[2015-08-07 00:52] southpawjoe commented on #216
+1

[2015-08-07 06:47] rubberduck203 commented on #216
:+1:

[2015-08-07 11:26] M-Zuber commented on #216
+1 for the idea.
Interesting angle on this idea might be to help first timers with pull requests on their projects.

[2015-08-07 20:28] dahlbyk commented on #216
Along these lines, would it make sense for us to support filtering our project catalog by issue label (first-timers-only, up-for-grabs, jump-in, ...)?

[2015-08-07 20:34] dahlbyk commented on #175
Now that #163 is merged this up for grabs!

[2015-08-07 20:37] dahlbyk commented on #212
I'm not sure what sort of change might be useful on the UFG site itself, but in my mind non-dev tasks could absolutely be up-for-grabs on any given project. Anything that the maintainer(s) would like to help new contributors with, really.

[2015-08-07 20:39] kentcdodds commented on #216
I don't think so... I think that the other ones denote the same concept: I'd accept a PR for an implementation that solves this issue.

Whereas `first-timers-only` denotes: I'm willing to hold your hand so you can make your first PR. This one's quite a bit easier than normal. Anyone who's already contributed to open source isn't allowed to touch this one...

[2015-08-07 21:01] 304NotModified commented on #175
Does anyone know the related API calls for this request?

[2015-08-09 03:53] shiftkey commented on #216
@dahlbyk on the data side, I had thoughts to just have an opt-in property for the project YAML, like: `first-timers: yes` instead of Yet Another Label.

I guess the focus here is to signal that you're interested and able to provide that extra degree of support for newcomers or inexperienced contributors - and it would make it easy to filter without needing to be too clever with labels.

[2015-08-09 03:59] kentcdodds commented on #216
Just to make sure we're on the same page... I think it's critical that there's a special label on the repo for `first-timer-only` issues. There's a huge difference in my repo with what I think is appropriate for a first timer and what I think is `up-for-grabs`.

First timer contributions are normally very small and easy (One was literally 10 characters or so). This makes it easier for the contribu

[2015-08-09 04:27] wolftune opened #221 "add a license to this repo"
I don't see a LICENSE file. Please choose a license. Since it is a website, I recommend AGPLv3+ so everyone who contributes knows that it will stay free/open always.

[2015-08-09 23:48] shanselman commented on #216
@shiftkey I have to agree with @kentcdodds that while it is YAL it's far easier to use a label for this (and we may be able to turn this into a larger Movement (TM) and get GitHub to make first-timer-only something special, maybe a badge or emoticon, ahem, @haacked)

[2015-08-09 23:59] shiftkey commented on #216
@shanselman well then it's stupendously easy to link directly to that YAL here:

I'm down for talking about how to spread the good word and find these projects. This is probably where some Proper-Docs-I-Keep-Meaning-To-Write-For-This-Site might help.

[2015-08-10 00:00] shanselman commented on #216
Cool, does that pull all Open Issues from GH @shiftkey? https://github.com/search?utf8=%E2%9C%93&q=label%3Afirst-timers-only (yes this query pulls closed ones also)

[2015-08-10 00:04] shiftkey commented on #216
@shanselman correct (see https://github.com/dahlbyk/up-for-grabs.net/pull/163) - we could probably be cleverer and use a proxy service so that not everyone needs to fetch it for each project (you can expire your unauthenticated API access rather quickly), but it's relatively real-time...

[2015-08-10 16:38] haacked commented on #216
Interesting. I'll ask around to see if that's something GitHub might be interested in doing officially.

In the meantime, I'm happy to drop in and create a bespoke animated gif to celebrate first time contributions.

![yes-fist-pump](https://cloud.githubusercontent.com/assets/19977/9177005/8e9971fc-3f43-11e5-9c06-ada39da5301c.gif)

[2015-08-10 16:42] kentcdodds commented on #216
Awesome :-)

[2015-08-24 10:14] jannikanker commented on #55
How about a logo that combines an upload icon (like https://thenounproject.com/term/upload/61791 ) and a "grabbing" hand (like this: https://thenounproject.com/term/closed-hand/101204 ) ? I'm not a graphics expert by any means and I do see a possible "misinterpretation" of this example, but maybe someone with actual skills might be able to make a non-controversial version, hehe?

![upforgrabs1](ht

[2015-08-29 07:34] #196 closed, assigned to nobody

[2015-08-29 13:41] jkodroff opened #233 "Hide projects with no eligible issues by default"
What do we think of an option "Include projects with no open issues" (off by default)?  (I'm making the assumption that most people would want those projects hidden.)  @dahlbyk might [notice a pattern](https://github.com/dahlbyk/posh-git/issues/205) here.

I don't remember the details of how the count was added in the first place, so I dig that this might be tricky or not feasible at all, but I fi

[2015-08-30 12:38] dahlbyk commented on #220
:+1:

[2015-08-30 12:44] dahlbyk commented on #175
@304NotModified I'd start with what you can find by appending `&state=all` to the [current GitHub call](https://github.com/dahlbyk/up-for-grabs.net/blob/5d3f0c8e0274d39fb99878367736485b023e313b/javascripts/main.js#L67). It won't give repo-wide stats, but we can probably show activity for the new contributor label.

[2015-08-30 23:54] shiftkey commented on #233
@jkodroff it's all driven by JS in the client (query the API, and store in local storage) so pre-emptively doing this is going to be tricky (maybe impossible).

I have some feels about moving this behaviour to a simple proxy API (that can do authenticated API calls and cache) which would also enable more complex analytics - one thing I'd like to track is measuring how many PRs are being merged (wh

[2015-09-15 04:58] hrj opened #240 "Support for multiple issue labels?"
In [gngr](https://github.com/UprootLabs/gngr), for example, we have three labels:
- need-code
- need-advice
- need-triage

for different types of contributors. It would be nice to list them separately in up-for-grabs.

[2015-09-22 17:56] jpribesh commented on #175
Im working on adding some repo overview data here. @304NotModified are you still working on this as well?

[2015-09-22 17:58] JrPribs commented on #175
Im working on adding some repo overview data here. @304NotModified  are you still working on this as well?

[2015-09-22 18:10] 304NotModified commented on #175
I don't work at this.  I was only trying to get more info in this thread,  so others can easily start with it.

[2015-09-23 14:03] JrPribs commented on #175
Anyone know if I should just be caching the new data along with the issue count? seems like the right place to utilize the existing github API call

[2015-09-23 14:30] 304NotModified commented on #175
Sounds good to me :)

[2015-09-24 07:44] pertrai1 commented on #55
@akanshgulati +1 on the logo

[2015-09-25 17:10] JrPribs commented on #175
I am working on this and I am saving the info to local storage but am not sure how to access it form the template. Do I need to compile and insert the html from the main.js file? or is there a way I can access the local storage data directly in the index template?

[2015-10-03 09:05] adamralph opened #244 "Multiple repos for a project"
E.g. for ConfigR I have up-for-grabs labels in two repos, so I'd like to have two links. I guess I could add a whole separate "ConfigR Samples" entry but it would be nicer if both links were somehow shown against the single ConfigR entry.

I.e.

https://github.com/config-r/config-r/issues?q=is%3Aopen+is%3Aissue+label%3Aup-for-grabs

and

https://github.com/config-r/config-r-samples/issues?q=is%3Ao

[2015-10-04 07:11] shiftkey commented on #55
While I love the enthusiasm and suggestions here, I think I'm going to organize for a 99designs contest to see if we can finally close this out.

I'm happy to stump up the money for it, and I'll drop some info in here as I'm setting up the details (I've not done this before, so if you have any tips it'd be :heart:). Hopefully I can get it going this week, but I'm currently digging my way out from

[2015-10-04 08:06] hnrkndrssn commented on #55
I quite liked this one https://thenounproject.com/search/?q=collaboration&i=176341

[2015-10-04 08:13] shiftkey commented on #244
I guess the only hassle here is turning this element:

[code]

Into something more like a dictionary (I'm not even sure if this is valid YAML):

[code]

Will think about this some more (having a separate project is a workaround, but doesn't help for maintainability and associating these two things).

[2015-10-04 19:23] adamralph commented on #244
Yeah, I can't claim to have thought it through very far.

The syntax highlighting suggests that it isn't valid YAML :wink:

How about this:

[code]

[2015-10-05 07:00] shiftkey commented on #244
I'd like to confirm that the `upforgrabs` element remains enumerable before we go down this path (otherwise generating the site content is going to be a pain) and also setup some CI hooks to verify that a PR contains valid YAML (so others know their PRs are structured right, and we don't accidentally merge  a PR and break the site).

[2015-10-05 08:10] adamralph commented on #244
Given that the schema would change from...

[code]

to

[code]

... I guess you'd have to migrate all the current entries to the new schema. Otherwise, you'd have to special case the "project names" `name` and `link`. Alternatively, you could use a new element instead of `upforgrabs`.

[2015-10-05 09:39] shiftkey commented on #244
We could have some conventions (say `default` for the root element) to help with migration, but for the 80%\* who don't have multiple projects they need to understand this. Or perhaps we do away with the `upforgrabs` element altogether? I'm not sure, need to think more on it.

\* made up stat

[2015-10-05 14:01] dahlbyk commented on #244
Don't we just JSONify the YML? Making the JS that consumes it robust against both structures would not be difficult: if element has a `link` assume it's a label, otherwise it's a parent.

[2015-10-05 14:16] shiftkey commented on #244
I'm pretty sure we do when we generate the site.

:thumbsup:

[2015-10-05 14:17] adamralph commented on #244
So long as you're happy to special case a child named `link`. I.e. no project can be called 'link'.

[2015-10-09 20:02] FakeHaacked opened #250 "Filter should be an AND not an OR"
Hi all!

I was trying to combine filters and all it does in the search box is add _more_ results to the list. That seems to be not very useful. The reason I'm adding more filters is to narrow down the results, not expand them.

[2015-10-10 05:09] shiftkey commented on #250
:thumbsup:

[2015-10-12 07:40] shiftkey commented on #221
I'll be submitting a PR for this soon to address it, but think we need two different licenses:
- MIT for the current theme - it's largely still the default theme, [Slate](https://github.com/jasoncostello/slate), so I think we need to respect that license until we've looked at restyling the site.
- [CC BY-SA 4.0](http://creativecommons.org/licenses/by-sa/4.0/) for the project listing content

The o

[2015-10-12 15:45] wolftune commented on #221
@shiftkey never ever have anti-commerce licenses, they are _super_ problematic and misguided. Lots of resources about that here: http://freedomdefined.org/Licenses/NC — in basically all cases, the SA (coyleft) part achieves what you want.

[2015-10-13 01:45] dahlbyk commented on #221
I'm with @wolftune that SA is sufficient without NC. Aligning with theme license is reasonable as well. Just need to confirm with JS contributors that they're cool with the same.

[2015-10-13 05:45] shiftkey commented on #221
@dahlbyk thanks for reminding me. I'll make sure to mention those people in the PR thread.

[2015-10-16 15:03] una commented on #55
thoughts:
![img_5542](https://cloud.githubusercontent.com/assets/1693164/10545195/148ecf04-73ed-11e5-81c7-433fa979c567.JPG)

sorry it got rotated :/

[2015-10-16 15:24] ChrisMissal commented on #55
I really like these @una! This one's my favorite:

![image](https://cloud.githubusercontent.com/assets/67798/10545785/006dda1c-73f0-11e5-935f-f56d2858d2cf.png)

[2015-10-17 12:45] augustoproiete commented on #55
+1 @una first logo

[2015-10-17 16:48] adamralph commented on #55
My tuppence worth:

![image](https://cloud.githubusercontent.com/assets/677704/10560052/d7185a86-74f6-11e5-9465-77b34a20ecf2.png)

It's very amateurishly drawn in paint.net, but you get the idea. The F and the G almost look like fingers and a thumb grabbing the U.

[2015-10-18 18:38] una commented on #55
<img width="530" alt="screen shot 2015-10-18 at 1 36 23 pm" src="https://github-cloud.s3.amazonaws.com/assets/1693164/10565724/77d0d3d0-759d-11e5-8bbb-fc8d741e7c6a.png">

[2015-10-18 18:58] una commented on #55
<img width="514" alt="screen shot 2015-10-18 at 1 58 08 pm" src="https://github-cloud.s3.amazonaws.com/assets/1693164/10565845/4ee27b56-75a0-11e5-8784-30f30fc32e13.png">

[2015-10-28 12:20] #220 closed, assigned to nobody

[2015-10-28 19:01] daveaglick commented on #55
I'll just leave this right here...

![upforgrabs](https://cloud.githubusercontent.com/assets/1020407/10799760/e5938d9c-7d84-11e5-9a4e-83a54ea0c528.png)

[2015-10-28 22:16] daveaglick commented on #55
...and an alternate (I like this one better):

![upforgrabs2](https://cloud.githubusercontent.com/assets/1020407/10804822/f6313b8e-7d9f-11e5-8bd5-5e8f5053edf8.png)

[2015-10-29 16:57] MaximRouiller opened #261 "Github RateLimited"
So... each of us who connect to this page do the request.

Each time. This lead to my IP being banned from the API as I was making too many of them.

Of course, I could add my credentials but it wouldn't be very kosher. The API url doesn't take into account that I'm already logged in with Github. Maybe we could have a job that picks them up and generate a JSON file that you could load initially?

[2015-10-29 17:10] shiftkey commented on #261
This should already be occurring: https://github.com/dahlbyk/up-for-grabs.net/blob/gh-pages/javascripts/main.js#L79 And we also defer fetching the issue count until you scroll the item into view

Can you show me in the Chrome Dev Tools what you're seeing after encountering being IP-banned?

[2015-10-29 17:13] MaximRouiller commented on #261
Screen cap:

![image](https://cloud.githubusercontent.com/assets/209384/10826166/c98069b2-7e3e-11e5-8d76-2b8208b8f138.png)

[2015-10-29 17:14] shiftkey commented on #261
@MaximRouiller sorry, I should have been clearer. What's the response payload from the GitHub API look like?

[2015-10-29 17:14] MaximRouiller commented on #261
Main issue is that I had use jspm without an account.

So if I explore the actual response from the server, I get:

[code]

[2015-10-29 17:15] MaximRouiller commented on #261
Corresponding HTTP Response Headers:

[code]

[2015-10-29 17:16] shiftkey commented on #261
I had thought to host a little web service to wrap this so you're not calling the GitHub API directly (and it has the token), but I have very little spare time to do this at the moment.

[2015-10-29 17:19] MaximRouiller commented on #261
Could we define an "up-for-grabs" ;-)

Tell me when you expect as Input and what you expect as Output.

Maybe it could be statically generated (@daveaglick time to bring Wyam!) JSON files for each YML file you have. I could check if it's something I could do in my spare time. The MVP Summit is coming very soon and I'll have some spare time at night.

[2015-10-29 17:22] MaximRouiller commented on #261
The thing is... people are not interested in being 100% in sync with the repository. If we do 1 request per repo per 12/24 hours to generate our file, I think it would be plenty enough to give some excellent feedback for the users.

[2015-10-29 17:30] daveaglick commented on #261
If you make fetching whatever data you need part of the static build process, then you could just trigger  the build every N minutes/hours from an Azure web job (see https://gist.github.com/greghaskins/62e30796021e02869240 - there may be other techniques to trigger a Pages rebuild like a dummy commit). The key here would be to make Jekyll go fetch the needed data from GitHub and insert it into the

[2015-10-29 17:35] MaximRouiller commented on #261
I was more thinking of an Azure WebJob in scheduled mode. The free one of course since we're basically doing nothing with it.

If you don't have an Azure account, it might as well be a command line app on your machine that updates the repo once in a while. I've checked the Github api and we could technically push the updates to be way shorter if need be. Especially with an authenticated app and co

[2015-10-29 17:38] daveaglick commented on #261
Exactly - the nice thing is that if you can get the information as part of the actual Jekyll static build, then all your scheduled job has to do is trigger a Jekyll rebuild from GitHub Pages. That'll keep the logic nice and contained so that when you build locally it works the same way.

[2015-10-29 17:49] shiftkey commented on #261
I can do a brain dump into a new issue of what I had in mind and then let others chime in there. I'll leave this open until then to remind me.

[2015-10-30 01:31] mikecole commented on #76
@ChrisMissal that beard.

[2015-11-02 15:58] jrusbatch commented on #11
This project has grown quite a bit since this issue was opened. I'm going to go ahead and mark this as complete.

[2015-11-02 15:58] #11 closed, assigned to nobody

[2015-11-25 00:13] michaelybecker commented on #76
Hi! Looking for up-for-grabs's but this seems wonderfully implemented. Is there a reason this issue isn't closed? (Pardon my n00bness, general disclaimers apply etc.)

[2015-11-25 00:40] shiftkey commented on #76
@MichaelHazani nope, no good reason at all! Thanks for reminding me!

[2015-11-25 00:40] #76 closed, assigned to nobody

[2015-11-30 22:01] shiftkey opened #277 "CI - test URLs to see they exist"
As raised in #276 we should check that URLs actually exist. A couple of caveats:
- you can check the structure of all URLs, because relative ones are currently broken
- don't check all URLs, just ones for files that are touched in this PR
- verify both the `site` and `upforgrabs.link`
- redirects are fine, but eventually they should end up at a 200

[2015-12-01 15:57] shubheksha commented on #277
Hey, I'd like to work on this. Any ideas regarding how to start?

[2015-12-01 15:58] shubheksha commented on #250
Any guidelines on what needs to be done to fix this?

[2015-12-01 20:10] shiftkey commented on #277
@shubhekshajalan sure, here's some quick notes:
- each PR triggers a build on Travis - [config](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/.travis.yml)
- the current script we run here is validating the schema for a number of fields - [source](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/scripts/cibuild.rb)
- as a first step, let's verify the values in `site`

[2015-12-01 20:13] shiftkey commented on #250
After a quick glance of projectsService.js, I think this is hiding in [applyTagsFilter](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/javascripts/projectsService.js#L2-L23) but I'm not 100% sure.

cc @chandu @dahlbyk for thoughts.

[2015-12-01 22:14] dahlbyk commented on #250
Yep, the [`projectNames`](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/javascripts/projectsService.js#L15-L18) list is built up as a distinct list of projects that "hit" on any of the tags. That variable can probably be discarded in favor of updating the `filter` clause below to check that the project includes all requested tags.

[2015-12-01 22:15] shiftkey commented on #250
:ok_hand:

[2015-12-01 23:08] shiftkey commented on #55
Finally, finally fixed by #260

[2015-12-01 23:08] #55 closed, assigned to nobody

[2015-12-02 03:55] chandu commented on #250
@dahlbyk @shiftkey Agreed. I will send a pull request with the required changes.

[2015-12-09 22:25] johncmckim opened #285 "Up-For-Grabs Statistics"
Firstly, I really like the up-for-grabs concept. It would be interesting to see the affect of the up-for-grabs tags or report on engagement in general.

Using Github APIs specifically [list issues](https://developer.github.com/v3/issues/#list-issues-for-a-repository), [list collaborators](https://developer.github.com/v3/repos/collaborators/#list-collaborators) and [statistics api](https://develope

[2015-12-10 03:51] shiftkey commented on #285
I'm really interested in seeing us extract more data from the projects to surface to people visiting the site. Nudging successful projects up the search results would be a great way to motivate maintainers. A simple example of this is #233.

As discussed in #261 it's rather easy to get rate-limited currently, so perhaps we need to stand up a service that users hit (rather than hitting the API dire

[2015-12-10 04:48] johncmckim commented on #285
I did notice the rate limiting. Both issues require some kind over back end service.

The comment about a Azure web job to rebuild pages is interesting. However, I personally think it would be wasteful to rebuild all the static content, to update a small portion of the content that actually is dynamic.

One solution could be to use [AWS Lambda](https://aws.amazon.com/lambda/details/) and [AWS S3](

[2015-12-10 12:55] daveaglick commented on #285
It just so happens that I know a static site generator that is designed specifically to handle complex code-based scenarios like this. I also know the maintainer of said generator is looking for some community projects to help out and apply it to.

So I guess the first question is: how wedded are you guys to Jekyll?

The other question I have is what specifically we would do with the additional da

[2015-12-10 13:09] shiftkey commented on #285
@daveaglick

Speaking just for myself, I _really_ enjoy the benefits that Jekyll gives us right now. Not to rule it out too early, but the current stack works really nicely for what we need. Before I "throw it all away" (my words, tongue in cheek) I'd really like to understand more about this alternative and what it gives us.

For me, the big benefit of this data would be to identify and promote p

[2015-12-10 13:21] daveaglick commented on #285
Totally understandable. Maybe I'll put together a little PoC so you can see what I'm thinking. No pressure, and it'll be a good excersize in any case.

Out of more broad curiosity, what benefits are most important to you from Jekyll right now? The rapid rebuild on changes, use of front matter, templating language, etc.? Or is it mainly that it's already there and works well ("don't fix what ain't

[2015-12-11 01:42] shiftkey commented on #285
That'd be great.

[2015-12-11 01:44] shiftkey commented on #285
For me, it's more about the GitHub Pages support (that is, a superset of Jekyll):
- rebuild and deploy whenever the repository is updated
- templating and separation of markup from user-generated content
- zero infrastructure to manage and administer

[2015-12-11 22:50] shiftkey opened #288 "Markdown-ify the project description"
Not sure many projects do this, but I think it's a nice bit of [flair](https://www.google.com/search?q=flair+office+space):

<img width="718" alt="screen shot 2015-12-12 at 9 18 43 am" src="https://cloud.githubusercontent.com/assets/359239/11757464/753c1316-a0b1-11e5-994c-9fb74e0d8911.png">

[2015-12-11 22:55] shiftkey opened #289 "CI: catch and report duplicate tags"
There's likely a few different options here for tackling it, but we should catch scenarios where people submit a tag that's similar (but different) to a popular tag.

Here's a good example:

<img width="266" alt="screen shot 2015-12-12 at 9 18 16 am" src="https://cloud.githubusercontent.com/assets/359239/11757493/afcf3ac6-a0b1-11e5-8217-4e500638f285.png">

We should have one tag here for documenta

[2016-01-03 21:08] johncmckim commented on #285
Since this went a little quiet, I thought I'd make a little demo. I created a [separate repo](https://github.com/johncmckim/up-for-grabs-data) as it's just an proof of concept.

[This node script](https://github.com/johncmckim/up-for-grabs-data/blob/master/src/index.js) iterates the project YAML files, requests the issues and then outputs the counts to a json file. This could be done as part of a

[2016-01-04 07:02] shiftkey commented on #285
@johncmckim that's interesting, but I really want to avoid the whole "build step" option. So I'll put my money where my mouth is and publish a little demo repo here that I knocked together this afternoon which shows what I was thinking:

https://github.com/shiftkey/up-for-grabs-api-demo

The live site is available here: https://up-for-grabs-data.herokuapp.com/issues/count?project=albacore (the pro

[2016-01-04 07:45] johncmckim commented on #285
@shiftkey I was taking a build step approach as I thought the aim was to avoid a web server. I like this approach too, really simple.

I haven't used Heroku myself, but if it's just writing  node app I can do that. Happy to contribute. If you create issues on https://github.com/shiftkey/up-for-grabs-api-demo and mark some as up-for-grabs, I'll take a look at the ones I think I can help with. I cou

[2016-01-04 13:27] amsmu opened #303 "Pagination"
It is such a long list of projects that scrolling such a long list is annoying. It'll be better to use pagination.

[2016-01-04 21:06] ElijahLynn opened #313 "Drupal issues not showing for "Drupal" search"
The Drupal project (#190) was merged a while ago but doesn't appear to be coming up for a "Drupal" search, but the Backdrop fork does come up. Should it be coming up? The *.yml is still in the projects dir.

https://github.com/up-for-grabs/up-for-grabs.net/pull/190

[2016-01-04 21:08] ElijahLynn commented on #313
Oh duh, it needs the "Drupal" tag.

[2016-01-04 22:17] shiftkey commented on #261
Dropping this in here to cross-reference #285

https://github.com/shiftkey/up-for-grabs-api-demo

[2016-01-04 23:54] shiftkey opened #317 "CI - warn against multi-line strings"
As found in #302, we should warn when a PR contains a file with a value that spans multiple lines. It'd need to look at the source text, rather than the parsed YAML.

But basically this is bad:

[code]

This is what you should expect to see:

[code]

And this is also a valid option (although we shouldn't be adding in newlines here):

[code]

[2016-01-05 00:26] #313 closed, assigned to nobody

[2016-01-05 00:39] shiftkey commented on #303
Agreed. If someone wants to have a go at what this might look like I'm happy to provide feedback or suggestions.

[2016-01-05 00:48] shiftkey commented on #221
Oh, I fixed this in #252

[2016-01-05 00:48] #221 closed, assigned to nobody

[2016-01-05 00:50] shiftkey commented on #289
Another example: `nodejs` or `node.js` or `node`

[2016-01-05 03:28] shiftkey commented on #289
Here's the current list, sorted by counts: https://gist.github.com/shiftkey/6eb57144d06275bdfdb0

[2016-01-05 06:18] shiftkey commented on #244
For reference, this cool trick was raised in #310:

https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Aconfig-r+label%3Aup-for-grabs

Given your examples above mention the `config-r` account, perhaps this might be a good workaround until we work out how we want to manage labels? It's also kinda orthogonal to the multiple labels issue (as providing multiple labels here is an AND

[2016-01-05 10:12] adamralph commented on #244
@shiftkey yep, that's a good trick.

In fact, @andreasohlund came up with the same idea for the Particular repos - https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3AParticular+label%3A%22Tag%3A+Up+For+Grabs%22 - and we're planning to send a PR (which I'll probably do tomorrow) to convert our "NServiceBus" listing to a "NServiceBus and the Particular Software Platform" listing.

[2016-01-05 10:34] shiftkey commented on #244
@adamralph I'm glad to know that works for you, but it kinda messes with my API ideas (and I think will break the issue counts currently displayed on the site).

As a way out of this, I've also been thinking around separating "links" - the stuff the user navigates to on the site - from more structured data which is available using the GitHub API.

For example, you could use the GitHub API to get a

[2016-01-05 10:37] adamralph commented on #244
@shiftkey one problem that immediately jumps out is that not all projects are on GitHub...

[2016-01-05 10:46] shiftkey commented on #244
@adamralph yes. I've been inferring from the issue link where the project is hosted, and I already exclude 6 projects (out of 180ish) from my naive implementation of calculating the issue count in bulk - because I can then hit the GitHub API directly with the right parameters.

That's not to say I can't/won't support other providers, but for now there's a bunch of data sitting there that we could

[2016-01-05 14:59] daveaglick commented on #244
Here's a thought...

It seems reasonable that multiple repos for a given project may need different tags. I.e., one project has a low-level C hardware interface in one repo and a .NET GUI in another. That would yield a very different set of tags, may have different up for grabs labels, probably has a different description, etc.

Instead of addressing this by adding child elements, why not add an o

[2016-01-05 15:14] adamralph commented on #244
@shiftkey fair enough, if you're covering 97% of projects then full steam ahead :ship:

@daveaglick not a bad take on the problem, and fully backwards compatible...

[2016-01-05 21:24] daveaglick opened #323 "Alternate site generation concept"
Alternate issue title: "oh, boy, what has Dave gone and done now..."

So I promised I would prepare a proof of concept for an alternative direction you could take for site generation. I finally got a couple hours to rig this up, and I think the timing is good since it looks like you're starting to think about more dynamic concepts (such as standing up an API).

First, a philosophical point: I pers

[2016-01-05 23:35] shiftkey commented on #244
@daveaglick interesting idea :+1: will ponder on it further.

I'll leave it up to others here if they have other ideas for doing grouping in the UI.

[2016-01-11 22:51] daveaglick commented on #323
Had a couple spare minutes and couldn't help myself so I added Markdown processing and some rudimentary stats to the generation process:

![2016-01-11_17h46_18](https://cloud.githubusercontent.com/assets/1020407/12249116/b2f422b0-b88b-11e5-965b-a231d335f27c.png)

Next step would be tracking deltas for the stats and possibly graphing them over time as a sparkline or on a seperate details page for e

[2016-01-12 03:25] shiftkey commented on #323
OH MAN THOSE STATS ARE SO COOOOOOOOOOOOL :heart_eyes_cat:

_I'll follow up with more serious remarks after I've had a chance to feed the inbox demons_

[2016-01-20 18:37] dilijev opened #344 "[Question] Multiple up-for-grabs type tags?"
It is possible to add additional tags for up-for-grabs issues, to make a distinction between things we are just accepting help for, versus things we think would be good first contributions?

At the moment I think the best way to solve this problem would be to add another `.yml` file to generate a new heading for our project, described as first time contributions, and indicate a different tag and l

[2016-01-25 05:09] shiftkey commented on #288
Fixed in #301

[2016-01-25 05:09] #288 closed, assigned to nobody

[2016-01-25 05:10] shiftkey commented on #344
We've had a couple of discussions about making things more flexible - see #244 and #240 for example - but nothing concrete. We've also been looking at ways to leverage the GitHub API to get more relevant/interesting data from projects - I think if we find a way to structure the YAML that satisfies all these scenarios we'll be :fire: :fire: :fire: :fire:

[2016-01-25 05:13] shiftkey commented on #179
Is it a fair assumption that these projects will want that? I don't mind whipping something up after I've got a proper data source for these projects, just curious how much value it'd add.

For reference, most of the updates I've had are for changing tags and URLs...

[2016-01-25 08:29] khellang commented on #179
It could be worth making the `desc` node optional and have it fetch the description from GitHub instead. Given that you're able to extract the GitHub repo URL from somewhere...

[2016-01-25 08:40] shiftkey commented on #179
Alright, as a starting data point we should investigate how many projects use a different description here to what they've defined on GitHub. If there's a high overlap, I'm interested in making this optional...

[2016-01-25 08:45] khellang commented on #179
That's a good point. I think the less information (from GitHub) we need to duplicate here, the better. The question is, once/if we make `desc` optional, what happens to the projects that already have a `desc`?

[2016-01-25 11:11] shiftkey commented on #179
They can keep it, for all I care. But it'd be really cool if new PRs would say "hey, you haven't provided a `desc` field, so this is what you'll see" and then screenshot and add a comment to the PR (okay, maybe a screenshot isn't necessary).

[2016-02-01 15:35] montogeek commented on #323
Hi! Where is pagination implemented? I can't see it at http://up-for-grabs.net/#/tags/JavaScript

[2016-02-01 16:06] daveaglick commented on #323
@montogeek It hasn't been merged (or even submitted as a PR) yet. This issue was mainly to open up discussion on possibility and interest of moving to an alternate generator. You can view the results here http://up-for-grabs.azurewebsites.net/

[2016-02-01 16:17] montogeek commented on #323
@daveaglick Oh, I see, I like how it looks. I asked because I wanted to contribute.
So, we should wait for a PR to start working on other issues?

[2016-02-01 16:26] daveaglick commented on #323
@montogeek Not sure - to be honest, I'm not sure how much interest there is in bringing this in. It's a very big change to the current way the site is built and I mainly just threw it out there as a flyer. @shiftkey or another maintainer will have to weigh in on if it's worth developing further.

FWIW, the code used for this is on my fork in the master branch: https://github.com/daveaglick/up-for-

[2016-02-04 00:57] shiftkey opened #354 "Test Site with Jekyll 3.0"
https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0

I think the impact to us is minimal as we're not really doing anything with Markdown in here, but we should ensure that everything is working fine when you locally develop on this.

[2016-02-11 03:36] shiftkey commented on #323
Yeah, and that's still where I'm at with the thinking on this:
- we're not really using much of Jekyll beyond the `_data` stuff, but it's still rather mainstream for static sites (and should even [work on Windows](http://jekyllrb.com/docs/windows/#installation) - not sure if Wyam supports other OSes)
- getting site hosting and deployment for free with GitHub Pages is very nice
- I got around to st

[2016-02-11 03:36] #323 closed, assigned to nobody

[2016-02-11 03:52] daveaglick commented on #323
No sweat - rigging it up actually resulted in some permanent enhancements to Wyam (like direct JSON and GitHub support) so in that regard it's a win regardless.

[2016-02-18 00:46] shiftkey commented on #211
If we wanted to integrate with GitHub better, we could get the colour associated with the label _for each project_ through the API: https://developer.github.com/v3/issues/labels/#get-a-single-label

[code]

But I think this should be done through an external data API we manage to support caching, rather than exhaust the user's anonymous API limit (which we're kind of already doing).

[2016-02-18 05:55] dahlbyk opened #364 "Meta Description & Open Graph"
What a spectacularly lame embed!
<img width="172" alt="slack_2016-02-17_23-47-04" src="https://cloud.githubusercontent.com/assets/133987/13134900/fcd53b5a-d5d0-11e5-8812-bd202631c8fa.png">

Would be awesome if someone with HTML skills and some good words could fix this.
- [x] Add a `<meta name="description" .../>` with good words

Bonus:
- [x] Add [Open Graph markup](https://developers.facebook.co

[2016-02-18 19:49] qixiaohui commented on #303
Hi, I never commit on open source before, and trying to find my first project to commit, could I work on this issue?

[2016-02-18 22:16] shiftkey commented on #303
@qixiaohui I've not heard from anyone else who might be working on it, so you're more than welcome to claim it!

[2016-02-18 22:39] qixiaohui commented on #303
Great! Thanks.

[2016-02-19 07:55] hobbyexplorer commented on #364
Hi @dahlbyk,
I would like to work on this issue.

[2016-02-22 00:16] #364 closed, assigned to nobody

[2016-02-22 22:33] dahlbyk commented on #364
Much better, thanks @magevadi!
<img width="408" alt="slack_2016-02-22_16-32-29" src="https://cloud.githubusercontent.com/assets/133987/13235129/54a66824-d98a-11e5-9fb2-831db0308332.png">

[2016-03-05 04:39] mwksl commented on #317
@shiftkey I think the regex in 9da28d0 should help with what you're looking for!

[2016-03-05 15:57] mwksl commented on #317
Had a typo in my last PR 😮, 0c6236f fixed it!

[2016-03-16 16:37] apoorvnandan commented on #303
I have implemented pagination in the following manner.
- Each page shows only 10 projects
- All the projects (json) are loaded once only as done in the current website so changing pages is quick
- At the bottom of the project list, the site contains page numbers in a horizontal list for navigation with the current page number written in bold
- Rest of the UI remains the same

Here are some screens

[2016-04-04 16:35] daveaglick commented on #323
@shiftkey Considering using this proof-of-concept in a talk about Wyam (possibly for Fringe). It's a great example of converting a fairly simple Jekyll site that also has metadata and custom coding requirements. Want to be sure you're cool with that?

[2016-04-04 16:40] shiftkey commented on #323
@daveaglick I'm absolutely fine with you talking about Wyam and your experiences here :shipit:

[2016-04-25 06:06] franciscop opened #395 "Sending high traffic?"
Hi, I love up-for-grabs and I've been trying to make my project [as friendly to it as possible](https://github.com/umbrellajs/umbrella/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Aup-for-grabs), creating, documenting and helping in several issues. It takes a bit more of effort to handle an up-for-grabs issue than doing it myself, but in exchange I get a lot of satisfaction helping new people in OSS.

[2016-04-25 07:12] dahlbyk commented on #395
Awesome! That's exactly why we're here!

The order in which projects are shown in [randomized per session](https://github.com/up-for-grabs/up-for-grabs.net/pull/110), so it may just be random luck that several new people ended up looking at the same issue? Maybe there's something particularly approachable about your project ("tiny")? You could always ask the three people who converged on that issu

[2016-04-25 07:18] franciscop commented on #395
Awesome, thanks for the tips

[2016-04-25 07:18] #395 closed, assigned to nobody

[2016-05-19 07:58] shiftkey commented on #277
I think we can close this out as #363 should cover it nicely :sparkles:

[2016-05-19 07:58] #277 closed, assigned to nobody

[2016-05-19 08:17] #354 closed, assigned to nobody

[2016-05-25 05:29] FleetAdmiral commented on #289
I'd like to take this up!

[2016-05-25 05:42] shiftkey commented on #289
@FleetAdmiral sounds good!

[2016-05-26 10:14] raphaelm opened #412 "Wrong information in axelrod.yml"
Somehow, in https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/_data/projects/axelrod.yml, @drvinceknight forgot to replace the description of pretix.yml with the description of axelrod ;) While I'm not at all unhappy with people finding pretix more easily, I guess this is not intended. :)

[2016-05-26 13:03] drvinceknight commented on #412
Much appreciated! Not sure how that happened. Will take a look :)

[2016-05-26 13:23] shiftkey commented on #412
Nice spot. I will happily accept a PR to update it.

[2016-05-26 13:44] drvinceknight commented on #412
Thanks: https://github.com/up-for-grabs/up-for-grabs.net/pull/414

:) 👍

[2016-05-27 00:05] #412 closed, assigned to nobody

[2016-06-12 15:13] FleetAdmiral commented on #289
@shiftkey So i thought about it , and i couldn't decide as to how we'd decide if 2 tags relate to the same thing. For documentation , i guess its safe to say people putting anything like docs, document , etc would refer to the same thing , but what about tags like angular - how would we decide which tag it relates to (angular 1 or angular 2)?

[2016-06-12 22:50] shiftkey commented on #289
@FleetAdmiral my initial thoughts on this would be to have a loose format ala YAML:

[code]

This gives us a few things:
- the rules for grouping tags are simple and can be PRed by external contributors
- we can define tags on a case-by-case basis and migrate projects over
- we can annotate additional data related to each tag, for some better search abilities down the track

[2016-06-13 13:34] dahlbyk commented on #289
For now, what if we just generated a tag directory and added a build step that requires all tags be present in the dictionary? If that tag directory were asserted to be in alphabetical order, it should be relatively easy to notice and prevent duplicates as they are about to be created.

For now, I'd propose a YAML associative array with empty values:

[code]

As we decide on tag properties (`type`

[2016-08-30 22:02] DandyDeveloper opened #448 "Automatically post projects from up for grabs to /r/RepositoryRequest"
I'm not even sure how feasible this is but I'm going to look into it.

I created a new subreddit with the purpose of achieving what up for grabs does. The subreddit is here:

https://www.reddit.com/r/RepositoryRequest

It took of a little more then I expected (I actually expected just a few newbie developers interested), but its' already started to gain traction and I think the introduction of an

[2016-08-30 23:55] shiftkey commented on #448
What exactly do you need from one of the curators?

If you're interested in knowing when new projects are added I could enable a [webhook](https://developer.github.com/webhooks/) on this repository to report when pull requests change - you could look for when the pull request is merged and grab the details from the file.

[2016-08-31 20:28] dahlbyk commented on #448
A PR webhook is a good option. You would want to look at the PR diff to check for new files added to [`_data/projects`](https://github.com/up-for-grabs/up-for-grabs.net/tree/gh-pages/_data/projects).

If you wanted to take that a step further, you could periodically scan all the projects listed and check for new issues with the specified label since your last scan. This would let you periodically

[2016-09-01 10:59] Panda-Srujan opened #449 "Wrong files showing while querying the index path using lucene."
Hi everyone,

I'm new to Lucene. I've an issue while querying the index file (path) while searching for a string in the files (say: doc files). I've looped through all the files using the following code.

[code]

But unfortunately, I've been getting the same search results, the same file name as follows.

![repetition](https://cloud.githubusercontent.com/assets/16679478/18156642/5752f1e0-7035-11e6

[2016-09-01 13:30] DandyDeveloper commented on #448
I'd definitely like to do something along those lines, this would also allow me to create something using a language I'm familiar with, without bothering you.

I'd like to get the ball rolling this weekend, as I'm currently busy with other projects & work.

Do you need anything from me at this point to get started? Also, thank you so much to being open to the idea, means a lot to me and I'm sure i

[2016-09-01 15:46] dahlbyk commented on #448
Not really. I've added you as an admin on https://github.com/up-for-grabs/reddit-bot; feel free to rename with something clever. Since we've simply hosted with GitHub Pages, we don't really have any opinions on platform, host, etc. (beyond free, given that we are unsponsored :grinning:). Once you get to the point that you'd like to start receiving web hooks, give us a URL and we will get you set u

[2016-09-01 18:43] brooksbecton commented on #448
Hey! I'm new to helping with issues on Github, but I would really like to hop on this. I'm familiar with python so we can use reddits bot library to listen for the web hooks and make the posts.

[2016-09-02 02:26] shiftkey commented on #449
I'm not sure this is the right place to ask - maybe [StackOverflow](http://stackoverflow.com/questions/tagged/lucene.net)?

[2016-09-02 02:26] #449 closed, assigned to nobody

[2016-09-03 09:58] DandyDeveloper commented on #448
@dahlbyk What kind of events am I going to be looking for? Never used a web hook within Github, so I'm not sure what kind event I'll need to perform.

[2016-09-04 22:58] shiftkey commented on #448
@DandyDeveloper the webhook is a request that GitHub sends to a given URL (in this case, a web server you've hosted somewhere). It will contain some JSON describing the event that just happened, and the state of the pull request.

Here's an example payload of the PR: https://developer.github.com/v3/activity/events/types/#pullrequestevent

Looking at the contents of `pull_request`, I don't think yo

[2016-09-21 20:55] dahlbyk opened #462 "GitLab Issue Count"
While GitLab's API doesn't support anonymous access, users who are authenticated to GitLab should be able to see projects' issue counts.
1. Add a GitLab strategy to [`issueCount`](https://github.com/up-for-grabs/up-for-grabs.net/blob/681bfa5a26f8cce9d9dc4a06d5743ce4556aaa75/javascripts/main.js#L65-L99)
2. Get something GitLab-y to use instead of ![Octocat](http://up-for-grabs.net/images/octocat-sp

[2016-10-06 23:06] Schavras commented on #303
This issue is still open?

[2016-10-07 15:03] dahlbyk commented on #303
Yeah, I don't believe we ever saw a PR from @apoorvnandan. (Perhaps because we never answered "Is this acceptable?" 😊 ) So to answer that question: maybe? I'd have to use it to see for sure, but we would at least want to add Prev/Next links rather than having to pick the correct page to see more.

That being said, I personally feel like I'd prefer an "infinite scroll" approach even if we only rend

[2016-10-07 15:47] apoorvnandan commented on #303
I was pretty new to open source projects at that time so I was not sure whether to open a PR or first discuss the changes here. Anyhow, I'll open a PR after adding Prev/Next links. I'll also look into the "infinite scroll" way.
Thanks for replying though. :)

[2016-10-07 15:52] dahlbyk commented on #303
It's :ok: to open a PR now with your progress and [to-dos](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments). Feedback early and often!

[2016-10-09 00:56] andy5995 opened #476 "suggest adding a field for "Contributing Guidelines" link"
I've had several people find my project through up-for-grabs, and they seem to be first-time contributors to open source projects. They usually usually post on an issue and ask where to start, and have no experience submitting patches or PRs. So I direct them to a page where I've outlined instructions for contributing, doing pull requests, and how to sync a fork with the remote upstream.

This is

[2016-10-10 14:21] dahlbyk commented on #476
This sounds like a great idea! Supporting an optional `contribute` key or equivalent should be pretty simple to add. Bonus points if anyone wants to use the GitHub API to scan existing projects for links to fill in.

[2016-10-26 02:57] ckhatri opened #486 "images/line.png not found"
Whenever I try doing docker compose I get hit with
ERROR `/images/line.png' not found.

I found the issue is in stylesheet.css

[code]

Not sure if line should be an actual file or if this is a typo. Thought I'd bring it up to people's attention!

Hope I did this issue stuff right. It's my first time.

[2016-10-26 03:22] shiftkey commented on #486
Introduced here: https://github.com/up-for-grabs/up-for-grabs.net/commit/f8dba3d8a39a9dafadd26ae6d164d21b9f378e4f#diff-b8b01588d730dbc5770b98a7f4a45687R286

@daveaglick thoughts?

[2016-10-27 20:15] dahlbyk commented on #486
I'm inclined to remove the three `background-*` declarations - the existing link underline seems adequate to me.

@ckhatri how do you feel about closing your first issue with your first pull request? 😀

[2016-10-27 20:42] ckhatri commented on #486
yes please! just passed travis CI too, should be good to go.

[2016-10-27 21:56] #486 closed, assigned to nobody

[2016-10-27 22:35] daveaglick commented on #486
Oh man, totally missed the notification on this one. I'm sure it was just a mistake/typo. Glad it got resolved! If it looks good, :shipit:

[2016-10-27 22:39] daveaglick commented on #486
@ckhatri Congrats on your first PR!

[2016-10-30 20:37] jywarren commented on #344
I like to help out on this - but should we merge it into #240, which is almost identical?

It looks like, using [this YAML validator](http://www.yamllint.com/), this could work as a list format:

[code]

I see you parse the YAML files in this file on the CI hook: https://github.com/up-for-grabs/up-for-grabs.net/blob/8b6647926010f199de407211e8e0e2875830f175/scripts/cibuild.rb

I'm happy to submit a

[2016-10-30 21:03] shiftkey commented on #344
For the sake of checking compatibility, I'd change one file to support two tags and then test these things out:
- can you make `ruby script/cibuild.rb` pass for both the existing syntax and this new syntax? #491 was just merged which will make it easier to test this out.
- can you run up the site and find this file in the site listing? It should render an empty label, like this:

<img width="724"

[2016-11-08 05:44] ghost commented on #476
I can do this one! Using the github API for that sounds fun too :)

[2016-11-11 02:07] ghost commented on #476
Okay it's done but the script only works for the few projects that have CONTRIBUTING.md in their default branch. May or may not be due to bug in my script. Let me know if you have any modifications that could be made to get more added.

https://github.com/up-for-grabs/up-for-grabs.net/pull/497

[2016-11-18 17:12] jywarren commented on #344
Being slow on this one, sorry!

[2016-11-23 17:27] ghost commented on #476
@ckhatri @dahlbyk oh I didn't see that someone had already made one :(

[2016-12-12 17:13] #211 closed, assigned to nobody

[2016-12-15 15:23] Hestben opened #511 "Visiting the site with javascript disabled does not display any projects"
Hey!

I just wanted you to know, that if I visit the site ([link](http://up-for-grabs.net/#/)) with javascript disabled, only the static content is displayed, no projects are listed, and no message informing the user that the site requires javascript is displayed.

This could be useful, whenever a user of noscript visits the site.

[2016-12-15 23:21] shiftkey commented on #511
@Hestben good point. If someone wants to take a shot at this, I'd be happy to give some ideas.

[2016-12-16 11:48] waldyrious opened #512 "Use project names in search, not just tags"
Otherwise we have to include the project name as a tag so that users can find them, which is kind of a hack.

[2016-12-16 12:25] arjunnn commented on #511
Hi, I want to help.  Please give me some pointers. Maybe a `<noscript>`?

[2016-12-16 12:54] waldyrious commented on #511
(Disclaimer: I haven't looked in detail at the current setup, I don't know much about using Jekyll)

Could we tell Jekyll to generate a static page listing all the contents of the _data/projects folder, and then progressively enhance it via javascript, to inject a search field and hide blocks whose tags ([or title](https://github.com/up-for-grabs/up-for-grabs.net/issues/512)) don't match the searc

[2016-12-16 23:47] shiftkey commented on #512
This might be a silly question from me, but if you already know the name of the project why wouldn't you go straight to Google/GitHub to find it?

[2016-12-16 23:54] shiftkey commented on #511
A `<noscript>` tag on the home page would be a good first go at this.

As to statically generating the markup for each project, this is how we're generating the JSON for the projects (`jsonify` is included by default in Jekyll):

https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/_includes/scripts.html#L47

The rest of this file is the templates that get rendered. I'm a bit hazy on how

[2016-12-17 00:20] waldyrious commented on #511
Thanks for the pointers! Unfortunately I can't promise I'll have the availability to work on this anytime soon, but hopefully others can :)

[2016-12-17 00:26] waldyrious commented on #512
As a curious technically-minded person, or enthusiastic user but not yet involved in development, I might know about a project and want to get involved, but since they don't necessarily use the same ways to identify easy/beginner issues (different bug trackers, different label names, sometimes even manually curated lists rather than query results in an issue tracker, etc.), I would like to be able

[2017-01-07 16:43] dahlbyk commented on #512
I wouldn't object to this, e.g. a React search could find the React project in addition to projects related to it.

[2017-01-09 11:22] psanjay-1 commented on #511
can i work on this issue?

[2017-01-12 00:23] ahuwaa commented on #512
Going to take a shot at this unless o.w. told not to

[2017-01-17 23:35] Manish-Giri opened #531 "Feature Request - sort issues by date"
I'm not sure what (if any) the current sort order is, but if you select a tag like `JavaScript` to filter projects, the resulting list links to a lot of projects where the issues were labelled a long time back (some more than a year ago). Some of these issues also have PRs open against them, but with the labels still on, while in other issues, people have commented that they're working on it.

It

[2017-01-31 23:57] fronchetti opened #544 "Topics, the latest github update"
Have you seen what GitHub has just released? Topics, a new tool that can be very useful for this project.

What do you think about including the topics on the website?

https://github.com/blog/2309-introducing-topics (Blog)
https://help.github.com/articles/about-topics/ (Documentation)

![02b5bfb2-e7ab-11e6-8499-33d33c240621](https://cloud.githubusercontent.com/assets/15092904/22489656/e9ad84be-e7

[2017-02-01 00:03] fronchetti commented on #544
They follow the same logic as the tags available in the .yml file. :thumbsup:

[2017-02-01 07:18] shiftkey commented on #544
@fronchetti it would require deeper GitHub information to automagically generate them, and I don't see it being available from the GitHub API currently...

[2017-02-01 14:08] dahlbyk commented on #544
Once available from the API, we could provide a utility to create/update a project file given a GitHub project: `up-for-grabs dahlbyk/posh-git`

[2017-02-04 14:15] bigwave opened #547 "JavaScript code formatting"
I notice there is an .editorconfig file, I assume that this is for the [EditorConfig for VS Code](https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig) extension and that means that Visual Studio Code is your preferred editor.

However, when I auto-format main.js there are significant changes.

Should I submit a pull request with auto-reformatted .js files?

[2017-02-05 08:49] shiftkey commented on #547
[EditorConfig](http://editorconfig.org/) is intended to be tooling-agnostic. It looks like we haven't really defined any JS-specific rules in there, which might explain what you're seeing.

I'd love to see a PR to tidy up the JS files, to ensure we're being consistent. And if there are rules we can specify, let's get them in as well...

[2017-02-05 11:30] bigwave opened #548 "Remove the BugNET project, as it appears to be dead?"
[BugNET ](https://github.com/dubeaud/bugnet) appears to be dead, there are 114 open issues, 4 outstanding pull requests and the last commit was April 2016

And this [comment](https://github.com/dubeaud/bugnet/issues/235#issuecomment-268624982) says "The developer of BugNET has ceased supporting it."

Remove this project from up-for-grabs?

[2017-02-05 15:52] shiftkey commented on #548
@bigwave :thumbsup:

[2017-02-07 15:16] #548 closed, assigned to nobody

[2017-03-05 23:13] dahlbyk opened #567 "Incorrect GitHub Issue Count"
https://twitter.com/ziki_cz/status/837867100848848898

Bug. No pagination. As far as @shiftkey and I can tell, the REST API doesn't expose open count per label, but GraphQL does:

[code]

But GraphQL (preview) requires authentication. So we need a proxy of some sort. Or in the short-term, we could just show 50+... I assume there's an HTTP header we could check to tell if there's a next page?

[2017-03-05 23:34] shiftkey commented on #567
It's a hack, but you can get an approximation within +/- a page using [the pagination headers](https://developer.github.com/v3/#pagination). The `last` link will give you the number of pages and the page size.

e.g. `<https://api.github.com/user/repos?page=50&per_page=100>; rel="last"`.

[2017-03-28 05:18] karelz opened #578 "Question: Can we provide 2 queries per repo?"
Would be nice to promote a query with 'simple' issues for a repo (we do not have too many yet marked with 'simple', but it's coming ...).
However, we don't want to make it the main query from your site http://up-for-grabs.net.

Maybe even better option: Optionally provide a link to "**up-for-grabs issue guide**" per repo, where we could have few links - [simple](https://github.com/dotnet/corefx/la

[2017-03-28 05:20] shiftkey commented on #578
xref https://github.com/up-for-grabs/up-for-grabs.net/issues/344

[2017-03-28 05:35] karelz commented on #578
A little bit digging around.
If I went after the "issue guide link", looks like these places are relevant:
* Validation of required yml elements [here](https://github.com/up-for-grabs/up-for-grabs.net/blob/ff71fc88fa558be1608c4e44a79fb6300f91ce30/scripts/cibuild.rb#L59-L62) ... this one would be optional, so no change here I assume.
* Conditional HTML entries per project [here](https://github.com/

[2017-03-28 06:35] dahlbyk commented on #578
Perhaps this could come in the form of an optional key for linking to a CONTRIBUTING file (or a section within that, if there's a UFG section)?

That said, I'm not opposed to supporting multiple labels, too/instead (please discuss that in #344). Or links within descriptions, for that matter.

[2017-03-28 06:39] karelz commented on #578
So links within description are not allowed at this moment? [Your code](https://github.com/up-for-grabs/up-for-grabs.net/blob/8b6647926010f199de407211e8e0e2875830f175/_includes/scripts.html#L52) seems to treat them as mark down, so I would assume it should just work ...

BTW: I was about to try it out, but got stopped by missing pre-req 'bundle', have to hunt it down somewhere ...

[2017-03-28 19:50] dahlbyk commented on #578
I wouldn't say links aren't allowed, I just don't know if anyone has tried. They're fine with me...

For bundle, you need to `gem install bundler`.

[2017-03-28 20:07] karelz commented on #578
`gem install bundler` ... I guess I need Linux. Or would the Docker image would come pre-installed with the stuff?
Sorry, Windows person here :( (out of touch with Linux in last 12 years - quite a lot has changed since)

[2017-03-28 21:45] shiftkey commented on #578
@karelz there's a [Dockerfile](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/Dockerfile) at the root which should be setup for this.

[2017-03-31 23:45] pajaydev commented on #303
Can I work on this or its completed already??

[2017-04-02 15:24] friendly-developer commented on #547
I can help, set up a proper linting tool. For formatting though I use ATOM editor, so I don't know if it's applicable

[2017-04-04 11:51] mathfour commented on #462
I'm brand-spanking-new and I'm not sure how this works. But since up-for-grabs.net was the most encouraging in doing this, I'm compelled to jump in and try to help.

I'm throwing my hat in the ring on this and heading back to read all the detailed how-to's and codes-of-conduct, etc.

I'm calling a gentle claim on this one (mostly because I'm not sure if I'm yet qualified to do it, but, golly, I'm

[2017-04-04 15:33] 0x006E commented on #511
Is this now also open? I want to contribute

[2017-04-05 00:00] shiftkey commented on #462
@mathfour sure thing - do let us know you go!

[2017-04-05 02:01] mathfour commented on #462
All right - I'm in!

I'll start looking at it fresh in the morning.

What's the best place/way to ask questions? Here? Slack?

\#excited

[2017-04-05 04:36] shiftkey commented on #462
Just add them here - we don't have a Slack or chat setup currently...

[2017-04-17 08:52] waldyrious opened #594 "Runtime error"
On Firefox 50.0.2:

[code]

On Chrome 57.0.2987.133:

[code]

[2017-04-17 08:53] waldyrious commented on #512
@shiftkey with the merging of #534, I suppose this could be closed, right? I tried to test it but I'm hitting #594.

[2017-04-17 12:05] shiftkey commented on #594
Looks like I probably should have tested #534 better before merging.

[2017-04-17 12:07] #594 closed, assigned to nobody

[2017-04-17 12:11] shiftkey commented on #512
@waldyrious I guess we can't close this out just yet. I've left a note in #534 to see if we can get to the bottom of it...

[2017-04-24 13:36] etabakov opened #601 "Question: Add more than one repository to a project"
Hey guys,
Our product is spread among multiple repositories in a single GitHub organisation. Is it possible to show somehow different repositories under a single project? Or at least accumulate the numbers from several repos?

Thanks!

[2017-04-30 08:15] aph3rson commented on #567
I believe I've fixed this. As @shiftkey mentioned, the pagination headers mention if content has been paginated. Using some math, we can use the number of pages, as well as the number of items on the last page, to determine the actual issue count.

This has been submitted as PR #604.

[2017-04-30 17:11] aph3rson opened #605 "Multiple projects on GH don't render issue count"
As mentioned above, multiple projects (such as Raiden Network, [raiden-network/raiden](https://github.com/raiden-network/raiden)) doesn't have a count rendered on the projects listing. Appears to be due to a malformed .yml, and not using standardized syntax.

See [raiden.yml](https://github.com/up-for-grabs/up-for-grabs.net/_data/projects/raiden.yml) as an example.

Tasks:
- [x] Update relevant YM

[2017-04-30 18:05] aph3rson opened #607 "issueCount doesn't work on "non-standard" GH issue URLs"
Right now, the `issueCount` function relies on the `link` attribute for each project. However, many of these links aren't in a standard format, and can't guarantee that additional options are being passed in this URL (both of which cause `issueCount` to not return a count).

Perhaps it might be better to update the function to compose its own URL to check against the API, by using the `site` and `

[2017-04-30 18:07] aph3rson commented on #605
It appears this issue is more far-reaching than I initially thought - I'll do a new PR for the collection of projects currently broken.

Additionally, #607 handles that the `upforgrabs/link` attribute may not be standardized, to prevent this from becoming an issue in the future.

[2017-04-30 18:34] aph3rson commented on #605
PR #608 handles the files/projects affected by this.

[2017-04-30 22:44] #605 closed, assigned to nobody

[2017-05-05 03:27] aph3rson commented on #462
@mathfour Are you still working on this? If not, I'd love to take a crack at it!

[2017-05-09 01:00] mathfour commented on #462
Go ahead @aph3rson - I'm trying to figure out github (we had to use it in a project and it's a bit more complex than I thought). I'll keep following this thread so I can watch how you work. :D Thanks!

[2017-05-10 18:40] aph3rson commented on #462
I'd like to see #604 (for issue #567) merged in before I start working on this - the pagination code there might be hard to merge into.

My thoughts are to rewrite the `issueCount` procedure to determine the appropriate strategy to update the issue count. However, it doesn't appear that there's a reliable way to determine the strategy, short of looking at the URL for the link to the issue. I'd rat

[2017-05-10 19:02] aph3rson commented on #462
A little bit more on the GitLab API: as long as the user is authenticated to the GitLab server in question (be it gitlab.com or otherwise - API calls will use local cookies if available), we can HEAD the API endpoint `https://gitlab.example.com/api/v4/projects/owner%2Fproject/issues`. If the user is unauthenticated, we'll get an HTTP/401 in response. Otherwise, we should get an HTTP/200. The JSON

[2017-05-10 21:54] aph3rson commented on #601
At present, there isn't a method to do this, add together numbers from different sources.

Previously, what others have done is have the `up-for-grabs/link` URL point to a search of relevant (i.e. open/tagged) issues for projects in that organization. Unfortunately, that doesn't allow for issue counts to be updated. Alternatively, you could create a project for each repo in your organization, whic

[2017-05-10 22:40] aph3rson opened #617 "Add strategy/query fields to project YAMLs"
I'm proposing that we split the `up-for-grabs` attribute in the project YAMLs into a handful of different fields, to improve the functionality on the website for repo hosts other than Github. In short, this includes:

* `name` - self-explanatory, name of the tag/label/etc.
* `strategy`/`type`/`host`/etc. - a way to tell what service/software hosts the content. This should be passed to `issueCount`

[2017-05-10 22:41] aph3rson commented on #607
GitHub's Search API allows for 10x as many unauthenticated requests, as well as supporting searches for multiple labels (incl. negation), organizations, and exposing a single count in the JSON response (without dealing with pagination - returns up to 1000 responses in one query). It might be prudent to move to using this Search API, instead of using the current Issues API.

edit: x-ref https://git

[2017-05-12 05:06] shiftkey commented on #601
@etabakov here's an example of doing an org-level link: https://github.com/up-for-grabs/up-for-grabs.net/blob/8b6647926010f199de407211e8e0e2875830f175/_data/projects/ipfs.yml#L18

For other discussions, let's add it to #344 or #578

[2017-05-12 05:06] #601 closed, assigned to nobody

[2017-05-12 05:09] shiftkey commented on #544
I'm gonna close this out to tidy things up a bit, but feel free to comment once it's available from the API and we can figure out how that fits with Up for Grabs.

[2017-05-12 05:09] #544 closed, assigned to nobody

[2017-05-12 05:10] shiftkey commented on #448
Closing this out to get this off our plate, but please feel free to update this issue @DandyDeveloper if you have anythign cool to share!

[2017-05-12 05:15] shiftkey commented on #188
Without doing a lot of processing of open PRs to find the issues references, or scanning the timeline events for each issue to find PR references, I'm not sure how else we'd achieve this. And we'd need infrastructure to do that which doesn't currently exist.

Gonna close this out to simplify things, but maybe one day this will be possible.

[2017-05-12 05:15] #188 closed, assigned to nobody

[2017-05-12 05:16] shiftkey commented on #212
Apologies for dusting off this discussion way after the fact:

@ChrisMissal would a separate tag be enough here? Or do things need to be more separated between development/design/UI/logo work (to name things arbitrarily) so that it's easier to find the right type of work you're interested in?

[2017-05-12 05:19] shiftkey commented on #216
it's been a while since this discussion started, but GitHub did ship this little bit of polish recently:

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Maintainers will now see &quot;first-time contributor&quot; badges if it&#39;s the author&#39;s first pull request to the project. Be sure to welcome them! <a href="https://t.co/8wlkDNSO9r">pic.twitter.com/8wlkDNSO9r</a></

[2017-05-12 05:20] shiftkey commented on #216
Closing this out to get stuff off my plate, but feel free to comment if you've got additional ideas.

[2017-05-12 05:20] #216 closed, assigned to nobody

[2017-05-12 05:22] shiftkey commented on #233
If we can get to a point where we're able to reliably cache these stats (and we're not dealing with rate-limiting on the client) we could do client-side hiding fairly easily. But that requires a bunch of additional work first.

Gonna close this out to get stuff of my plate, but maybe we'll come back to it in the future.

[2017-05-12 05:22] #233 closed, assigned to nobody

[2017-05-12 05:23] shiftkey commented on #74
Closing this out due to the passage of time and my terrible memory.

[2017-05-12 05:23] #74 closed, assigned to nobody

[2017-05-12 05:27] shiftkey commented on #240
Closing in favour of #344

[2017-05-12 05:27] #240 closed, assigned to nobody

[2017-05-12 05:42] shiftkey commented on #512
Closing this out to get things off my plate.

@waldyrious if you would like to revisit this there's some details in #594 around what might have been the problem.

[2017-05-12 05:42] #512 closed, assigned to nobody

[2017-05-12 19:31] ChrisMissal commented on #212
657 days ago. I think we're probably okay to close this one :)

[2017-05-12 19:31] #212 closed, assigned to nobody

[2017-05-23 23:12] aph3rson commented on #567
Just to give an update, #604 is still pending review, but I wanted to mention that a move to the Search API might be more prudent, as I mentioned in https://github.com/up-for-grabs/up-for-grabs.net/issues/607#issuecomment-300633183. In short, here's what's leading me to that conclusion:

* The results count is returned by the Search API, and doesn't require math to figure it out
* Search API has m

[2017-05-23 23:15] aph3rson commented on #261
x-refing a comment I made regarding the API quota: https://github.com/up-for-grabs/up-for-grabs.net/issues/567#issuecomment-303563550

[2017-05-23 23:24] aph3rson commented on #531
I know this is an old issue, but I still wanted to make a comment.

I really like your idea - there's a lot of issues on projects that might be in our list, but the issues haven't been updated in a long time. There's some theory/ideological discussion to be had here, though - do we want to discourage users from looking at old issues? Looking at [projectsService.js:89](https://github.com/up-for-gra

[2017-06-17 04:39] edmonto opened #637 "Still being worked on?"
Is this project still being worked on? I don't want to contribute to a project if no one is working on it.

[2017-06-17 12:12] shiftkey commented on #637
Yes

[2017-06-17 12:12] #637 closed, assigned to nobody

[2017-07-01 18:58] VRamazing commented on #303
Hi there!!! is this issue still open

[2017-07-01 21:34] aph3rson commented on #617
I would love some further comments on this idea. Right now, it's somewhat-conflicting with another PR regarding properly counting GitHub issues (#462), but I'd be willing to do some more in-depth work on this idea, and scrap the previous idea (incorporating ideas from https://github.com/up-for-grabs/up-for-grabs.net/issues/607#issuecomment-300633183 anyways).

[2017-07-12 16:28] ritwik12 opened #665 "Pagination"
This issue is related to #303
I am opening this issue again as I think nobody is considering the old #303
From my point of view, pagination is really required.
Whenever someone is searching for a good project to work on we always compare it with other projects.
Pagination helps us to see a certain list of projects at once.
It makes easy to search for the desired project.

[2017-07-12 16:34] ritwik12 opened #666 "Search"
Right now up-for-grabs have filter option only as "filter by tags".
I would suggest to include search by name.
Searching for the project on which we worked in the past or noticed as a good project but left it for future possibility is really hard.
Right now we need to go through the whole website to search for it.

Suppose I saw a project named "Thimble"
And kept it for future, But when I visit up

[2017-07-15 03:50] aph3rson commented on #665
As per the initial issue, @apoorvnandan had a concept of this - realistically, either waiting for a PR from them and/or replicating their concept would do just fine.

[2017-07-21 23:35] feliperomero3 commented on #548
@bigwave the author of BugNET @dubeaud did a couple of commits on Feb 24, 2017. Just saying, don't be too quick on assuming is a dead project. I thought this whole thing of "up-for-grabs" movement was all about being a welcoming community. My two cents.

[2017-07-25 16:15] shiftkey commented on #548
If the maintainer isn't interested in working with new contributors, I don't really see the point of listing the project here.

[2017-07-31 09:00] nicolas-raoul commented on #175
The most relevant would be the average time before a pull request is merged/closed.

[2017-07-31 09:05] nicolas-raoul opened #678 "Clean up tags"
Currently we have many similar tags:
[code]
(obtained via `grep "\- " *|sed -e "s/.*://g"|sed -e "s/^- //g"|sed -e "s/^ //g"|sort -u`)

[2017-08-03 01:51] ifeanyidavid opened #682 "External links load within the same tab."
The external links to projects load in the same tab as the site thereby causing a user to leave the site without returning.

I modified the links by adding target="_blank" to allow external pages load in separate tabs.

[2017-08-06 20:23] shiftkey commented on #682
@ifeanyidavid that linked commit seems like a good fix, feel free to open a PR against the project so I can pull it in!

[2017-08-06 20:24] shiftkey commented on #682
LOL, just saw #683. Nevermind!

[2017-08-06 20:25] shiftkey commented on #682
Fixed by #683

[2017-08-06 20:25] #682 closed, assigned to nobody

[2017-08-10 10:04] cmdrwebdev commented on #665
Is this still open?

[2017-08-10 13:20] ritwik12 commented on #665
@cmdrwebdev   Yes it is open and you may work and submit a PR.

[2017-08-15 15:04] byronic commented on #678
I'd like to take this on, if that's ok. I haven't contributed to this project before.

Pending a 'yes' to the above, is there an existent documentation set on what constitutes the correct version of a tag (as in should `ASP.net` or `asp.net` be considered 'correct?')?

[2017-08-15 16:21] nicolas-raoul commented on #678
I doubt such a documentation exists. I would recommend using [StackOverflow tags](https://stackoverflow.com/tags), as they should cover most technologies here, and are linked from Wikidata, which makes integrations/mash-ups easy to create. And for the few tags that do not exist on StackOverflow, I would recommend using the same syntax for coherence.

[2017-08-16 04:24] shiftkey commented on #678
@byronic thanks for the interest! And yes, as @nicolas-raoul said, we don't have any official docs. I like using the SO tags as a reference, even as a starting point.

[2017-08-16 19:46] byronic commented on #678
That sounds good to me. I'll see what I can cook up. :)

[2017-08-17 02:15] byronic commented on #678
Issued #697 as a proposed fix. Please review/comment/request changes at your convenience.

[2017-08-28 16:57] ritwik12 commented on #665
@cmdrwebdev  Have you tried?

[2017-09-06 15:42] conner-calhoun commented on #511
I added a noscript tag that displays a banner similar to the one found at the top of the page. How could I go about pushing my code?
![image](https://user-images.githubusercontent.com/18505623/30121016-702fd444-92f8-11e7-9100-cf0661e9df41.png)

[2017-09-11 17:42] layely commented on #665
@cmdrwebdev
Is this still open ? I want to contribute.

[2017-09-11 17:45] ritwik12 commented on #665
@cmdrwebdev Yes it is, As long as we don't get a PR.

[2017-09-11 17:56] layely commented on #665
@ritwik12 OK. So I am working on it

[2017-09-13 06:48] layely commented on #665
@ritwik12

Here what i have:

- 20 projects per page
- All projects are loaded at once of course
- when we move to the next page or previous page, auto-scroll (with animation) to the first project in that page
- URI now looks like up-for-graps.net/#/page/<page-num>/tags/<tags> (eg. www.up-for-graps.net/#/page/3/ or www.up-for-graps.net/#/page/3/tags/.net

![up-for-graps-pagination](https://user-im

[2017-09-13 08:20] ritwik12 commented on #665
@layely  Good work, Now please send a PR referring this issue.

[2017-09-14 01:41] layely commented on #665
@ritwik12 PR sent

[2017-09-18 07:22] shiftkey commented on #511
@callium if you can find the file in the repository that you need to update, you can [edit the file](https://help.github.com/articles/editing-files-in-another-user-s-repository/) in the web editor which will open a pull request for review.

[2017-10-01 22:18] andy5995 commented on #303
@VRamazing I see that PR #727 was submitted 10 days ago, but it hasn't been reviewed yet.

[2017-10-07 07:33] ritwik12 commented on #665
#727  is pending from about a month, please review @shiftkey and @dahlbyk

[2017-10-07 07:38] ritwik12 commented on #666
#710 needs review to get merged, please review @shiftkey  and @dahlbyk .

[2017-10-20 18:02] matthew-dean opened #782 "Question about tags"
Hey, I just recently came across this project. I was curious about surfacing Less on the site as I'm one of the core contributors. First: when I search "less" as a tag, can you tell me why https://github.com/less/less.js itself doesn't appear on that list (or any of the related repos like https://github.com/less/less-docs)?

I've now tagged tasks in both of those as "up-for-grabs", but I'm not sur

[2017-10-23 18:11] ritwik12 opened #784 "Pending PRs"
Sorry for this issue, but I am noticing that a lot of pull requests are pending for a long time and they are not even reviewed yet.
Please review the PRs and make up-for-grabs.net repo active as it was.

[2017-10-23 22:55] shiftkey commented on #784
@ritwik12 thanks for your concern, but I'm working through these whenever I have spare time. I'm currently travelling and presenting this week and next week, and trying to keep on top of my regular work while not burning myself out (again).

[2017-10-23 22:55] #784 closed, assigned to nobody

[2017-10-24 12:56] ritwik12 commented on #784
@shiftkey I know that you are working whenever you can, what I mean is that only you are reviewing. No one else is active.I think the problem is that it's a project maintained by a single person that is you. if that is the case then it is totally fine if PRs are getting delayed.

[2017-10-24 15:42] dahlbyk commented on #784
@ritwik12 are you volunteering to help with review and triage?

[2017-10-24 16:21] ritwik12 commented on #784
@ritwik12 yes I would be happy to help as much as I can on the basis of my current knowledge.

[2017-10-24 18:32] dahlbyk commented on #784
Welcome to the team! Let us know if you have any questions.

[2017-10-25 03:56] ritwik12 commented on #784
Thanks a lot, @dahlbyk , I will do my best.

[2017-10-25 04:26] ritwik12 commented on #250
PR #729 is able to solve this issue but the problem is that it works when you type a keyword and hit enter, but not when you type the keyword and then click the item from the drop-down.
@shiftkey  and @dahlbyk

[2017-10-25 04:45] ritwik12 commented on #666
Merged #710

[2017-10-25 04:45] #666 closed, assigned to nobody

[2017-10-25 04:54] ritwik12 commented on #782
@matthew-dean "up-for-grabs" is used as Label not tag.
And I am not able to  understand you clearly, for tags- the projects who are tagged with less when they submitted their .yml are tagged with less and you can search them using "less" on the website.

![1](https://user-images.githubusercontent.com/20038775/31981113-a8dbb0fa-b96e-11e7-846f-47be33d02f56.JPG)

you can see that here

[2017-10-25 17:48] matthew-dean commented on #782
@ritwik12 Submitted `.yml` to what? You're not just doing Github searches?

[2017-10-26 03:58] ritwik12 commented on #782
@matthew-dean No, why would I do GitHub search?
You are talking about up-for-grabs.net search right?

[2017-10-26 22:06] matthew-dean commented on #782
@ritwik12 Let me rephase: how is that list populated, is that documented, and how may I add to the list?

[2017-10-27 03:58] ritwik12 commented on #782
@matthew-dean It is mentioned in readme.md
Here have a look.

How This All Works

We use a few great features of Jekyll and GitHub Pages to host this entire site for free.

    We are using a file called scripts.html which is an include file. When we publish the site, Jekyll uses this to concatenate and generate the scripts that will actually be downloaded when a user visits the site.
    Within t

[2017-10-27 03:59] ritwik12 commented on #782
@matthew-dean  It is mentioned in README.md
 Have a look.

 How This All Works

We use a few great features of Jekyll and GitHub Pages to host this entire site for free.

    We are using a file called scripts.html which is an include file. When we publish the site, Jekyll uses this to concatenate and generate the scripts that will actually be downloaded when a user visits the site.
    Within the

[2017-10-27 04:02] ritwik12 commented on #782
@matthew-dean It is mentioned in README.md
Have a look.

How This All Works

We use a few great features of Jekyll and GitHub Pages to host this entire site for free.

- We are using a file called scripts.html which is an include file. When we publish the site, Jekyll uses this to concatenate and generate the scripts that will actually be downloaded when a user visits the site.

- Within the scrip

[2017-10-27 04:06] ritwik12 commented on #782
@matthew-dean Please go through this https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/README.md

[2017-10-27 17:59] ritwik12 commented on #782
@matthew-dean Is it resolved?

[2017-11-03 14:40] ritwik12 commented on #782
@matthew-dean I think this issue can be closed now.

[2017-11-07 17:06] #782 closed, assigned to nobody

[2017-11-25 18:23] DandyDeveloper commented on #448
@shiftkey Finally getting time to do this and have the Reddit API side of this sorted.

Still happy with me using the `PullRequestEvent` for posting these or do you have an up for grabs endpoint I could use (or, one that I could create)?

I'll test whether I can access the `PullRequestEvent` if we don't have an event and get back to you if I need some permissions set up.

Last question: Still happ

[2017-11-29 01:17] shiftkey commented on #448
We don't have an official endpoint. Using the official GitHub API is :gem:.

Please let me know if you have issues. Happy to help.

Yes!

[2018-01-15 04:42] evanplaice commented on #547
Why not automate the process?

Requirements:
- Opt to use [standard](https://github.com/standard/standard) or [semistandard](https://github.com/Flet/semistandard) for project-wide style checking
- Add a npm script to run the style checking tool
- Add a [PULL_REQUEST_TEMPLATE.md](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/) and add this step to the checkli

[2018-01-17 21:16] jacobwardio commented on #547
Linting should really only be used for picking up potential errors, rather than enforcing a specific style of coding. Something like [Prettier](https://github.com/prettier/prettier) may be more appropriate.

...my $.02

[2018-02-21 05:19] djm158 commented on #665
I took a look at the errors @layely had in his PR that caused @ritwik12 to revert and made some changes here https://github.com/djm158/up-for-grabs.net/tree/pagination/gh-pages. Worth making a PR? Is this issue still on the table?

[2018-02-21 05:24] ritwik12 commented on #665
@djm158  yes it's still open. You may work on it 🙂

[2018-02-22 21:40] lilliekhogg opened #886 "Feature Request - Enhance Text for accessibility"
Hi All!,
This issue is referencing my pull request #885 as I feel it would be necessary for your opinions here, to whether this is an appropriate enhancement for the site or not.

My enhancement Idea was to allow text to be zoomed in and out for users to allow for extra accessibility on the up-for-grabs website. This can be implemented using JavaScript to increment and reduce the font size referen

[2018-03-31 20:52] ritwik12 opened #908 "Build failed on merging some PRs"
I think there is some problem with Travis CI. From few days I am noticing that whenever I merge there is a chance that build will fail even when changes are reflected properly on up-for-grabs website.
Problem is with the Ruby version.
Following are some cases when it happened -

https://travis-ci.org/up-for-grabs/up-for-grabs.net/builds/357966918?utm_source=email&utm_medium=notification

https://t

[2018-04-01 05:01] #908 closed, assigned to shiftkey

[2018-04-02 03:51] ghost opened #911 "Include a CONTRIBUTING.md"
Perhaps it would be good to write up a CONTRIBUTING.md to help new contributors, especially given that this website's aim is to help new developers find projects to make contributions to.

[Here](https://gist.github.com/PurpleBooth/b24679402957c63ec426) is a nice template to help with writing this up. I would gladly take this on as my first PR if you would like.

[2018-04-02 04:24] ghost opened #912 "Improve website accessibility"
I have spotted some possible improvements that would help make up-for-grabs.net more accessible to all users. Some possible changes that I suggest would be:
- [ ] Include labels for inputs (helps with screen reader accessibility even if visibly hidden)
- [ ] Add ARIA attributes such as "roles" and "describedby"
- [ ] Improve keyboard navigation (I suggest that tabbing moves between project titles

[2018-04-08 11:11] shiftkey commented on #911
Closing as the account interested in contributing no longer exists, and the [Add a project](https://github.com/up-for-grabs/up-for-grabs.net#add-a-project) link is prominent enough in the README to do in the interim.

But if someone wants to take a shot at a `CONTRIBUTING.md` doc they're welcome to just submit the PR.

[2018-04-08 11:11] #911 closed, assigned to nobody

[2018-05-03 15:16] ritwik12 opened #923 "site.github.url creating a mixed content error"
Reopening issue [#238](https://github.com/github/pages-gem/issues/238#issuecomment-385857100) as suggested by @dahlbyk  in #921.

Problem - site.github.url`metadata provides http url creating a mixed content error when used on github.io pages.

Solution - making {{ site.github.url }} resolve with https if the request came over https.

[2018-05-03 16:45] dahlbyk commented on #923
We can close this by reverting adee0219411f151d3a16257a6639b7536e9ac2b5 once https://github.com/github/pages-gem/issues/238 or equivalent has been fixed.

[2018-05-04 05:04] shiftkey commented on #923
From https://github.com/github/pages-gem/issues/238#issuecomment-386470334 a few hours ago:

@dahlbyk this has been enabled on our side, so I guess we're just stuck doing a YOLO-deploy with reverting that commit?

[2018-05-04 13:57] dahlbyk commented on #923
Confirmed; view source shows `https://up-for-grabs.net` now instead of `//up-for-grabs.net`.

[2018-05-05 20:52] ritwik12 commented on #923
I also saw that, It is working with https://

[2018-05-05 20:52] ritwik12 commented on #923
So what's left now?

[2018-05-05 21:04] #923 closed, assigned to nobody

[2018-05-05 21:05] dahlbyk commented on #923
Nothing 😀

[2018-05-05 21:05] ritwik12 commented on #923
@dahlbyk :)

[2018-05-07 03:59] dahlbyk commented on #912
Ghost is gone, but any of these seem like good ideas. I do wonder about keyboard navigation; what if we used vim-style j/k to move up and down through the list?

[2018-05-07 16:30] ritwik12 opened #930 "Improving Frontend"
At present, up-for-grabs.net is great content wise and is also good in front-end, But I can see a lot of potential for improvement as there are so many great web designers who can make up-for-grabs.net a very beautiful website. I would recommend [awwwards](https://www.awwwards.com/) for getting ideas.

Few points to work on as per @camilosampedro suggestions in the comments:

- [ ] Add task filter

[2018-05-07 19:20] dahlbyk commented on #547
Would absolutely welcome JS standards (aligned roughly with how the existing code is written, if possible) configured for Prettier or equivalent. Bonus points for failing the build if formatting is incorrect.

[2018-05-07 19:35] jacobwardio commented on #547
@dahlbyk I'd like to pick this up, if it's available?

I disagree with failing a build for incorrect formatting. A build should only fail if the code being merged in would break the build.

If the code (regardless of code style) still passes its tests and runs correctly, it won't break the build when integrated, so shouldn't fail it.

I would suggest auto-rejecting any PR with incorrect formatting

[2018-05-07 19:44] ritwik12 commented on #547
@jacobwarduk Yeah, The build will pass if the code is correct (even if incorrectly formatted). So we are left with auto-rejecting PRs. But I don't think it's a good idea. I will recommend some alternative solution to this apart from these two. It will be good if there's a way to make the build fail on the basis of formatting too.
Ideas anyone?

[2018-05-07 20:21] jacobwardio commented on #547
@ritwik12 I think you may have misunderstood what I was saying.

It is perfectly possible to make the build fail if the code is incorrectly formatted. But you _shouldn't_ fail a build for incorrectly formatted code.

The code works, regardless of formatting.

Formatting is a stylistic choice, not an error in somebody's code.

It's still going to work absolutely fine if I mix tabs and spaces or omi

[2018-05-07 20:48] dahlbyk commented on #547
I mean, isn't that what a red build does? Yeah, it's functional, but we hypothetically wouldn't accept a functional-but-poorly-formatted PR anyway. Beyond the ❌ of doom, it's just semantics.

This really seems like a great opportunity to integrate with new [GitHub Checks](https://blog.github.com/2018-05-07-introducing-checks-api/), if you can figure out how to have a linter report warnings through

[2018-05-07 21:07] dahlbyk commented on #547
Boooo
![The following repositories cannot be migrated to travis-ci.com at this time because they are currently active on our legacy platform travis-ci.org. This feature will be available shortly. Please read our docs on open source migration to learn more.](https://user-images.githubusercontent.com/133987/39725178-981e1182-5210-11e8-89c8-72911ab2c3aa.png)

https://docs.travis-ci.com/user/open-sour

[2018-05-07 21:11] jacobwardio commented on #547
@dahlbyk maybe "rejecting" was a bad choice of word, however I did clarify what I meant by introducing a "pre-commit hook" which won't let you push unless your style is valid.

By doing this, you prevent having a load PRs that are failed builds, and hammering your CI server with builds that you _could know beforehand_ are going to fail.

But like I said, I suppose it's a matter of preference.

Rep

[2018-05-07 21:22] dahlbyk commented on #547
@jacobwarduk sorry, I should have clarified: I'm not against using Git hooks to improve the local development experience (good tips [here](http://codeinthehole.com/tips/tips-for-using-a-git-pre-commit-hook/)). But they [aren't automatically set up with the repo](https://stackoverflow.com/questions/3462955/putting-git-hooks-into-repository/3464399#3464399), so we would still want to including a lin

[2018-05-07 21:55] jacobwardio commented on #547
@dahlbyk okay cool, are you happy for me to pick this up and play it by ear, with regards to GitHub Checks?

[2018-05-07 21:55] jacobwardio commented on #547
@dahlbyk okay cool, are you happy for me to pick this up and play it by ear, with regards to GitHub Checks?

[2018-05-08 01:01] dahlbyk commented on #547
Go for it! Sounds like we can convert Travis to support checks as long as we're fine losing old build history, which doesn't seem like it matters for a project like this. Thoughts?

[2018-05-08 07:44] ritwik12 commented on #547
@dahlbyk I agree, I think @jacobwarduk should go for this.

[2018-05-09 13:59] jacobwardio commented on #547
@dahlbyk @ritwik12 great, got a few hours set aside this evening for coding, so will make a start on it later.

[2018-05-23 15:30] mrtnmgs commented on #511
Hi @shiftkey I tried fixing this issue a few months ago but got confused and dropped it. I'm back at it now! One issue I'm having is that the tests fail with this error: `Unknown operator forloop in index.html`. But `forloop` works and is documented here: https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#helper-variables
Shall I not use it for some reason? Or maybe the tests need an upda

[2018-05-27 07:24] shiftkey commented on #511
@mrtnmgs my best guess is that GitHub Pages probably doesn't support everything in the Liquid syntax

[2018-05-31 14:00] mrtnmgs commented on #511
I guess that makes sense! @shiftkey Thanks, I'll find a way around it...

[2018-06-03 03:54] ramlaxman opened #939 "Remove Beavy from list of projects"
[Beavy Website](http://www.beavy.xyz/)  is closed.
**Github status:** Project is inactive from last 3 years.
**Reason:** It is quite demotivating for new contributors to initiate pull request and not getting accepted for new project.

[2018-06-04 00:40] shiftkey commented on #939
@ramlaxman feel free to submit a PR to remove the file

[2018-06-04 00:52] ramlaxman commented on #939
Please check [this PR](https://github.com/up-for-grabs/up-for-grabs.net/pull/941)

[2018-06-04 00:57] #939 closed, assigned to nobody

[2018-06-08 05:02] ghost opened #945 "Order in "filter by name" option"
Ascending order by project name would be more user friendly.

[2018-06-08 06:16] ritwik12 commented on #945
@drashti4 Yes, that will be a good thing to add. Please feel free to send a PR.

[2018-06-09 05:41] ghost commented on #945
I run this project locally and I got ordered name without changing JS or any file. Is this expected output?
![screenshot 3](https://user-images.githubusercontent.com/9081004/41188083-d35b00c6-6b7d-11e8-90a0-181e363ae393.png)

[2018-06-13 18:41] ritwik12 commented on #945
@drashti4 That must be,
Also, I thought that you were talking about projects too. can you try to filter the projects too by name?

[2018-06-14 17:41] ghost commented on #945
I was talking about order project name in search bar where I'm already getting correct output in local without changing code but its not showing in site. Regarding to project I think those project which has more PR should be on top rather than alphabetical order, what do you think?

[2018-06-14 18:02] NjalTheKnut commented on #930
I have an idea that might help tremendously.  I could attempt to implement a scrolling "back to top" button that would allow users who have scrolled way down the page to get back up to the search bar without needing to scroll all the way back manually.  Other suggestions may come to me as I use the site.

[2018-06-14 18:28] ritwik12 commented on #945
@drashti4 Not PR, We can do it according to issue count. Both ways are fine.With alphabetical order every project is treated equal. What I am afraid is that if we sort according to issue count then people will look only the top projects, which will ignore the sole purpose of the website i.e to host projects so that new open source contributors can find projects to start with. I think suggestions f

[2018-06-14 18:30] ritwik12 commented on #930
@NjalTheKnut That will be a good feature, go for it.

[2018-06-14 18:38] ghost commented on #945
Getting more input is always good. I believe right now it's completely random order.

[2018-06-14 18:49] ritwik12 commented on #945
@drashti4 Yes, it is. Until then you can submit PR for sorting search field. The one mentioning this issue.

[2018-07-23 15:21] MaximRouiller commented on #261
Any progress on this?

[2018-07-23 19:15] shiftkey commented on #261
@MaximRouiller not really:

 - this needs an infrastructure that we point the browsers at, so they don't get rate-limited by calling GitHub directly
 - the infrastructure either needs to mimic GitHub API calls (pass through) while attaching a authorization token to the request (so it doesn't get rate-limited) or do some sort of aggregation
 - the infrastructure should also cache responses so it to

[2018-07-30 17:57] sunilkumarvalmiki commented on #930
hi,can i undertake the work proposed by NjalTheKnut...

[2018-07-31 16:39] NjalTheKnut commented on #930
I actually found out how to do it recently.  I am willing to do it and have a second person go over the code to ensure I am doing things in the best fashion possible.

Being somewhat inexperienced with remote team mechanics, I would appreciate a little guidance acquiring the code and making certain I don't foul up production branches in the VCS.

Also, am I allowed to introduce jQuery, if it is no

[2018-07-31 17:41] sunilkumarvalmiki commented on #930
[up-for-grabs.net-gh-pages 2.zip](https://github.com/up-for-grabs/up-for-grabs.net/files/2246438/up-for-grabs.net-gh-pages.2.zip)
-------------------------------------------------------------

![img](https://user-images.githubusercontent.com/24809771/43476735-ed64f6a8-9516-11e8-8520-b0f60ba1e00b.png)
------------------
i have completed the task...

[2018-07-31 19:47] ritwik12 commented on #930
@sunilkumarvalmiki  Can you host this on your fork? it will be easy to review that way.

[2018-08-01 13:39] sunilkumarvalmiki commented on #930
yes, i forked it to my profile.

[2018-08-01 20:08] ritwik12 commented on #930
@NjalTheKnut I meant if you can host this as github pages on your fork so that we can see it live.

[2018-08-26 00:10] Supreme-Kai commented on #930
@ritwik12 Hey there! I actually wanted to make some changes to the front-end, but I noticed the _site folder holding the index.html and stylesheets is in git.ignore. Just wanted to know if I can "un-ignore" the file or if not, how I can proceed.

[2018-08-28 12:41] shiftkey commented on #930
@Supreme-Kai

Those files are not supposed to be committed, as they are regenerated by [Jekyll](https://jekyllrb.com/) - the engine underneath GitHub Pages.

If you want to test things out on your fork, [this guide](https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/) should help ensure it is configured right. Alternatively, you can try and get Jekyll [running locall

[2018-08-29 04:31] Supreme-Kai commented on #930
@shiftkey  Hey thanks for responding. I had the environment running locally already, I was just testing the index and stylesheet from the _site folder and so naturally my changes weren't showing when I ran `git status`. My fault. That said can I be assigned to this? I have some ideas on how to tweak this style wise.

[2018-08-29 13:14] shiftkey commented on #930
@Supreme-Kai the assignee field is based on organization membership, but feel free to work on this and propose changes in a PR

[2018-09-03 16:20] ranjan-purbey commented on #945
IMO having a feature to sort projects according to a few fields (like name, date added, recent activity, number of open issues etc.) will be a great feature to have and ease new collaborators to find projects.

[2018-09-05 18:37] ritwik12 opened #989 "Problem with gem file or I guess again with Ruby version"
#987  and #988 are failing travis. Problem is with

your Gemfile

Gemfile or travis needs some correction I guess. @shiftkey Please have a look whenever you are free.

[2018-09-05 19:56] ritwik12 commented on #989
Solved in #990

[2018-09-05 19:56] #989 closed, assigned to nobody

[2018-09-07 10:07] Supreme-Kai commented on #930
Oh right, got it. Awesome, I'll do that. Thanks.

[2018-09-10 18:03] allieholcombe commented on #912
I would be interested in pursuing this a11y update.

[2018-09-11 02:48] lbeckman314 commented on #912
I opened pull request #994 that hopefully ticks two of the above boxes.

-  [x] Include labels for inputs (helps with screen reader accessibility even if visibly hidden)

- [ ] Add ARIA attributes such as "roles" and "describedby"

- [x] Improve keyboard navigation (I suggest that tabbing moves between project titles and skips project tags & "up-for-grabs" label)

- [ ] Improve semantic HTML use b

[2018-09-13 17:07] allieholcombe commented on #912
Update: I've been working on the semantic HTML use, ended up consulting some a11y experts at my company in regards to some options.  PR is forthcoming, probably next day or two.

[2018-09-30 03:28] erlend-sh commented on #250
I just ran into this today. I want to link newcomers in the Rust gamedev community to a tag combination like
`https://up-for-grabs.net/#/tags/gamedev%2Crust`.

[2018-10-03 06:41] mquinson opened #1015 "formly-js/angular-formly has been archived"
Hello,

I was lurking in the list and then I clicked on https://github.com/formly-js/angular-formly/labels/up-for-grabs

This shows a tiny banner saying " This repository has been archived by the owner. It is now read-only". It sounds like it should be removed from your list, then. Newcomers may be disappointed if they realize too late that the project is not any more welcoming contributions.

Als

[2018-10-05 16:04] ritwik12 commented on #1015
@mquinson Thanks for the info, appreciate your concern.

[2018-10-05 16:05] ritwik12 commented on #1015
@mquinson Your idea of automatically detecting archived projects is great and will be of great use. I am creating an issue for that so that it could be implemented.

[2018-10-05 16:10] ritwik12 opened #1024 "Automatically detect archived projects on up-for-grabs.net"
As per the idea given by @mquinson in #1015, it will be a great feature if we can detect the projects which are archived or made read-only.

[2018-10-05 19:06] Abdur-rahmaanJ commented on #1024
made read only can be detected using some external tool via github api. but archived but diff to tell

[2018-10-07 01:14] SeanKilleen opened #1028 "Permission: Add Microsoft OSS repos?"
Hi all,

I got curious after [Microsoft jumped into Hacktoberfest](https://open.microsoft.com/2018/09/18/hacktoberfest-2018-microsoft/). I wondered, since it has [2,000+ repos on GitHub](https://opensource.microsoft.com/), do they have tags that would be compatible with up-for-grabs?

I wrote a quick console app with octokit to parse it out and it looks like 1,914 repos have a `help wanted` tag or

[2018-10-07 02:08] SeanKilleen commented on #1028
At this point, I have a list of:

* All the MS public repos
* Their star counts
* The labels that fit with "up for grabs" style label names
* The count of issues in each repo associated with that label

I know some of the heavy hitters such as TypeScript and MSBuild are already listed, but I'm hoping I can help list others (and OSS this little project myself, because why not?)

[2018-10-07 20:31] ritwik12 commented on #1028
@SeanKilleen Hey, thanks for this great idea. This is really good and will be of good use to beginners. The only thing that concerns me is the huge number of repos which I think will be too much. Having too much creates confusion for others to choose and work too.

[2018-10-07 20:32] ritwik12 commented on #1028
Ping @dahlbyk and @shiftkey

[2018-10-07 20:35] ritwik12 commented on #1015
@mquinson merged

[2018-10-07 20:35] #1015 closed, assigned to nobody

[2018-10-07 23:15] dahlbyk commented on #1028
Just my personal opinion here, but if a project hasn't taken the explicit step of submitting themselves here I am not super comfortable assuming they're actually looking for help in the way we mean it. In theory that's what "help wanted" says, but it's also an easy default provided by GitHub that often means "won't fix".

Perhaps we could add links to the effect of…

With the label names linked. W

[2018-10-09 12:01] ramlaxman opened #1033 "Removed & renamed some projects."
1.  Please check [PR](https://github.com/up-for-grabs/up-for-grabs.net/pull/1034)
2.  Some projects are deleted by owners: ebooker
3.  This project has renamed domain, old domain is not valid: https://masoniteproject.com
4.  Some formatting changed in README.md

[2018-10-09 17:36] subsidel commented on #317
Apologies, GitHub is showing all amended versions of that commit for some reason.
However, I have opened a PR for this issue: https://github.com/up-for-grabs/up-for-grabs.net/pull/1036

[2018-10-09 18:06] SeanKilleen commented on #1028
@dahlbyk totally fair. I envisioned a personal curation prior to submission anyway. If I was to find the list of MS repos with those tags that looked to be in line with up-for-grabs and submit them here, would that be OK in your opinion? That way we're not adding a ton and a human has at least looked at it.

[2018-10-09 19:57] ritwik12 commented on #317
@subsidel That looks great.

[2018-10-09 20:44] dahlbyk commented on #1028
@SeanKilleen that sounds great. Thanks! If you can identify a person on the projects who tends to be assigning their up-for-grabs–ish, it seems reasonable to tag them when you submit here.

[2018-10-09 20:53] ritwik12 commented on #1028
@SeanKilleen @dahlbyk Agreed.

[2018-10-11 20:24] shiftkey commented on #1028
I'm also 👍 to some sort of curation here rather than getting them added in bulk - projects that are active and visible, projects with open issues more suited to new OSS peeps, projects with maintainers that are great at encouraging new contributors, that sort of thing...

[2018-10-11 20:29] SeanKilleen commented on #1028
Sounds good! I'll run the curation by hand and will list criteria for each in the description of the PR where I add them. I'll close this issue via that PR, or feel free to close this now if you need to for housekeeping.

[2018-10-13 11:35] ramlaxman commented on #1033
Finally done.

[2018-10-13 11:35] #1033 closed, assigned to nobody

[2018-10-13 11:36] ramlaxman opened #1046 "Change in address Coala website."
- Modifications for website address.
- Also labels for issue picking is modified.

[2018-10-13 13:18] shiftkey commented on #1046
@ramlaxman for future reference, feel free to just go straight to the pull request

[2018-10-13 13:46] ramlaxman commented on #1046
OK.

[2018-10-13 13:46] #1046 closed, assigned to nobody

[2018-10-16 07:59] dslivka1 commented on #303
Hi guys ! Still open ? I could do it.

[2018-10-17 12:03] #1024 closed, assigned to shiftkey

[2018-10-17 12:17] ritwik12 commented on #303
@dslivka1 Yes it is open, I will close this once we'll get a working PR.

[2018-10-23 17:33] mattpotato opened #1065 "js not loading when testing locally"
Hello, I am trying to run the site locally for the first time. I forked the repository and followed the instructions in the readme. When I load the site all I can see is a basic html page with no js/css.
This appears when I do inspect element.

Loading failed for the <script> with source “http://github.com/pages/matt011/up-for-grabs.net/javascripts/projectsService.js”.
Loading failed for the <scri

[2018-10-25 10:55] mattpotato commented on #1065
I fixed it by running JEKYLL_ENV=production and putting github : matt011 on config.yml

[2018-10-25 10:55] #1065 closed, assigned to nobody

[2018-10-25 17:17] ritwik12 opened #1069 "Add filter by label"
A filter by label is also a good feature to have. Solved in #1068.

Preview: http://matt011.github.io/up-for-grabs.net

[2018-10-25 17:20] #1069 closed, assigned to nobody

[2018-10-25 17:24] ritwik12 opened #1070 "Multiple filter at a time"
Right now we have three filters - `Filter by name: `, `Filter by label: ` and `Filter by tags: `
And we are able to use only one Filter at a time.
I think it will be really good to have `Filter by label` and `Filter by tags` to be used simultanously.

[2018-11-02 19:14] Areax opened #1081 "Add date/time of last commit to master branch"
I want to work on projects that have been recently edited / is currently ongoing development OR maybe had recent issues created for the project.  I don't want to go open every project I see and realize that it was last edited 2 years ago.

[2018-11-02 19:17] Areax commented on #1081
Similar to #531, but with some additional points. Closing.

[2018-11-02 19:17] #1081 closed, assigned to nobody

[2018-11-28 11:30] juliankrieger opened #1093 "Jekyll fails at getting GitHub Metadata"
Travis delivers the following error code at building recent builds. This is most likely due to https://github.com/github/pages-gem/issues/399

Error code:
`GitHub Metadata: No GitHub API authentication could be found. Some fields may be missing or have incorrect data.
   GitHub Metadata: GET https://api.github.com/repos/up-for-grabs/up-for-grabs.net/pages: 403 - API rate limit exceeded for 35.192.

[2018-11-28 11:33] juliankrieger commented on #945
Can be closed when https://github.com/up-for-grabs/up-for-grabs.net/pull/1092 is merged

[2018-12-04 04:13] isemaj commented on #665
is this still open?

[2018-12-05 10:14] ritwik12 commented on #945
Fixed!!

[2018-12-05 10:14] #945 closed, assigned to nobody

[2018-12-08 17:10] ritwik12 commented on #1070
@Isfaaq  I'm not able to assign this to you. But you may work on this as it is open.

[2018-12-08 17:16] ritwik12 opened #1105 "Fix Filter by name"
Filter by name seems to be broken after #1092 and needs a fix

[2018-12-08 17:21] #1105 closed, assigned to nobody

[2018-12-08 17:25] ritwik12 opened #1106 "Alphabetical order in Filters"
Filter by name was implemented in #1092 and fixed in #1104. It will be good to have the same for "Filter by label" and "Filter by tags"

[2018-12-09 03:19] zeyadetman commented on #1106
I fixed it in PR: [#1107](https://github.com/up-for-grabs/up-for-grabs.net/pull/1107)

[2018-12-10 05:46] ritwik12 commented on #1106
@zeyadetman #1107 is not working properly. So, this issue is still open.

[2018-12-10 16:07] ritwik12 opened #1109 "Filters ordering is case sensitive"
I noticed that the current "Filter by name:" is case sensitive and is ordering names Alphabetically but is also giving priority to Upper case.

[2018-12-10 16:25] Zarad1993 commented on #1109
I'll take this one.

[2018-12-10 16:36] ritwik12 commented on #1109
@Zarad1993 I guess we can assign only the collaborators of the repo and not to contributors. I am not able to assign it to you.

[2018-12-10 16:37] ritwik12 commented on #1109
@shiftkey Please check if you can assign other people which don't have right access to this repo.

[2018-12-11 02:00] zeyadetman commented on #1106
What's the error? it works well local.

[2018-12-11 17:27] ritwik12 commented on #1106
@ritwik12 No data is shown after applying filter.

[2018-12-11 17:28] #1109 closed, assigned to nobody

[2018-12-12 07:26] Zarad1993 commented on #1070
@ritwik12 - Is this being worked on now? I think I have something nice in mind for this.

[2018-12-12 18:08] juliankrieger commented on #1106
@ritwik12 , I have implemented this with the fix in #1111 , sorry for missing the bug in the first place

[2018-12-12 18:17] juliankrieger commented on #1106
You can preview it here ![alt text](https://raw.githubusercontent.com/juliankrieger/up-for-grabs.net/pictures/images/Screenshot_20181212_190859.png "Example 1")

and here

![alt text](https://raw.githubusercontent.com/juliankrieger/up-for-grabs.net/pictures/images/Screenshot_20181212_191049.png "Example 2")

[2018-12-12 18:21] juliankrieger commented on #1106
It also works with multiple labels, as you can see here
 ![alt text](https://raw.githubusercontent.com/juliankrieger/up-for-grabs.net/pictures/images/Screenshot_20181212_192012.png "Example 3")

[2018-12-12 18:31] juliankrieger commented on #1093
@ritwik12 I implemented this a while ago in #1100. I'd be happy if you were able to test the issue on your side, too

[2018-12-12 18:33] juliankrieger commented on #1070
@Zarad1993 not that I know of

[2018-12-12 19:52] Zarad1993 commented on #1070
@juliankrieger Ok I'm going to start on this.

[2018-12-13 16:14] ritwik12 commented on #1093
@juliankrieger Yes I saw. Sorry to keep you waiting. I was waiting for @shiftkey to review it.

[2018-12-13 16:16] ritwik12 commented on #1106
@juliankrieger Looks good

[2018-12-13 16:28] #1106 closed, assigned to nobody

[2018-12-13 16:30] ritwik12 commented on #1070
@Zarad1993 Sure, go on with this please.

[2018-12-13 16:35] ritwik12 opened #1112 "Order in list of projects"
List of projects seems random on the website. I guess we can have some sort of order like `Alphabetically`, `maximum number of  issues first` or `Most recent projects first`. Some order will be good to have.

[2018-12-13 18:18] ritwik12 opened #1113 "Site is not working on IE after #1111"
@juliankrieger Please have a look on this

[2018-12-13 22:47] juliankrieger commented on #1113
I'll look at it tomorrow when I find the time, thanks

[2018-12-13 22:56] juliankrieger commented on #1112
I think the last time I looked, the order of projects was indeed created at random. There should be a `shuffle` somewhere in either main.js or projectService.js, which is the cause of the problem

[2018-12-14 04:00] Zarad1993 commented on #303
Hi guys, is this being worked on?

[2018-12-14 16:23] ritwik12 commented on #303
@Zarad1993 No one in our knowledge. Got few PRs but closed due to lack of proper working. you may go on with this. But please have a look at previous PRs too. It will help you.

[2018-12-14 19:39] #1070 closed, assigned to nobody

[2018-12-14 19:52] #1113 closed, assigned to nobody

[2018-12-14 20:02] ritwik12 opened #1115 "Improve Filters"
Right now we are able to apply all the filters simultaneously. The only problem is that, Once we apply a filter say "Filter by tags - Python"  and we again apply another filter say "Filter by name:" or "Filter by label:" then we should only be getting the names in the SELECT list to choose which are related to "python" or labels related to "python" only. But right now there is no effect on the SEL

[2018-12-14 23:33] charstarstar opened #1116 "Clicking on a "popular" tag does not add a filter by that tag"
Clicking on a popular tag does not update the project listing to filter by that tag and the console shows a 404 after doing so. My guess is that this is due to the fact that the URL linked to for "popular" tags vs. selecting the tag manually through "Filter by tags" are different.

The a href for python's "popular" tag is:

The a href for python if clicked on in the "Filter by tags:" box is:

Proo

[2018-12-15 16:22] ritwik12 commented on #1112
@juliankrieger That could be the reason.

[2018-12-15 17:10] ritwik12 commented on #1116
@charstarstar Yes, it is an issue. Good work. Appreciate that. Also, a very good explanation.

[2018-12-15 17:10] ritwik12 commented on #1116
@charstarstar Do you want to take this issue and work on it?

[2018-12-15 17:12] ritwik12 commented on #1116
@charstarstar If you want to fix this, Have a look [here](https://github.com/up-for-grabs/up-for-grabs.net/blob/3d896714fda54d6a877c34843b48ce7da635c593/_includes/scripts.html#L26)

[2018-12-15 17:13] ritwik12 commented on #1116
@charstarstar As you are new, so if you need any help like how to make contributions. Feel free to ping me.

[2018-12-16 03:40] mallenjr opened #1119 "Clicking language tag does not change list of projects"
I'm using Firefox 63.0.3 and I see no changes in the project list when I click on one of the popular tags.

I just realized this was the most recent issue. Apologies.

[2018-12-16 03:43] #1119 closed, assigned to nobody

[2018-12-16 08:13] charstarstar commented on #1116
@ritwik12 I have a pretty good idea of the exact, one-line change to be made if we're not nesting popular tags (i.e. clicking 'python' then 'c++' yields only c++ results as opposed to projects with either)

But I've failed to get it working locally, hence making the issue as I'm loath to edit anything without having tested the change first. I see the website as relatively basic HTML (see below) be

[2018-12-16 13:30] juliankrieger commented on #1116
@charstarstar try adding the following to your _config.yml

`github: [metadata]`

Also, try leaving out the 'watch' flag when running jekyll, as that's been known to cause some issues.

You can also try rebuilding and then running by `bundle exec jekyll serve`

[2018-12-16 15:56] juliankrieger commented on #1116
@ritwik12 I've tried to fix it with the following jQuery call, however I can't seem to get it to work..

[code]

[2018-12-16 15:58] juliankrieger commented on #1112
@ritwik12 there exists the line
[code]
in projectService.js, I'll look into it when i have time

[2018-12-16 15:59] juliankrieger commented on #1116
When I log "elem" with console.log, it's just the unordered list itself.

[2018-12-16 20:54] charstarstar commented on #1116
If you want only the children perhaps something like:

[code]

There's probably a cleaner way of doing this though. Also probably want to change the a href in scripts.html as well (If you don't care about nesting etc. you could just update that to include filter?=<%-encodeURIComponent(tag)%> -- see below) because right now it just routes there anyway so it won't work beyond the first time.

Changi

[2018-12-18 13:40] shiftkey commented on #1093
I think #1100 addresses this, but let me know if you notice any future builds with the issue

[2018-12-18 13:40] #1093 closed, assigned to nobody

[2018-12-18 14:36] ritwik12 commented on #1112
@juliankrieger  Sure, take your time.

[2018-12-20 13:47] #1116 closed, assigned to nobody

[2018-12-20 13:58] ritwik12 commented on #1106
@juliankrieger Filter by tags is not Alphabetical yet, right?

[2018-12-25 11:05] juliankrieger commented on #1106
@ritwik12 no, I added it right now

[2019-01-04 10:54] richa208 opened #1131 "Add a scroll to top button"
Currently user has to scroll all the way to the top again.
Adding a button for such purpose would aid users.

[2019-01-04 12:42] ritwik12 commented on #1131
@richa208 Button to scroll or you meant pagination?

[2019-01-04 13:13] richa208 commented on #1131
@ritwik12 I referred to the button in this issue, but adding the pagination feature would also be nice.

[2019-01-05 23:10] ritwik12 commented on #1131
@richa208 Pagination is already opened in #303  and #665 and is waiting for suitable PR. Whereas I think button will also be a good feature.

[2019-01-06 18:37] #1131 closed, assigned to nobody

[2019-01-11 14:04] wanderdust commented on #1115
Hey! I've been using the website, and the filter "Filter by tags" doesn't seem to be working. It only works when you use the popular tags ones. If nobody is doing this I would like to work on it. Thanks!

[2019-01-11 20:13] wolffles commented on #250
I think this can be closed its a duplicate, and the issue might already be fixed

[2019-01-11 20:25] erlend-sh commented on #250
Duplicate of which issue though? And if it’s solved, could you please share an example of how to do an AND filter?

[2019-01-11 20:58] wolffles commented on #1115
@wanderdust I already submitted a pull request fixing it. right above your comment.

[2019-01-11 21:02] wolffles commented on #250
the duplicate is here: https://github.com/up-for-grabs/up-for-grabs.net/issues/1115
I was on the site yesterday, the filters are currently 'and'. They add upon each other already, if you select a label, then click on a popular tag it chooses all the labels with that tag... however whoever updated it missed the tags filter box which i then fixed in my pull request for the other issue. https://githu

[2019-01-16 22:39] AllanOcelot opened #1140 "Suggestion: Can we order via for 'latest commits date'"
There are alot of projects on the site that are no longer maintained / have been abandoned by their owner.

It would be great if we could sort based on last commit time.

[2019-01-21 18:53] ritwik12 commented on #1140
@AllanOcelot  Well, that will be good. Let's have it in the way of `most active` repos or `recently updated`

[2019-01-21 18:57] ritwik12 opened #1142 "Sort by Recently updated"
As per @AllanOcelot in #1140, it will be good to have a sort by `recently updated` or `most active` for projects.

[2019-01-21 18:57] ritwik12 commented on #1140
Closing this wrt #1142

[2019-01-21 18:57] #1140 closed, assigned to nobody

[2019-01-22 09:26] AllanOcelot opened #1143 "Styling: Make 'View on github' an absolute positioned button."
I shall make a PR to turn the 'View on github' link - currently top left, into a simple absolute positioned button somewhere on the site.

[2019-01-22 13:24] ritwik12 commented on #1143
Solved in #1146

[2019-01-22 13:24] #1143 closed, assigned to nobody

[2019-01-22 16:22] ritwik12 opened #1149 "Tags not working"
Tags below a project name doesn't seem to work. Also, on clicking them the website behaves badly and filters stop working too.

Reproduction steps:

 - browse to `up-for-grabs.net`
 - click one of the links in list of projects

<img width="777" alt="screen shot 2019-02-11 at 2 52 10 pm" src="https://user-images.githubusercontent.com/359239/52585978-aa1ca500-2e0c-11e9-84e2-05f3a9f39463.png">

Expec

[2019-01-22 16:26] ritwik12 opened #1150 "Popular tags not working"
Popular tags again seems to be not working.

Reproduction steps:

 - browse to `up-for-grabs.net`
 - click on `javascript` popular tag

Expected behaviour:

 - list of projects relevant to selected tag displayed

Actual behaviour:

 - no projects displayed

See #1121 and #1116  for related discussions

[2019-01-28 16:49] Zarad1993 commented on #1142
Hey @ritwik12 - Just breaking down this, since we don't have `timestamps` on the project information. I believe we will be tracking down by using GH APIs
Maybe `recently updated` by hitting each repository on GH to pull down the latest PRs merged for a given week/month and sort accordingly? Hence, just a popup question, are there any keys to be stored somewhere for GH interaction in the project?

[2019-01-29 18:43] ritwik12 commented on #1142
@Zarad1993 Yes, we need to hit GH for this for each repository  and collect the last updated time for a repo.
What we can do is to collect last updated time of each repo in a file and just sort that file based on recently updated. I guess mapping based on key for projects and their recently updated time is very much needed. Doing all this from scratch will not be so easy so I will recommend using

[2019-01-29 18:44] ritwik12 commented on #1142
@Zarad1993 Since it could be a big feature request so it'll be good to break it down in steps so that help from others could also be taken if required.

[2019-01-29 18:48] ritwik12 commented on #1142
Few references for this:
https://serverfault.com/questions/401437/how-to-retrieve-the-last-modification-date-of-all-files-in-a-git-repository

https://developer.github.com/v3/repos/commits/#list-commits-on-a-repository

https://github.com/google/go-github/issues/821

[2019-01-29 18:50] ritwik12 commented on #1142
@AllanOcelot It will be good to have your reviews on this issue time to time.

[2019-01-30 11:18] Zarad1993 commented on #1142
Thanks @ritwik12 . Just a note since we don't have specific key values for `repo` and `owner`
We do store the Site's github URL and that is just **assuming** the Sites that exist on GH and not other sources.

[2019-01-30 17:02] ritwik12 commented on #1142
@Zarad1993 Yeah, also not all site URL are github repo URLs but approx 80-90 percent URL are github URLs.

[2019-01-31 21:55] savvaspc commented on #1142
Hello guys. I'm new here and new to contributing to OSS in general. I would like to suggest using the Github Rest API v3. A simple GET request can return all info about a repo, including "updated_at" and "pushed_at". For example, https://api.github.com/repos/up-for-grabs/up-for-grabs.net returns all the info about this repository.

[2019-02-01 18:26] savvaspc commented on #1142
Update: It looks like Github API allows 60 requests/hour for unregistered requests. Using some form of OAuth can raise this to 5000/hour.

Anyway, I have created code in projectsService.js that gathers all projects with github urls, sends the requests and processes the responses to add a ''lastUpdateTime" field in _projectsData.projects[i]. I'm now working on sorting the array based on these times

[2019-02-05 10:56] utkarsh-raj commented on #1112
Is the issue still on ? @ritwik12

[2019-02-05 13:46] shiftkey commented on #1112
Some context behind the current behaviour:

 - #27 and #33 - we wanted to avoid alphabetical sorting because it favours some projects over others
 - #110 was where we refined this approach (by storing information on the client) so it was randomized the first time the user arrives on the page, but the sort order wouldn't jump around when the user reloaded the page

[2019-02-06 03:09] ryanmahan commented on #175
Is there interest in this still? What would be a good metric to display?

[2019-02-06 04:14] nicolas-raoul commented on #175
Still interested!
Good metrics to show:
- Number of pull requests merged in the last 6 months (preferably excluding self-merged ones),
- Number of different contributors who have had anything added to the version control system in the last 6 moths,
- Number of people who have posted anything (issue, comment, wiki, etc) to the project in the last 6 months,
- Medium time before a pull request is mer

[2019-02-06 08:52] ritwik12 commented on #1142
@savvas94 This looks good, Please send a PR for this for whatever you have done till now and make checks checklists for adding more code. It'll be good to do it step wise so that you'll not spend lots of time doing something different.

[2019-02-07 12:50] AllanOcelot opened #1160 "[Styling] Add styling to 'Tags'"
At the moment we display 'Tags' as simple text links - of inconsistent sizes.

We should aim to have tags consistent, I have in mind something like github labels - a simple rectangle with rounded corners, a background colour and an easy to read text colour.

I'll experiment with this myself, but raising it as an issue incase anyone else would like to attempt with an easy to implement feature.

[2019-02-07 16:58] ritwik12 commented on #1160
@AllanOcelot Great

[2019-02-11 16:37] shiftkey commented on #1150
Popular tags should be fixed in #1166, but I'm not sure about the fix for the tags in each item - it looks like it's generating an incompatible URL that the app doesn't handle.

[2019-02-11 18:31] ritwik12 opened #1167 "Test PR builds before merging"

[2019-02-11 18:32] ritwik12 commented on #1167
WIP in #1166

[2019-02-11 18:35] ritwik12 opened #1168 "Add Docs for JS modules working"

[2019-02-11 18:39] ritwik12 opened #1169 "Add Jest to run tests"

[2019-02-11 18:42] shiftkey commented on #1167
This is already wired up, and no further work is needed.

[2019-02-11 18:42] #1167 closed, assigned to nobody

[2019-02-11 18:56] AllanOcelot opened #1170 "styling overhaul discussion and tasks"
Here are a list of simple design tweaks that could make UFG look more modern, with minimal effort, this discussion is on the back of #1163  PR .

Please feel free to discuss my points below, or, to take a point and make a PR out of it, with the aim of getting the change merged into UFG.  Each point has been given more description below.

### Tasks
- [ ] Redesign Header / Banner
- [ ] Redesign the

[2019-02-11 19:24] shiftkey commented on #547
I'm going to close this out as I've settled on ESLint and Prettier as a baseline in #1152. There's plenty of exclusions I've added here to ensure the initial PR wasn't disruptive at all to the previous style, but if someone wants to improve things that's the place to go:

https://github.com/up-for-grabs/up-for-grabs.net/blob/fb5c13f27385a424164f0c4860a3ccba01bede9c/.eslintrc.json

Having pre-commi

[2019-02-11 19:24] #547 closed, assigned to nobody

[2019-02-17 15:16] lsmith77 commented on #344
I would also really love to see support for multiple labels like “great first issue”, “mentor available”, “help needed” .. I am afraid of just labeling certain tickets as “great first issue” that might overwhelm some people .. with multiple labels we can “fine tune” the challenges a bit more

[2019-02-23 15:31] #1168 closed, assigned to shiftkey

[2019-02-23 15:31] #1169 closed, assigned to shiftkey

[2019-02-23 15:31] #1149 closed, assigned to shiftkey

[2019-02-26 12:38] ritwik12 commented on #1168
@shiftkey Should we make Docs accessible too? Such as including a link to those in README or creating a wiki tab for it.

[2019-02-26 12:41] shiftkey commented on #1168
Two things come to mind:

 - update the `README.md` to link to the docs section
 - write a proper `CONTRIBUTING.md` that details about contributing to the client-side functionality and links to the specific documentation worth reading

[2019-02-26 13:01] ritwik12 commented on #1168
@shiftkey Second one should be more appropriate.

[2019-02-26 13:03] ritwik12 commented on #1168
@jackycodes You can have a look here, will be useful for your project.

[2019-03-07 04:17] prakash03 opened #1184 "Filter by tags doesnt work"
Filter by tags doesn't seem to work.

Steps to reproduce:
* Browse for any language in the 'Filter by tags:' section
* choose the language from the suggestions

Expected behavior:
* If there are any projects available they should show up

Actual behavior:
* No results show up

[2019-03-09 03:50] User5842 commented on #1160
I've noticed that the popular tags also do not have any `cursor: pointer` declaration attached to their stylings. Other `a` tags on the page do have the style so it could be a good idea to add them here as well.

[2019-03-11 15:31] prakash03 commented on #1184
Could any of the maintainers confirm if this issue can be approved? I would love to work on it!

[2019-03-11 15:37] ritwik12 commented on #1184
@prakash03 Hey, this used to work properly. @shiftkey made some changes to the code. Maybe it's as expected for now. It will be best if he'll tell about this.

[2019-03-12 00:13] shiftkey commented on #1184
@prakash03 the problem is with the URL that gets updated after choosing an item in the list.

If you check the URL you'll see it looks like this:

<img width="384" src="https://user-images.githubusercontent.com/359239/54166047-19a0a700-4442-11e9-9880-8b29a80f5b12.png">

When you click on a tag link you'll see the URL looks a bit different:

<img width="397" src="https://user-images.githubuserconte

[2019-03-12 03:37] prakash03 commented on #1184
Thanks for the update @shiftkey! I will work on it.

[2019-03-21 03:05] catherineluse commented on #886
Can I claim this issue?

[2019-03-21 03:37] catherineluse commented on #912
I can add ARIA attributes

[2019-03-26 22:22] itaigilo commented on #1184
Opened a PR fixing this: #1196.

[2019-03-28 19:10] ritwik12 commented on #912
@catherineluse Please go with it. Thanks for taking interest :)

[2019-04-07 20:29] #1184 closed, assigned to nobody

[2019-05-06 06:31] ritwik12 opened #1220 "Bundle failing in Travis"
[code]

[2019-05-06 12:46] #1220 closed, assigned to shiftkey

[2019-06-10 01:54] j-dover opened #1240 "Update link to esfiddle repository's issues"
Hello all,

As I was browsing the Up-for-Grabs website, I noticed that the link to the esfiddle repository's issues page goes to its [old repo](https://github.com/esfiddle/esfiddle/labels/up-for-grabs) instead of its new repository.

The [old repository](https://github.com/esfiddle/esfiddle) mentioned that it is now being developed on this [new repository](https://github.com/esfiddle/site).

I am

[2019-06-10 12:33] ritwik12 commented on #1240
Got it, I will update. Thanks a lot for informing.

[2019-06-23 15:25] shiftkey commented on #1240
@j-dover @ritwik12 I'm going to close this out as the issue https://github.com/esfiddle/site/issues/43 should be enough to track what needs to be changed.

If someone would like to make the change, this is the relevant contents to update:

https://github.com/up-for-grabs/up-for-grabs.net/blob/5d4c4c45f22e644583eb8d984b4e12700a6a9706/_data/projects/esfiddle.yml#L10-L12

[2019-06-23 15:25] #1240 closed, assigned to nobody

[2019-06-25 19:22] joshghent commented on #1240
Hi! Sorry this is my fault! I have submitted a PR here! https://github.com/up-for-grabs/up-for-grabs.net/pull/1255
Hope to have your help @j-dover - thanks for reporting this problem - open source wouldn't be possible without people like you ⭐

[2019-06-26 12:30] ritwik12 opened #1258 "Finding stale projects"
This is a retro issue which is already been resolved in #1257
It solves the issue of stale projects which are either archived or gives 404 when trying to access. Creating an issue to keep track of things.

[2019-06-26 12:30] #1258 closed, assigned to nobody

[2019-06-26 12:32] ritwik12 opened #1259 "Cleanup repo"
I saw lots of image files and other files lying around in the repo outside of directories, It will be better to keep them in directories to keep repo clean.

[2019-06-26 12:34] ritwik12 commented on #1259
While solving this issue better not to break things.

[2019-06-27 13:11] shiftkey commented on #1028
@SeanKilleen I'm going to close this out for housekeeping reasons, but I'd still love to see curated and active project from Microsoft that align with the goals of Up for Grabs listed here.

I worry that adding all 1900+ repositories would dwarf the existing projects listed on the site, but starting with a PR for a small sample would be a good starting point to get a feel for what this looks like.

[2019-06-27 13:11] #1028 closed, assigned to nobody

[2019-06-27 13:28] SeanKilleen commented on #1028
No worries! This did fall off my radar a little bit.

I'll work to OSS the little utility I created that surfaces up for grabs projects and then use the results to reopen this.

It will:

* Crawl an org's repos
* Look for whether those tags exist
* If they do, look for how many issues have had those tags
* Look at # stars / forks / watchers
* Spits out applicable info
* Note the Latest commit to d

[2019-06-27 14:07] shiftkey commented on #179
For the moment I'm going to leave this as a manual process, because plenty of projects seem to be happy to add a custom message here that isn't necessarily what is in the project description.

We can revisit this if we get an uptick in PRs that only change the description.

[2019-06-27 14:07] #179 closed, assigned to nobody

[2019-06-30 02:46] SeanKilleen commented on #1028
FYI, the very early days of this tool are now up at https://github.com/SeanKilleen/up-for-grabber.

I'll intend to iterate on it a bunch. For now it only gets as far as seeing how many issues with up-for-grabs style labels exist across an org, and it takes a while and the only way to really spelunk the output is with the logging to Seq locally.

More to come.

[2019-06-30 21:04] ritwik12 commented on #1028
@SeanKilleen That looks great, I have checked the repo. Waiting to see lots of PR from you in the future :P

[2019-06-30 21:32] nukeop opened #1272 "[RFC] "guided contributions" section on site"
I have added my project to up-for-grabs some time ago and since then it helped many people interesting in contributing find it. Many of those people were new to open source in general, and some of them made their first contributions in my project, which is great.

After a couple of such contributions I came up with the idea of guided contributions. While normal up-for-grabs issues are tagged so th

[2019-06-30 22:05] SeanKilleen opened #1273 "Potential entries based on up-for-grabber tool"
(Following up on #1028 now that I've built out a tool.)

Hey all -- I [built a tool](http://github.com/seankilleen/up-for-grabber) that can surface potential projects across an org for up-for-grabber.

I did this for the `microsoft` org and looked for Repos that had 25+ issues with up-for-grabs style labels where the most recent occurrence was < 90 days ago.

What I found:

[code]

My question for

[2019-06-30 22:06] SeanKilleen commented on #1273
/cc @ritwik12 since they'd responded positively to #1028.

[2019-06-30 22:28] ritwik12 commented on #1272
@nukeop That's a good thing, We can do this by simply having a tag of this type in the projects where this will be applicable. This is something that is to be done by the project owners while submitting their projects to up-for-grabs. one thing that I think we can help with is to Popularize and aware people about this tag. We can do this either by adding it to the Readme so everyone will read it o

[2019-06-30 22:35] ritwik12 commented on #1273
Hey @SeanKilleen, Thanks for this. That's good work and pretty nice results you are getting. My opinion is that you can submit PRs for the repos which are owned by organizations who are not owned by a single person or small group and are for everyone. Such as: Google, Microsoft, Mozilla, Apache, or any big Open source organizations.

But I will prefer creating an issue for the repos that are owned

[2019-07-01 02:21] SeanKilleen commented on #1259
@ritwik12 can you elaborate a little further on what else you'd like cleaned up? I've got the icons as part of #1274 but am not sure what your other goals might be for this.

[2019-07-01 02:28] SeanKilleen commented on #317
FYI I believe this was closed via #1038 and thus this issue can be closed.

[2019-07-01 20:28] ritwik12 commented on #1259
@SeanKilleen Yeah, thanks for that. I mean with every other file which might be lying here and there without any logic. This issue mainly concerns the better file structure or hierarchy to keep files of a project in open source. For eg: The same way we keep all CSS files in style named folder and main files in src folder for a website. Meaning to reduce as many files lying outside of directories a

[2019-07-01 20:33] ritwik12 commented on #317
@SeanKilleen Thanks for reminding :)

[2019-07-01 20:33] #317 closed, assigned to nobody

[2019-07-01 20:45] ritwik12 commented on #303
Closing this as #665 exists for the same and no work is being done on this.

[2019-07-01 20:45] #303 closed, assigned to nobody

[2019-07-04 15:06] m-murasovs commented on #1272
This sounds like a great idea! I'm currently in the 'graduated from tutorials/not sure about projects' stage, so a guided contribution would be very welcome. I'll probably be past this stage by the time the feature is finished, but from the present point of view, I think it will go down well.

[2019-07-11 07:29] nicolas-raoul opened #1285 "up-for-grabs.net does not show up in Google for related queries"
30 minutes ago I had trouble remembering the name of this website, so I search "_open source projects looking for volunteers_" in Google. To my surprise, the site did not appear even after reading 5 pages of results. I also searched for "_open source projects to contribute to_", but up-for-grabs.net was not listed either.

The website is **linked to** by a great number of guides/etc on the Interne

[2019-07-11 07:32] ritwik12 commented on #1285
@nicolas-raoul Hey, Thanks for opening this issue.

[2019-07-11 07:38] ritwik12 commented on #1285
@nicolas-raoul So, Google PageRank works on various factors, most basic is to look for the search KEYWORDS in the websites, then it will also look at the links which are inside that website and consists of considerable search KEYWORDS used. It works as nodes of a graph and when one link consists of those KEYWORDS and another link inside that link also consists then it scores the pages and ranks th

[2019-07-22 16:35] shiftkey commented on #1285
If someone wants to suggest changes to the keywords, this is where they live in source:

https://github.com/up-for-grabs/up-for-grabs.net/blob/ee5c5ee9815ee2d172abf2d98a390266f59e7b87/_includes/head.html#L2-L14

[2019-07-28 13:26] pherwanikar commented on #175
Is this still up for grabs?

[2019-07-29 10:12] ritwik12 commented on #175
YEah @pherwanikar

[2019-08-13 12:34] shiftkey commented on #567
I'm going to close this out as we don't have plans to use the GraphQL endpoint, but #1276 made an improvement here to show a better approximation (using the `Link` headers which indicate how many pages of results there are).

<img width="259" src="https://user-images.githubusercontent.com/359239/62941891-82070200-bdad-11e9-85ba-f332004eb6af.png">

[2019-08-13 12:34] #567 closed, assigned to nobody

[2019-08-13 12:36] shiftkey commented on #567
#261 is tracking the general problem about us being rate-limited (because we can only make unauthenticated API calls from the user's browser).

[2019-08-17 20:20] lancerutkin commented on #531
Was there ever a decision made on this? I'd love to help on handling this if I could. I just started using the site and, similar to others, found that a lot of the repos I was going into were not actively being maintained.

It would be nice to sort based on some activity metric. It might also be nice to include some other sort of relevance metric. I've got some experience working with GitHub API a

[2019-08-19 15:57] shiftkey commented on #531
@lancerutkin

We lack the ability to update the site content dynamically using the GitHub API, and historically the issue count is fetched on the client which has can be rate-limited easily. I was able to do a small proof-of-concept using GitHub Actions in #1257 and now that it's stable I'd like to explore further what we can do in this area.

If we can get to a place where we run a background tas

[2019-08-22 04:21] rsanath opened #1318 "bundler error when launching from docker-compose"
I'm unable to start the project locally using Docker.
The build succeeds but throws this error

[code]

I'm not an expert at this but I was able to get it run by regenerating the `Gemfile.lock`.
Is deleting the `Gemfile.lock` the solution? or should something be fixed elsewhere?

PS. I couldn't test it without Docker as there are lots of version conflicts with the ruby in my system.

[2019-08-22 11:25] shiftkey commented on #1318
Can you walk me through the steps you're performing here? This will help me better understand what you're trying to achieve.

Can you share what the diff is between your new lockfile and the one we have in version control? I don't think we add the lockfile to the docker container, and we [test `docker build` as part of each CI build](https://travis-ci.org/up-for-grabs/up-for-grabs.net/builds/57455

[2019-08-25 15:02] rsanath commented on #1318
I cloned the project and just executed the command

`docker-compose up --build`

here is the entire log for that command if that may help you

[code]

[2019-08-28 16:31] #1318 closed, assigned to nobody

[2019-09-03 11:08] shiftkey opened #1329 "embedding stats into projects to avoid need to update GitHub API"
I opened #1328 which is the first step towards tackling a long-time issue with the Up-for-Grabs website - **being able to show activity/stats on the site without needing to call the GitHub API from the user's browser**.

### Roadmap

The roadmap to do this consists of a few steps:

 - be able to update project files in a scripted way - #1328
 - review project lists to identify what is currently st

[2019-09-21 09:55] reitermarkus opened #1343 "Update Homebrew Cask URL"
Hi, we just wanted to let you know that you are still linking to the old Homebrew Cask homepage (`caskroom.io`) in [`Homebrew-Cask.yml`](https://github.com/up-for-grabs/up-for-grabs.net/blob/ed20e2670ff3e1dd672660201b5814e91a9ee479/_data/projects/Homebrew-Cask.yml). This domain expired a few years ago and is not controlled by Homebrew anymore.

When you get a chance, please update the link to http

[2019-09-21 15:59] shiftkey commented on #1343
@reitermarkus I went ahead and made the change in #1344

[2019-09-21 16:03] #1343 closed, assigned to shiftkey

[2019-09-25 19:48] ritwik12 opened #1359 "Welcome Hacktoberfest Visitors!"
It's great to see [up-for-grabs.net](https://up-for-grabs.net/#/) listed as a resource for starting with Open Source at [Hacktoberfest](https://hacktoberfest.digitalocean.com/details).

[Readme.md](https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/README.md) should clear all the doubts about contributing and how it all works, still if anyone has any doubt or question please feel free

[2019-09-25 20:04] shiftkey commented on #1359
@ritwik12 thanks for the heads up - I'm going to pin this and tweak the title so that others are more likely to see it!

[2019-09-26 16:58] Priyanka488 commented on #1150
@ritwik12 @shiftkey Is the issue still available ? may i work on it ?

[2019-09-26 17:01] shiftkey commented on #1150
@Priyanka488 I believe this has been resolved by #1179 (which I meant to merge earlier but forgot), and this should be deployed in a couple of minutes.

Please drop a comment back in here if you still encounter the issue.

[2019-09-26 17:01] #1150 closed, assigned to shiftkey

[2019-09-26 17:05] Priyanka488 opened #1361 "Add Pagination to Results"
I searched for repositories using the Popular Tags section, and the list was quite long. Pagination will help in dividing the results - say n results per page.

[2019-09-26 17:06] shiftkey commented on #1361
@Priyanka488 thanks for the suggestion.

We have an earlier issue for this #665 so I'm going to close this out to prevent duplicating discussions - please add your thoughts to that issue.

[2019-09-26 17:06] #1361 closed, assigned to nobody

[2019-09-26 17:09] Priyanka488 commented on #665
@shiftkey @ritwik12  can I take this up ?

[2019-09-26 17:10] shiftkey commented on #665
@Priyanka488 sure. There's an old PR #887 worth looking at which I haven't had a chance to review, but I'll try and provide feedback if you open a new PR or try something different.

[2019-09-26 18:09] shiftkey commented on #261
I think I've got a solution for this ready to go in #1346. If anyone wants to test it out, this is the preview URL: https://deploy-preview-1346--up-for-grabs-test-bench.netlify.com/

[2019-09-27 13:12] ritwik12 opened #1368 "Update Readme for New Features"
Since, everyday we are making up-for-grabs.net better and better with new features. It will be good to keep everyone in the same loop so that they will be aware of what all up-for-grabs provides and uses to contribute better.

A good start will be to see the latest merged PRs with new features and Issues solved.

[2019-09-27 13:12] AllanOcelot commented on #1359
Let's hope some of these new faces stick around and help out with maintaining this Repo after Hacktoberfest 🥇

[2019-09-27 13:30] ritwik12 opened #1369 "Issue count not working"
Issue count is shown `?!` instead of the total number of issues.

[2019-09-27 13:34] shiftkey commented on #1369
@ritwik12 which project? This is the fallback behaviour when we can't hit the GitHub API to get the issue count:

 https://github.com/up-for-grabs/up-for-grabs.net/blob/41478a0be4002caff123b8668dafc6b073de4473/javascripts/main.js#L233-L235

[2019-09-27 13:43] ritwik12 commented on #1369
All projects for me

[2019-09-27 13:44] ritwik12 commented on #1369
<img width="1463" alt="Screenshot 2019-09-27 at 6 43 39 AM" src="https://user-images.githubusercontent.com/20038775/65773984-348eec00-e0f2-11e9-8efc-9a0ec7d48fc1.png">

[2019-09-27 13:45] ritwik12 commented on #1369
@shiftkey Now, as we have issue count in Stats for every project, let's fetch this directly from there. if we are facing issues with GitHub API

[2019-09-27 13:52] ritwik12 opened #1370 "Label URL is not working for Hapi project"
@geek Hey, your project label URL seems to be wrong, can you please use a new Label as your old label is not there anymore.

https://github.com/up-for-grabs/up-for-grabs.net/blob/41478a0be4002caff123b8668dafc6b073de4473/_data/projects/hapi.yml#L9-L11

[2019-09-27 13:58] ritwik12 commented on #1359
I believe many would @AllanOcelot, We did :)

[2019-09-27 14:11] shiftkey commented on #1369
@ritwik12 looks like you're being rate-limited #261 and I think #1346 is the long-term solution for that. Please test out that PR and see how it feels.

[2019-09-28 05:20] Animesh1819 opened #1374 "as a begginer"
hello, I am just a begginer

[2019-09-28 19:01] ritwik12 commented on #1369
@shiftkey Got that, thanks. Checked and it works well!!

[2019-09-28 19:01] ritwik12 commented on #1369
Let's close this after #1346 @shiftkey

[2019-09-28 19:07] ritwik12 commented on #1374
@Animesh1819 Hey, I hope you will enjoy the open source journey that you have just started. But it's not good to open an issue without any reason on a public repository. People use issues to keep track of the work on the repo. Hope you understand this. Closing it out for being inappropriate. Will be more happy to receive contributions from you in the future.

[2019-09-28 19:07] #1374 closed, assigned to nobody

[2019-09-29 01:46] ritwik12 opened #1375 "Run failed"
@shiftkey I am getting mails regarding:

`Run failed: Validate Docker - gh-pages`
`Run failed: Validate JS - gh-pages`
`Run failed: Validate Site - gh-pages `

Please check

[2019-09-30 11:47] shiftkey commented on #1375
What's the comment in the footer of the email? Here's one from when an Action ran on a branch that I created:

<img width="408" src="https://user-images.githubusercontent.com/359239/65875972-bd11c480-e35e-11e9-9450-5d6ae5e4584d.png">

I've not really looked into how Actions generate and target these notices when things fail, but there's also a link there that might help you configure it.

[2019-09-30 12:30] shiftkey commented on #1375
Click that link to find your notification settings:

<img width="463" src="https://user-images.githubusercontent.com/359239/65878596-d584dd80-e364-11e9-9414-28eeba9f3cc8.png">

If you don't care about them at this point, just uncheck all the items...

[2019-09-30 12:56] #261 closed, assigned to shiftkey

[2019-09-30 12:56] #1329 closed, assigned to shiftkey

[2019-09-30 12:56] #1369 closed, assigned to nobody

[2019-09-30 13:20] ritwik12 commented on #1375
@shiftkey I am not concerned about notifications, It is good for me. but failures that it is showing. Are those failures expected?

[2019-09-30 13:23] shiftkey commented on #1375
@ritwik12 these are the replacement TravisCI checks that we previously had in place, so I believe they are good to keep an eye on.

[2019-10-01 11:20] shiftkey opened #1393 "a way to show the newest projects added to the site"
This was mentioned in #1368 and #1390 and while I don't have any strong feelings about how this looks, it feels like something that could belong on the site itself.

[2019-10-01 11:25] shiftkey commented on #1375
I think I understand the problem here -  you're seeing these reports come in for a couple of forks in the project too?

I've traced this to some behaviour in GitHub Actions where a specific GitHub App is installed, and reported this to the team to see if we can get it fixed as it shouldn't run in this situation.

[2019-10-02 07:09] RizkyRajitha commented on #1285
hi am a new bee ,
i looked for some information on this issue ,

this suggest that we need  to submit  Google Webmaster Tools a sitemap.xml

meta tags are not considered is page ranking by google

https://stackoverflow.com/questions/14085492/is-the-google-site-verification-meta-tag-required-for-indexing

[2019-10-02 09:06] ritwik12 commented on #1285
Reading other comments in this post puts me in doubt @RizkyRajitha

[2019-10-03 10:33] ritwik12 commented on #1375
Ohh, I see. Thanks, Do you want this to be open or we good to close? Please feel free to close

[2019-10-03 11:10] shiftkey commented on #1375
Yeah, if it's just occurring for the two of us then I don't think it's worth keeping open while it's being investigated.

[2019-10-03 11:10] #1375 closed, assigned to shiftkey

[2019-10-04 10:49] ping2varshit opened #1425 "testing_container.yml"

[2019-10-04 10:49] #1425 closed, assigned to nobody

[2019-10-05 06:22] bocc opened #1429 "fbclid prevents filtering"
Hi,

when linked from FB, the fbclid parameter is automatically appended to the address, which breaks the filtering functionality.

https://up-for-grabs.net/?fbclid=<some_hash>#/filters&tags=3d

[2019-10-05 17:22] jakkuthompson commented on #1368
I've edited the README, let me know when I can get assigned.

[2019-10-05 19:06] shiftkey commented on #678
We totally did this in #697, and if you have additions to this list please submit a PR that updates this section of `script/cibuild.rb`:

https://github.com/shiftkey/up-for-grabs.net/blob/b1b9fe9272a5063382851710e9c00e9c42415ba4/scripts/cibuild.rb#L53-L83

[2019-10-05 19:06] #678 closed, assigned to nobody

[2019-10-05 19:15] shiftkey commented on #1368
I don't agree these are the best things to put into the README, because they're likely to go stale quick. What I'd like to see in the README for this project is the details that cover:

 - an introduction to what the project is about
 - if you're a project maintainer, what's important to know?
 - if you're interested in contribution, what's important to know?
 - if you're looking for more document

[2019-10-05 19:33] shiftkey commented on #617
@aph3rson apologies for the delay in replying to your idea.

I didn't really get to thinking about this because there were a lot of overlapping and competing ideas about extending the project format and I didn't want to do it in an ad-hoc way. We also didn't have a good story about making API requests on the client and GitHub would get rate-limited, but now #1346 has support for caching stats from

[2019-10-05 19:34] ritwik12 commented on #1368
@shiftkey I think I made it confusing, By `A good start will be to see the latest merged PRs with new features and Issues solved.` I meant the code changes that we do to make up-for-grabs better like the latest `stats` feature. I never meant adding details about projects being added to up-for-grabs. That's irrelevant.

I agree with you let's open issues.

[2019-10-06 11:48] #1429 closed, assigned to nobody

[2019-10-06 15:58] shiftkey opened #1444 "review current projects without active label"
The [last run](https://github.com/up-for-grabs/up-for-grabs.net/commit/ac240731d0d419ded71ab5f1d136be9e3e1fdb83/checks?check_suite_id=253451341) of our update stats action found these repositories that didn't have the label we expected:

~Cannot find label 'Help wanted' for project 'matomo-org/matomo'~ - #1448
~Cannot find label 'Help wanted' for project 'isubasinghe/COMP30022-frontend'~ - #1449
~

[2019-10-06 18:09] shiftkey commented on #1259
@ritwik12 as it's not clear to me what else needs to be done, I'm going to close this out due to inactivity. Please open new issues if there is anything else that needs work here.

[2019-10-06 18:09] #1259 closed, assigned to nobody

[2019-10-06 19:28] JoaoManoel commented on #1444
Working on this! 😄

[2019-10-06 20:05] JoaoManoel commented on #1444
I've added the "OpenRCT2" and "matomo".

I didn't find the COMP30022-frontend yml file.

I will leave the "azure-sdk-for-java" and "tldr" to another person.

Thank you 👍

[2019-10-06 20:18] filipe-gomes commented on #1444
I can jump in and do the "azure-sdk-for-java" and the "tldr"

[2019-10-06 20:29] shiftkey commented on #1444
@JoaoManoel @filipe-gomes thanks for jumping in.

I'll update the issue description as we find and propose fixes.

[2019-10-07 12:23] shiftkey opened #1459 "cibuild.rb runtime error"
Found in https://github.com/up-for-grabs/up-for-grabs.net/pull/1443:

[code]

[2019-10-07 12:36] #1459 closed, assigned to shiftkey

[2019-10-07 17:35] codingcrystals opened #1465 "Request to update README Add to Project sample code"
@shiftkey In the README under [Add a Project](https://github.com/up-for-grabs/up-for-grabs.net#add-a-project), it has this line as the sample code:

`link: *URL where users can view the tasks -- e.g. https://github.com/username/project/labels/up%20for%20grabs*`

May I submit a PR to remove the trailing `*`? You commented in my [PR#1451](https://github.com/up-for-grabs/up-for-grabs.net/pull/1451#di

[2019-10-07 17:39] shiftkey commented on #1465
@crystal-dawn I'm 👍 to revisiting that text.

It's meant to indicate a placeholder value rather than a whole sentence, and it sounds like we can make that clearer here.

[2019-10-07 18:00] codingcrystals commented on #1465
That makes sense. I'm lazy I just copy/paste 😊

[2019-10-07 18:27] XxZhang2017 commented on #1444
Hi, I just got here. May I get the task for "tldr" ?

[2019-10-07 18:35] shiftkey commented on #1444
@XxZhang2017 `tldr` has been addressed in #1449 - the only one not claimed yet is `Azure/azure-sdk-for-java`

[2019-10-07 20:56] #1370 closed, assigned to nobody

[2019-10-07 21:04] shiftkey commented on #1444
I think we're good to close this out.

Thanks @JoaoManoel and @filipe-gomes for picking this up, and @XxZhang2017 for your interest in getting involved!

[2019-10-07 21:04] #1444 closed, assigned to JoaoManoel, filipe-gomes

[2019-10-08 00:39] XxZhang2017 commented on #1444
OH, thanks. I hope that I can do something in other openings.

[2019-10-08 09:09] ritwik12 opened #1475 "all-contributors"
@shiftkey When did we started following "all-contributors"? I am not able to track it under issues or PRs, did you commited that directly? Also, with this we will be adding contributors to the list from now on? Please let me know how are we going to follow this and we can keep this Issue for tracking purposes for the users looking for an answer about how to be in that list.

[2019-10-08 09:57] BhaskarJoshi-01 commented on #1115
i want to take this issue

[2019-10-08 11:48] shiftkey commented on #1475
@ritwik12 apologies for not writing up an issue sooner - haven't had a chance to braindump my thoughts.

This idea came from stumbling across [allcontributors.org](https://allcontributors.org) as a way to simplify tracking contributors to this project in a way that overlaps with the README improvements proposed.

I installed their GitHub App into this project and have experimented with the tooling

[2019-10-08 16:21] shiftkey commented on #1465
Resolved by #1481

[2019-10-08 16:21] #1465 closed, assigned to crystal-dawn

[2019-10-09 05:32] ritwik12 commented on #1115
Sure @LuciferJoshi, go on and let us know if you have some cool implementation to make things easier. Please do check what we already have

[2019-10-09 05:34] ritwik12 commented on #1475
Great, I will keep it in mind, Thanks

[2019-10-09 05:34] #1475 closed, assigned to nobody

[2019-10-09 14:09] #511 closed, assigned to nobody

[2019-10-09 14:20] shiftkey opened #1489 "upgrade and test latest version of jquery"
1. Change the version in this line to `3.4.1` based on the latest version listed here: https://cdnjs.com/libraries/jquery

https://github.com/up-for-grabs/up-for-grabs.net/blob/65c5598277e639715b5897c7c0a7ddeca9dd263f/javascripts/app.js#L9

2. [test locally, if possible](https://github.com/up-for-grabs/up-for-grabs.net#testing-the-site-locally)

3. Commit, push, open a PR with the change

4. Test

[2019-10-09 14:23] shiftkey opened #1490 "upgrade and test latest version of promise-polyfill"
1. Change the version in this line to `@8.1.3` based on the latest version listed on NPM: https://www.npmjs.com/package/promise-polyfill

https://github.com/up-for-grabs/up-for-grabs.net/blob/65c5598277e639715b5897c7c0a7ddeca9dd263f/javascripts/app.js#L12-L13

2. [test locally, if possible](https://github.com/up-for-grabs/up-for-grabs.net#testing-the-site-locally)

3. Commit, push, open a PR with

[2019-10-09 14:26] shiftkey opened #1491 "upgrade and test latest version of showdown"
1. Change the version in this line to `1.9.0` based on the latest version listed on NPM: https://cdnjs.com/libraries/showdown

https://github.com/up-for-grabs/up-for-grabs.net/blob/75e071fcef41e943e5e9c39875edbbd9f9bd6454/javascripts/app.js#L12

2. [test locally, if possible](https://github.com/up-for-grabs/up-for-grabs.net#testing-the-site-locally)

3. Commit, push, open a PR with the change

4.

[2019-10-09 15:31] shiftkey opened #1493 "[RFC] leveraging all-contributors integration to display contributors in README"
You might have noticed some recent changes to the [README](https://github.com/up-for-grabs/up-for-grabs.net#contributors-):

<img width="939" src="https://user-images.githubusercontent.com/359239/66495181-390eb980-ea8f-11e9-8a99-b478397c72a6.png">

This is an experiment related to #1368 to address two things:

 - acknowledge contributors who help out with keeping the project going
 - encourage con

[2019-10-10 00:21] Yeshwanthyk commented on #1490
Hi, I would like to work on this? Is it open?

[2019-10-10 08:01] ritwik12 commented on #1493
That sounds great @shiftkey. I will keep it in Mind while merging PRs.

[2019-10-10 11:21] #1491 closed, assigned to nobody

[2019-10-10 11:23] shiftkey commented on #1490
@Yeshwanthyk it looks like we have an open PR #1498 which I'm reviewing at the moment

[2019-10-10 11:25] #1490 closed, assigned to nobody

[2019-10-10 11:27] #1489 closed, assigned to nobody

[2019-10-10 15:50] XxZhang2017 opened #1510 "Misspelling in Readme"
Hi, I found that there is a mis-spelling in Testing the Site Locally in the Readme.
    `bundle install`
     `bundle exec jekyll serve`
Is it supposed to be `bundle exec Jekyll server` ?

[2019-10-10 17:38] shiftkey commented on #1510
@XxZhang2017 `serve`, `server` and `s` are interchangeable (see the last line from `jekyll --help`):

[code]

[2019-10-10 17:38] #1510 closed, assigned to nobody

[2019-10-11 12:37] shiftkey opened #1513 "resolve no-var violations in javascripts/main.js"
We have some very old ESLint rules that I'd like to clean up, and our use of `var` is one of them. ES6 introduces `let` and `const` as a way to make clearer when a variable can be used, and I'd like to reduce our use of `var` where we don't need it:

If you know a bit about JS you can help out by following these steps:

 - create a new branch from `gh-pages`
 - in `javascripts/main.js` add this co

[2019-10-11 12:38] shiftkey opened #1514 "resolve no-var violations in javascripts/projectsService.js"
We have some very old ESLint rules that I'd like to clean up, and our use of `var` is one of them. ES6 introduces `let` and `const` as a way to make clearer when a variable can be used, and I'd like to reduce our use of `var` where we don't need it:

If you know a bit about JS you can help out by following these steps:

 - create a new branch from `gh-pages`
 - in `javascripts/projectsService.js`

[2019-10-11 12:47] shiftkey opened #1515 "resolve "prefer-arrow-callback" violations in javascripts/projectService.js"
We have some very old ESLint rules that I'd like to clean up, and our use of `var` is one of them. ES6 introduces `let` and `const` as a way to make clearer when a variable can be used, and I'd like to reduce our use of `var` where we don't need it:

If you know a bit about JS you can help out by following these steps:

 - create a new branch from `gh-pages`
 - in `javascripts/projectService.js` a

[2019-10-11 12:48] shiftkey opened #1516 "resolve "prefer-arrow-callback" violations in javascripts/main.js"
We have some very old ESLint rules that I'd like to clean up, and our use of `var` is one of them. ES6 introduces `let` and `const` as a way to make clearer when a variable can be used, and I'd like to reduce our use of `var` where we don't need it:

If you know a bit about JS you can help out by following these steps:

 - create a new branch from `gh-pages`
 - in `javascripts/main.js` add this co

[2019-10-11 12:48] shiftkey opened #1517 "resolve "prefer-arrow-callback" violations in javascripts/fetchIssueCount.js"
We have some very old ESLint rules that I'd like to clean up, and our use of `var` is one of them. ES6 introduces `let` and `const` as a way to make clearer when a variable can be used, and I'd like to reduce our use of `var` where we don't need it:

If you know a bit about JS you can help out by following these steps:

 - create a new branch from `gh-pages`
 - in `javascripts/fetchIssueCount.js`

[2019-10-11 13:17] r0dq commented on #1517
I'll work on this one.

[2019-10-11 14:16] firfircelik commented on #1515
@shiftkey I can take this.

[2019-10-11 14:16] firfircelik commented on #1514
@shiftkey I can take this.

[2019-10-11 14:55] shiftkey opened #1521 "investigate and resolve warnings when updating project stats"
We're not able to generate stats for these two repositories:

Cannot find label 'up for grabs' for project 'crystal-dawn/job-requirements' #1531

To resolve these, we should:

 - find the project file under `_data/projects` that uses this repository
 - check the Labels list on GitHub to see why it cannot be found any more
 - if it looks like a typo, update the file to correct the typo
 - if it loo

[2019-10-11 18:33] XxZhang2017 commented on #1513
Hi,
May I take this issue ?

[2019-10-11 19:22] r0dq commented on #1517
Pr submitted. This is my first PR so please let me know if there is something that i've missed.

[2019-10-11 19:27] shiftkey commented on #1516
Resolved by #1520

[2019-10-11 19:27] #1516 closed, assigned to nobody

[2019-10-11 19:35] shiftkey commented on #1515
Resolved by #1519

[2019-10-11 19:35] #1515 closed, assigned to firfircelik

[2019-10-11 19:43] #1517 closed, assigned to r0dq

[2019-10-11 20:37] XxZhang2017 commented on #1521
Hi, may i take this issue? I have update the stat of the project 'isubasinghe/COMP30022-frontend'.

[2019-10-11 21:15] shiftkey commented on #1521
@XxZhang2017 I've merged in #1524 which addresses that issue, and feel free to open a second PR when you figure out what's happened with the other one.

[2019-10-12 10:55] mkkhedawat opened #1532 "Adding Github Authentication"
I see many issues circling around improving UX via activity stats. It seems to me that the first step towards making them work in realtime is using Github APIs.

Has adding authentication to up-for-grabs.net been considered in the past? Given that unauthenticated hits limit to 60 req/hour.

I will be open to PR.

[2019-10-12 11:55] shiftkey commented on #1532
This has come up, but it didn't really progress. I ended up generating the stats as a periodic task (https://github.com/up-for-grabs/up-for-grabs.net/issues/1329 has the back story) which circumvents the need for the browser to use the GitHub API (I can see us cleaning that up eventually).

[2019-10-12 11:56] shiftkey commented on #1532
See #261 and #285 for related discussions

[2019-10-12 13:03] #1521 closed, assigned to XxZhang2017

[2019-10-12 14:19] XxZhang2017 commented on #1513
Hi, anything that I can do for this issue ?  Are we good now ?

[2019-10-12 15:00] shiftkey commented on #1513
@XxZhang2017 I left some suggested changes in #1523 because there was some renaming of variables that I believe affects the code now

[2019-10-13 08:36] mkkhedawat commented on #1532
I see, wasn't aware that Github Actions support cron.

[2019-10-13 14:14] shiftkey commented on #1532
@mkkhedawat correct, check out the docs https://help.github.com/en/articles/workflow-syntax-for-github-actions#onschedule

[2019-10-13 14:23] shiftkey commented on #289
We've got the infrastructure in place now to better handle these with https://github.com/up-for-grabs/up-for-grabs.net/pull/697

If someone notices more duplicate tags like these, simply add an entry here and submit a PR to merge them together:

https://github.com/up-for-grabs/up-for-grabs.net/blob/49116782858a39127c1e3b4228fdec81a95af6c4/scripts/project_validator.rb#L63-L96

[2019-10-13 14:23] #289 closed, assigned to nobody

[2019-10-13 23:09] styles225 commented on #1285
I glanced at this page: https://up-for-grabs.net/#/filters?tags=javascript

Here's what I saw after a quick glance:

- The meta description should have more keywords:

I would recommend something along the lines of: "Find and contribute to open source projects on GitHub. Use popular programming languages like JavaScript, .Net, Python and more."
- The site needs more semantic HTML like `<main>, <ar

[2019-10-14 05:26] Sayan-dev commented on #1514
i would like to work on it

[2019-10-14 11:57] shiftkey commented on #1514
@Sayan-dev I haven't heard from @firfircelik about how they're progressing on this but feel free to take a shot at it and submit a PR.

[2019-10-14 11:59] firfircelik commented on #1514
@shiftkey sorry, I was away from my pc :/ I can handle it right now.

[2019-10-14 14:03] #1514 closed, assigned to firfircelik

[2019-10-14 23:41] shiftkey opened #1552 "[RFC] A more flexible project format"
This is probably the most radical change to come to Up for Grabs in many years, and I wanted to lay out some context about why this is important, where my thinking is currently heading, and how I plan to experiment to confirm this is worth spending time on.

## Some History

There's been a number of ideas and requests on the issue tracker, some opened years ago, which were limited by how we struct

[2019-10-15 09:55] shiftkey opened #1561 "[RFC] use stale bot to close PRs that need work after period of inactivity"
We have this comment in the README about reviewing submitted projects:

I'd like to experiment with enabling this for just this subset of activity:

 - pull requests
 - labelled with `needs work`
 - after a period of 14 days
 - automatically close the issue and leave a comment

There are some projects coming up that look like an opportunity to test this out:

<img width="540" src="https://user-ima

[2019-10-15 16:35] AllanOcelot commented on #1561
Fully agree and support this.

[2019-10-16 06:30] ritwik12 commented on #1561
lgtm!! @shiftkey

[2019-10-16 11:49] #1561 closed, assigned to nobody

[2019-10-16 12:56] shiftkey commented on #1493
Gonna close this out for now but please comment if you have any additional questions about this.

[2019-10-16 12:56] #1493 closed, assigned to nobody

[2019-10-16 13:11] SeanKilleen commented on #1273
@ritwik12 @shiftkey any insights on this? It was marked stale but I'm happy to submit these items above based on the tool I created. Per @ritwik12's recommendation I'm happy to submit just the org-based items.

[2019-10-16 13:14] shiftkey commented on #1273
@SeanKilleen i still haven't really thought about this. Give me a couple of days to catch up.

The `stale` bot wasn't meant to touch issues, but instead kicked off it's default behaviour - see #1561 for context.

[2019-10-16 13:28] SeanKilleen commented on #1273
👍 No worries and no rush. I want to support the project but only if the tooling is valuable and doesn't add more noise than signal.

[2019-10-17 12:21] #1513 closed, assigned to XxZhang2017

[2019-10-18 02:45] deltafactory commented on #1112
Where does this stand? It sounds like #110 got closer but wasn't completed?

[2019-10-18 03:21] deltafactory commented on #250
Addressed by #1135?

[2019-10-18 10:10] shiftkey commented on #1112
@deltafactory I don't have any strong feelings on this (I've been mostly looking at infrastructure and maintenance tasks at the moment) but if someone wants to explore these ideas I think these categories are possible with the information we have available:

 - alphabetically (explicitly sort A-Z, or then Z-A)
 - number of issues (most projects now have stats available when rendering the site)
 -

[2019-10-18 10:16] shiftkey commented on #250
@deltafactory I'm not 100% sure - I thought I could still reproduce it. I have #729 in my backlog to review which is believed to be a fix, so I'll check again when I get to that.

[2019-10-18 12:57] deltafactory commented on #1285
Google has been moving away from indexing hash URLs for pages/single page applications.
https://www.seroundtable.com/google-no-hashtags-in-urls-26537.html

The History API can be used to build full URLs that Google would rather index, without reloading the page. Browsers without the proper support would still be able to navigate the site.

[2019-10-19 14:26] shiftkey commented on #1272
The more I think about this idea, the more I'd like to prominently display these within Up for Grabs itself - as a separate category alongside the project listing.

Rather than a dedicated tag for these, I'd like to experiment with focusing on specific tasks to ensure this doesn't get abused and that we properly vet the tasks.

If someone wants to propose some tasks that they think would be a good

[2019-10-19 19:32] shiftkey commented on #1561
Aside from the first couple of hiccups, it looks like we now have this working - #1430 and #1424 were both cleaned up using this approach.

[2019-10-30 11:48] shiftkey commented on #1532
@mkkhedawat given we have #175 and #285 which track ideas around project stats, and we have Actions to run periodically to perform authenticated API actions, I don't see the value in us making the user authenticate (which requires more infrastructure to handle the OAuth flow and manage tokens created on behalf of the user). Any objections to closing this out?

[2019-11-01 16:29] mkkhedawat commented on #1532
@shiftkey should be good to close.

[2019-11-01 20:02] #1532 closed, assigned to nobody

[2019-11-01 20:03] shiftkey commented on #1359
This has wrapped for another year - thanks to everyone for getting involved!

[2019-11-01 20:03] #1359 closed, assigned to nobody

[2019-11-04 17:11] shiftkey commented on #1368
@ritwik12 with #1614 merged I'm feeling pretty good about how the current `README` summarises and introduces the project. If we have more specific ideas for the README, I think these should be separate and more-specific discussions, like #1393.

Are we good to close this out?

[2019-11-05 12:31] ritwik12 commented on #1368
@shiftkey Lgtm!!

[2019-11-05 12:31] #1368 closed, assigned to nobody

[2019-11-08 14:42] shiftkey opened #1674 "review projects with missing labels"
Found these on a recent check of the labels:

[code]

This suggests:

 - a label is no longer used on the project
   - often this just means finding a suitable label to use in it's place
 - the label name has changed (either a typo or a full rename)
   - check the labels listed for the project, update our listing with the better match
 - the label has been dropped
   - probably a sign that a diffe

[2019-11-11 14:00] shiftkey opened #1682 "review projects that have been renamed or moved"
These projects on Up for Grabs contain GitHub repositories that have been renamed transferred to different organizations recently:

The fix for this is to check each file and update all mentions of the old repository to the new location.

[2019-11-11 21:21] #1682 closed, assigned to nobody

[2019-11-13 15:43] XxZhang2017 commented on #1674
@shiftkey I have a quick question.
For the project 'OpenRCT2' they have remove the label 'hacktoberfest'. The candidate label are 'help wanted' , 'good first issue'. Then which one will be replace with here ? I check the issue updated date for candidate label issue. They are updated last year. It is kind of old. Does it matter ?

[2019-11-13 15:52] shiftkey commented on #1674
@XxZhang2017 I had a look at these issues, sorted recently updated:

 - [`good first issue`](https://github.com/OpenRCT2/OpenRCT2/issues?q=is%3Aopen+label%3A%22good+first+issue%22+sort%3Aupdated-desc) - 19 open issues, 15 that have been updated in the last year
 - [`help wanted`](https://github.com/OpenRCT2/OpenRCT2/issues?q=is%3Aopen+label%3A%22help+wanted%22+sort%3Aupdated-desc) - 7 open issues,

[2019-11-13 17:50] XxZhang2017 commented on #1674
@shiftkey Yes! Thank you!

[2019-11-13 19:24] XxZhang2017 commented on #1674
@shiftkey There is no label suitable for the project 'raiden-network'. It may not be interested in participating. Should we remove the .yml of this project ?
As for 'home-assistant/home-assistant.io' I can find the labels 'hacktoberfest' in their project.

I want some guide to fix them. I can take this issues.

[2019-11-13 20:20] shiftkey commented on #1674
@XxZhang2017 what about [`Tag / Good First Issue`](https://github.com/raiden-network/raiden/labels/Tag%20%2F%20Good%20First%20Issue)?

[2019-11-14 01:43] XxZhang2017 commented on #1674
@shiftkey For the project OpenRCT2, there is no `hacktoberfest` label anymore. I think `good first issue `is the better choice to replace the `hacktoberfest`. What do you think of it ?

[2019-11-14 19:35] XxZhang2017 commented on #1674
@shiftkey Hi, what I did for this issue is "changing the label 'hacktoberfest' for project OpenRCT2/OpenRCT2 to 'good first issue', deleting file raiden.yml". If it is okay, please let me create a PR. Thanks.